Repository seanchatmangpt/yawl: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integrationtests, YAWL Elements, YAWL Engine, YAWL Stateless, YAWL Integration, YAWL Utilities, YAWL Resourcing, YAWL Worklet, YAWL Scheduling, YAWL Monitoring, YAWL Control Panel

fix(dx): grep -c 0-match gives exit 1 causing || fallback double-capture
  scripts/dx.sh
Due: none

fix(session-start): replace broken pgrep pattern with TCP port check for proxy detection
  .claude/hooks/session-start.sh
Due: none

fix(spotbugs+pmd): fix 36 of 49 SpotBugs violations and correct PMD 7.x exclusion format
  pmd-exclusions.properties
  yawl-ggen/src/main/java/org/yawlfoundation/yawl/ggen/api/ConversionJob.java
  yawl-ggen/src/main/java/org/yawlfoundation/yawl/ggen/api/ProcessConversionRequest.java
  yawl-ggen/src/main/java/org/yawlfoundation/yawl/ggen/api/ProcessConversionResponse.java
  yawl-ggen/src/main/java/org/yawlfoundation/yawl/ggen/api/ProcessConversionServlet.java
  yawl-ggen/src/main/java/org/yawlfoundation/yawl/ggen/mining/cloud/CelonicsMiningClient.java
  yawl-ggen/src/main/java/org/yawlfoundation/yawl/ggen/mining/cloud/SignavioClient.java
  yawl-ggen/src/main/java/org/yawlfoundation/yawl/ggen/mining/cloud/UiPathAutomationClient.java
  yawl-ggen/src/main/java/org/yawlfoundation/yawl/ggen/mining/model/PetriNet.java
  yawl-ggen/src/main/java/org/yawlfoundation/yawl/ggen/mining/model/Place.java
  yawl-ggen/src/main/java/org/yawlfoundation/yawl/ggen/mining/model/Transition.java
  yawl-ggen/src/main/java/org/yawlfoundation/yawl/ggen/mining/model/XesEvent.java
  yawl-ggen/src/main/java/org/yawlfoundation/yawl/ggen/mining/model/XesLog.java
  yawl-ggen/src/main/java/org/yawlfoundation/yawl/ggen/mining/model/XesTrace.java
Due: none

fix(spotbugs): fix remaining 13 violations + add exclusions for XesParser/RdfAstConverter
  spotbugs-exclude.xml
  yawl-ggen/src/main/java/org/yawlfoundation/yawl/ggen/mining/generators/BpelExporter.java
  yawl-ggen/src/main/java/org/yawlfoundation/yawl/ggen/mining/generators/CamundaBpmnExporter.java
  yawl-ggen/src/main/java/org/yawlfoundation/yawl/ggen/mining/generators/TerraformGenerator.java
  yawl-ggen/src/main/java/org/yawlfoundation/yawl/ggen/mining/parser/BpmnParser.java
  yawl-ggen/src/main/java/org/yawlfoundation/yawl/ggen/mining/parser/PnmlParser.java
  yawl-ggen/src/main/java/org/yawlfoundation/yawl/ggen/mining/parser/XesParser.java
  yawl-ggen/src/main/java/org/yawlfoundation/yawl/ggen/mining/rdf/RdfAstConverter.java
Due: none

fix(dx.sh): correct printf failure when grep-c outputs 0 with no matches
  scripts/dx.sh
Due: none

fix(dx): add missing modules to ALL_MODULES and fix printf error
  scripts/dx.sh
Due: none

fix(spotbugs+pmd): clear final 2 PMD violations + VA_FORMAT_STRING exclusion
  pmd-exclusions.properties
  spotbugs-exclude.xml
Due: none

fix(remote-env): resolve three Maven/Java 25/Claude Code Web issues
  .claude/hooks/session-start.sh
  .mvn/jvm.config
  maven-proxy-v2.py
Due: none

feat(gregverse): add automated self-play demo mode
  demo-results.json
  yawl-mcp-a2a-app/src/main/java/org/yawlfoundation/yawl/mcp/a2a/gregverse/GregVerseRunner.java
  yawl-mcp-a2a-app/src/main/java/org/yawlfoundation/yawl/mcp/a2a/gregverse/config/GregVerseConfig.java
  yawl-mcp-a2a-app/src/test/java/org/yawlfoundation/yawl/mcp/a2a/gregverse/GregVerseSelfPlayDemoTest.java
Due: none

fix: enable Van der Aalst pattern demo (5/5 basic patterns passing)
  .mvn/jvm.config
  yawl-mcp-a2a-app/src/main/java/org/yawlfoundation/yawl/mcp/a2a/demo/PatternDemoRunner.java
  yawl-mcp-a2a-app/src/main/java/org/yawlfoundation/yawl/mcp/a2a/demo/execution/ExecutionHarness.java
  yawl-mcp-a2a-app/src/main/java/org/yawlfoundation/yawl/mcp/a2a/example/ExtendedYamlConverter.java
Due: none

chore: update report.txt from pattern demo run
  report.txt
Due: none

fix(demo): use raw API key auth and glm-5 model for Z.AI commentary
  yawl-mcp-a2a-app/src/main/java/org/yawlfoundation/yawl/mcp/a2a/demo/PatternDemoRunner.java
Due: none

chore: update report.txt from glm-5 demo run
  report.txt
Due: none

fix(demo): use glm-4.5-air model and add system message per Z.AI docs
  report.txt
  yawl-mcp-a2a-app/src/main/java/org/yawlfoundation/yawl/mcp/a2a/demo/PatternDemoRunner.java
Due: none

fix(demo): switch Z.AI model to GLM-4.7-Flash
  report.txt
  yawl-mcp-a2a-app/src/main/java/org/yawlfoundation/yawl/mcp/a2a/demo/PatternDemoRunner.java
Due: none

Upgrade agent config defaults from GLM-4-Flash to GLM-4.7-Flash
  config/agents/notification/alert-agent.yaml
  config/agents/notification/email-agent.yaml
  config/agents/notification/sms-agent.yaml
  config/agents/orderfulfillment/carrier-agent.yaml
  config/agents/orderfulfillment/delivered-agent.yaml
  config/agents/orderfulfillment/freight-agent.yaml
  config/agents/orderfulfillment/ordering-agent.yaml
  config/agents/orderfulfillment/payment-agent.yaml
  config/agents/schema.yaml
Due: none

demo: replace LLM with ggen/PNML parsing for MCP & A2A demo
  pom.xml
  yawl-mcp-a2a-app/pom.xml
  yawl-mcp-a2a-app/src/main/java/org/yawlfoundation/yawl/mcp/a2a/example/GgenYawlMcpA2aDemo.java
Due: none

fix(gregverse): enable Z.AI API calls in self-play tests
  yawl-mcp-a2a-app/pom.xml
  yawl-mcp-a2a-app/src/test/java/org/yawlfoundation/yawl/mcp/a2a/gregverse/GregVerseSelfPlayDemoTest.java
Due: none

Fill documentation gaps across rules, phases, and validation docs
  .claude/phases/README.md
  .claude/phases/Ω-GIT-PHASE.md
  .claude/rules/engine/workflow-patterns.md
  .claude/rules/engine/worklet-service.md
  .claude/rules/integration/mcp-a2a-conventions.md
  .claude/rules/resourcing/resource-allocation.md
  .claude/rules/schema/xsd-validation.md
  .claude/rules/validation-phases/Q-INVARIANTS-DESIGN.md
Due: none

chore: update report from full 89-pattern sequential run (23/89 passing)
  report.txt
Due: none

release: promote YAWL to v6.0.0 General Availability
  CHANGELOG.md
  README.md
  docs/v6/V6-GA-RELEASE-NOTES.md
  pom.xml
  yawl-authentication/pom.xml
  yawl-benchmark/pom.xml
  yawl-control-panel/pom.xml
  yawl-elements/pom.xml
  yawl-engine/pom.xml
  yawl-ggen/pom.xml
  yawl-integration/pom.xml
  yawl-mcp-a2a-app/pom.xml
  yawl-monitoring/pom.xml
  yawl-resourcing/pom.xml
  yawl-scheduling/pom.xml
  yawl-security/pom.xml
  yawl-stateless/pom.xml
  yawl-utilities/pom.xml
  yawl-webapps/pom.xml
  yawl-webapps/yawl-engine-webapp/pom.xml
Due: none

docs: close remaining documentation gaps
  .claude/phases/README.md
  .claude/rules/team-decision-framework.md
  .claude/sparql/guards-h-empty.sparql
  .claude/sparql/guards-h-fallback.sparql
  .claude/sparql/guards-h-lie.sparql
  .claude/sparql/guards-h-mock.sparql
  .claude/sparql/guards-h-silent.sparql
  .claude/sparql/guards-h-stub.sparql
  .claude/sparql/guards-h-todo.sparql
Due: none

docs: upgrade official documentation from v5.2 to v6.0.0
  docs/explanation/architecture-comparison.md
  docs/explanation/deployment-architecture.md
  docs/explanation/enterprise-cloud.md
  docs/explanation/marketplace/aws.md
  docs/explanation/marketplace/azure.md
  docs/explanation/marketplace/gcp.md
  docs/explanation/marketplace/ibm.md
  docs/explanation/marketplace/oracle.md
  docs/explanation/marketplace/teradata.md
  docs/explanation/maven-first-architecture.md
  docs/explanation/multi-cloud-analysis.md
  docs/explanation/roadmap.md
  docs/how-to/cicd/build-migration.md
  docs/how-to/cicd/setup.md
  docs/how-to/deployment/guide.md
  docs/how-to/deployment/prerequisites.md
  docs/how-to/deployment/runbooks/incident-response.md
  docs/how-to/deployment/runbooks/security.md
  docs/how-to/deployment/spring-boot-java21.md
  docs/how-to/deployment/spring-boot.md
  docs/how-to/deployment/virtual-threads-deploy.md
  docs/how-to/developer-guide.md
  docs/how-to/faq.md
  docs/how-to/integration-consolidated.md
  docs/how-to/marketplace/aws-deploy.md
  docs/how-to/marketplace/azure-deploy.md
  docs/how-to/marketplace/gcp-deploy.md
  docs/how-to/operations/disaster-recovery.md
  docs/how-to/operations/guide.md
  docs/how-to/operations/scaling.md
  docs/how-to/operations/upgrade.md
  docs/reference/api/overview.md
  docs/reference/maven-module-dependencies.md
  docs/reference/maven-module-structure.md
  docs/reference/security-compliance.md
  docs/reference/security-overview.md
  docs/reference/slos/YAWL_SLO.md
  docs/tutorials/10-getting-started.md
  docs/tutorials/quick-start-users.md
Due: none

stress: add VirtualThreadStressTest covering all virtual thread patterns
  test/org/yawlfoundation/yawl/engine/VirtualThreadStressTest.java
Due: none

feat(testing): add Tier 1 blue ocean testing innovations
  pom.xml
  yawl-benchmark/src/test/java/org/yawlfoundation/yawl/benchmark/adversarial/AdversarialSpecFuzzerTest.java
  yawl-benchmark/src/test/java/org/yawlfoundation/yawl/benchmark/oracle/EngineOracleTest.java
  yawl-engine/src/test/java/org/yawlfoundation/yawl/engine/concurrency/VirtualThreadLockStarvationTest.java
Due: none

fix(converter): XQuery predicate conversion, condition placement, join type mapping
  report.txt
  yawl-mcp-a2a-app/src/main/java/org/yawlfoundation/yawl/mcp/a2a/example/ExtendedYamlConverter.java
Due: none

Replace stub PM tool handlers with real ProcessMiningFacade calls
  src/org/yawlfoundation/yawl/integration/a2a/skills/ProcessMiningSkill.java
  src/org/yawlfoundation/yawl/integration/mcp/spec/YawlProcessMiningToolSpecifications.java
Due: unittests, integrationtests

feat(testing): add Tier 2 concurrent correctness innovations
  yawl-engine/src/test/java/org/yawlfoundation/yawl/engine/concurrency/CascadeCancellationTest.java
  yawl-engine/src/test/java/org/yawlfoundation/yawl/engine/concurrency/WorkItemTimerRaceTest.java
Due: none

feat(testing): add Tier 2+3 semantic invariant and resilience innovations
  yawl-benchmark/src/test/java/org/yawlfoundation/yawl/benchmark/soak/SoakTestRunner.java
  yawl-engine/pom.xml
  yawl-engine/src/test/java/org/yawlfoundation/yawl/engine/chaos/PersistenceFaultInjector.java
  yawl-engine/src/test/java/org/yawlfoundation/yawl/engine/property/WorkflowInvariantPropertyTest.java
  yawl-engine/src/test/java/org/yawlfoundation/yawl/engine/property/YSpecificationArbitrary.java
  yawl-engine/src/test/java/org/yawlfoundation/yawl/engine/soundness/PetriNetSoundnessVerifier.java
  yawl-engine/src/test/java/org/yawlfoundation/yawl/engine/soundness/SoundnessTest.java
Due: YAWL Engine

feat(testing): add T3.3 chaos engine test for persistence fault injection
  yawl-engine/src/test/java/org/yawlfoundation/yawl/engine/chaos/ChaosEngineTest.java
Due: none

feat(mcp): wire reactor, conscience, PM, pattern synthesis — 5 blue ocean innovations
  examples/mcp/README.md
  examples/mcp/claude_desktop_config.json
  src/org/yawlfoundation/yawl/integration/conscience/ConscienceQueryLibrary.java
  src/org/yawlfoundation/yawl/integration/conscience/DecisionGraph.java
  src/org/yawlfoundation/yawl/integration/mcp/YawlMcpServer.java
  src/org/yawlfoundation/yawl/integration/mcp/spec/YawlConscienceToolSpecifications.java
  src/org/yawlfoundation/yawl/integration/mcp/spec/YawlPatternSynthesisToolSpecifications.java
  src/org/yawlfoundation/yawl/integration/reactor/LivingProcessReactor.java
  src/org/yawlfoundation/yawl/integration/synthesis/PatternBasedSynthesizer.java
  test/org/yawlfoundation/yawl/integration/conscience/ConscienceQueryLibraryTest.java
  test/org/yawlfoundation/yawl/integration/reactor/LivingProcessReactorTest.java
  test/org/yawlfoundation/yawl/integration/synthesis/PatternBasedSynthesizerTest.java
Due: unittests, integrationtests

feat(integration): close AI↔workflow loop — handoff, event store, marketplace
  src/org/yawlfoundation/yawl/integration/a2a/YawlA2AServer.java
  src/org/yawlfoundation/yawl/integration/autonomous/AgentInfoStore.java
  src/org/yawlfoundation/yawl/integration/eventsourcing/WorkflowEventStoreListener.java
  src/org/yawlfoundation/yawl/integration/mcp/YawlMcpServer.java
  src/org/yawlfoundation/yawl/integration/mcp/spec/YawlPromptSpecifications.java
  src/org/yawlfoundation/yawl/integration/processmining/ProcessMiningFacade.java
  src/org/yawlfoundation/yawl/stateless/YStatelessEngine.java
Due: unittests, integrationtests

feat(integration): 80/20 blue-ocean innovations — autonomous agents + AI autopilot + LLM orchestration
  src/org/yawlfoundation/yawl/integration/autonomous/GenericPartyAgent.java
  src/org/yawlfoundation/yawl/integration/autonomous/YamlAgentConfigLoader.java
  src/org/yawlfoundation/yawl/integration/autonomous/strategies/StaticMappingEligibilityReasoner.java
  src/org/yawlfoundation/yawl/integration/autonomous/strategies/TemplateDecisionReasoner.java
  src/org/yawlfoundation/yawl/integration/autonomous/strategies/ZaiDecisionReasonerStrategy.java
  src/org/yawlfoundation/yawl/integration/autonomous/strategies/ZaiEligibilityReasonerStrategy.java
  src/org/yawlfoundation/yawl/integration/zai/ZaiFunctionService.java
  src/org/yawlfoundation/yawl/integration/zai/ZaiWorkflowAutopilot.java
Due: unittests, integrationtests

feat(fmea): add user-level FMEA analysis (FM_U1–FM_U7)
  src/org/yawlfoundation/yawl/integration/fmea/UserFailureModeType.java
  src/org/yawlfoundation/yawl/integration/fmea/UserFmeaAnalyzer.java
  src/org/yawlfoundation/yawl/integration/fmea/UserFmeaReport.java
  src/org/yawlfoundation/yawl/integration/fmea/UserFmeaViolation.java
  src/org/yawlfoundation/yawl/integration/fmea/package-info.java
  test/org/yawlfoundation/yawl/integration/fmea/UserFmeaAnalyzerTest.java
  yawl-integration/pom.xml
Due: unittests, integrationtests

feat: add ScopedValue support for YAWL case execution
  src/org/yawlfoundation/yawl/engine/YNetRunner.java
Due: unittests, integrationtests

feat: implement StructuredTaskScope for concurrent YAWL operations
  src/org/yawlfoundation/yawl/engine/CaseContext.java
  src/org/yawlfoundation/yawl/engine/YNetRunner.java
Due: unittests, integrationtests

stress: add breaking point ramp (S8) and sustained 60s percentiles (S7)
  test/org/yawlfoundation/yawl/engine/VirtualThreadStressTest.java
Due: none

test(report): full test suite run — 835 tests, 93.1% pass rate
  .claude/receipts/test-report.md
Due: none

chore: add jqwik database file generated by property-based tests
  yawl-engine/.jqwik-database
Due: YAWL Engine

Path conditions:
  unittests: any of: src/, but not: test/**/*, **/*Test.java, **/*TestCase.java, **/*TestSuite.java, **/package-info.java, build/**/*, target/**/*, **/*.xml, **/*.xsd
  integrationtests: any of: src/, but not: test/**/*, **/*Test.java, **/*TestCase.java, **/*TestSuite.java, **/package-info.java, build/**/*, target/**/*, **/*.xml, **/*.xsd
  YAWL Elements: any of: yawl-elements/**, but not: test/**/*, **/*Test.java, **/*TestCase.java, **/*TestSuite.java, **/package-info.java, build/**/*, target/**/*, **/*.xml, **/*.xsd
  YAWL Engine: any of: yawl-engine/**, but not: test/**/*, **/*Test.java, **/*TestCase.java, **/*TestSuite.java, **/package-info.java, build/**/*, target/**/*, **/*.xml, **/*.xsd
  YAWL Stateless: any of: yawl-stateless/**, but not: test/**/*, **/*Test.java, **/*TestCase.java, **/*TestSuite.java, **/package-info.java, build/**/*, target/**/*, **/*.xml, **/*.xsd
  YAWL Integration: any of: yawl-integration/**, but not: test/**/*, **/*Test.java, **/*TestCase.java, **/*TestSuite.java, **/package-info.java, build/**/*, target/**/*, **/*.xml, **/*.xsd
  YAWL Utilities: any of: yawl-utilities/**, but not: test/**/*, **/*Test.java, **/*TestCase.java, **/*TestSuite.java, **/package-info.java, build/**/*, target/**/*, **/*.xml, **/*.xsd
  YAWL Resourcing: any of: yawl-resourcing/**, but not: test/**/*, **/*Test.java, **/*TestCase.java, **/*TestSuite.java, **/package-info.java, build/**/*, target/**/*, **/*.xml, **/*.xsd
  YAWL Worklet: any of: yawl-worklet/**, but not: test/**/*, **/*Test.java, **/*TestCase.java, **/*TestSuite.java, **/package-info.java, build/**/*, target/**/*, **/*.xml, **/*.xsd
  YAWL Scheduling: any of: yawl-scheduling/**, but not: test/**/*, **/*Test.java, **/*TestCase.java, **/*TestSuite.java, **/package-info.java, build/**/*, target/**/*, **/*.xml, **/*.xsd
  YAWL Monitoring: any of: yawl-monitoring/**, but not: test/**/*, **/*Test.java, **/*TestCase.java, **/*TestSuite.java, **/package-info.java, build/**/*, target/**/*, **/*.xml, **/*.xsd
  YAWL Control Panel: any of: yawl-control-panel/**, but not: test/**/*, **/*Test.java, **/*TestCase.java, **/*TestSuite.java, **/package-info.java, build/**/*, target/**/*, **/*.xml, **/*.xsd
