Repository seanchatmangpt/yawl: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integrationtests, YAWL Elements, YAWL Engine, YAWL Stateless, YAWL Integration, YAWL Utilities, YAWL Resourcing, YAWL Worklet, YAWL Scheduling, YAWL Monitoring, YAWL Control Panel

docs: add dedicated README.md for each Maven module POM
  README.md
  yawl-authentication/README.md
  yawl-control-panel/README.md
  yawl-elements/README.md
  yawl-engine/README.md
  yawl-integration/README.md
  yawl-monitoring/README.md
  yawl-resourcing/README.md
  yawl-scheduling/README.md
  yawl-security/README.md
  yawl-stateless/README.md
  yawl-utilities/README.md
  yawl-webapps/README.md
  yawl-webapps/yawl-engine-webapp/README.md
  yawl-worklet/README.md
Due: YAWL Elements, YAWL Engine, YAWL Stateless, YAWL Integration, YAWL Utilities, YAWL Resourcing, YAWL Worklet, YAWL Scheduling, YAWL Monitoring, YAWL Control Panel

docs: partial Diataxis fill — petri net foundations, worklet service, tutorials T03/T07
  docs/explanation/petri-net-foundations.md
  docs/explanation/worklet-service.md
  docs/tutorials/03-run-your-first-workflow.md
  docs/tutorials/07-docker-dev-environment.md
Due: none

docs(tutorials): Docker dev environment (T07) and MCP agent integration (T08)
  docs/tutorials/08-mcp-agent-integration.md
Due: none

docs: Diataxis batch 2 — explanation, how-to, reference, tutorials (agents in-flight)
  docs/explanation/case-lifecycle.md
  docs/explanation/execution-profiles.md
  docs/explanation/multi-instance-tasks.md
  docs/how-to/configure-resource-service.md
  docs/how-to/configure-spiffe.md
  docs/how-to/setup-org-model.md
  docs/reference/configuration.md
  docs/reference/yawl-schema.md
  docs/tutorials/04-write-a-yawl-specification.md
  docs/tutorials/05-call-yawl-rest-api.md
Due: none

Document test deltas: v5.2 → v6.0.0-Alpha regression analysis
  BASELINE_AND_DELTA_INDEX.md
  CURRENT_STATE_BASELINE_2026-02-18.txt
  README_BASELINE_AND_DELTA.md
  TEST_DELTA_COMPARISON_TEMPLATE.md
  VALIDATION_REPORT_2026-02-18.txt
Due: none

docs: Diataxis batch 3 — interface architecture, OR-join semantics, stateless persistence how-to
  docs/explanation/interface-architecture.md
  docs/explanation/or-join-semantics.md
  docs/how-to/enable-stateless-persistence.md
Due: none

docs(reference): environment variables reference for Docker/Kubernetes deployments
  docs/reference/environment-variables.md
Due: none

docs(tutorials): REST API client (T05) and custom work item handler (T06)
  docs/how-to/configure-multi-tenancy.md
  docs/how-to/implement-worklet-service.md
  docs/tutorials/06-write-a-custom-work-item-handler.md
Due: none

docs: Diataxis batch 4 — error codes reference, how-to guides, tutorial 06 (corrections applied)
  docs/reference/error-codes.md
Due: none

docs: add test coverage details and roadmap to every module README
  README.md
  yawl-authentication/README.md
  yawl-control-panel/README.md
  yawl-elements/README.md
  yawl-engine/README.md
  yawl-integration/README.md
  yawl-monitoring/README.md
  yawl-resourcing/README.md
  yawl-scheduling/README.md
  yawl-security/README.md
  yawl-stateless/README.md
  yawl-utilities/README.md
  yawl-webapps/README.md
  yawl-webapps/yawl-engine-webapp/README.md
  yawl-worklet/README.md
Due: YAWL Elements, YAWL Engine, YAWL Stateless, YAWL Integration, YAWL Utilities, YAWL Resourcing, YAWL Worklet, YAWL Scheduling, YAWL Monitoring, YAWL Control Panel

docs(explanation): correct worklet-service — v4 concept, not in v6; redirect to MCP/A2A alternatives
  docs/explanation/worklet-service.md
Due: none

Add virtual thread migration plan to .claude/
  .claude/PLAN-virtual-thread-migration.md
Due: none

docs(how-to): correct implement-worklet-service — v4 not in v6, reframe as MCP tool extension guide
  docs/how-to/implement-worklet-service.md
Due: none

docs(reference): implementation status delta + workflow patterns reference
  docs/reference/implementation-status.md
  docs/reference/workflow-patterns.md
Due: none

docs(tutorials): update T06 — custom handler via InterfaceBWebsideController (real v6 extension point)
  docs/tutorials/06-write-a-custom-work-item-handler.md
Due: none

docs(how-to): correct resource-service and org-model — v6 reality (JWT/OAuth2 scopes, no v4 service)
  docs/how-to/configure-resource-service.md
  docs/how-to/setup-org-model.md
Due: none

VT Phase 1+2+8 partial: ThreadFactory lambdas, Swing cleanup, persistence lock field
  src/org/yawlfoundation/yawl/engine/YPersistenceManager.java
  src/org/yawlfoundation/yawl/integration/oauth2/OAuth2TokenValidator.java
  src/org/yawlfoundation/yawl/integration/webhook/WebhookDeliveryService.java
  src/org/yawlfoundation/yawl/swingWorklist/YWorklistTableModel.java
  src/org/yawlfoundation/yawl/tooling/lsp/YawlLanguageServer.java
Due: unittests, integrationtests

VT Phase 4+5+6+7+T4: procletService/SMS/CPN/NamedThreadFactory + security/auth tests
  src/org/yawlfoundation/yawl/procletService/SingleInstanceClass.java
  src/org/yawlfoundation/yawl/procletService/connect/JavaCPN.java
  src/org/yawlfoundation/yawl/procletService/util/ThreadNotify.java
  src/org/yawlfoundation/yawl/procletService/util/ThreadTest.java
  src/org/yawlfoundation/yawl/procletService/util/TimeService.java
  src/org/yawlfoundation/yawl/smsModule/SMSSender.java
  src/org/yawlfoundation/yawl/util/NamedThreadFactory.java
  test/org/yawlfoundation/yawl/authentication/TestCsrfTokenManager.java
  test/org/yawlfoundation/yawl/security/SecurityFixesTest.java
Due: unittests, integrationtests

docs(diataxis): update master index with all new Diataxis docs from 2026-02-18 session
  docs/diataxis/INDEX.md
Due: none

Add scheduling/worklet source + tests; restore TestCsrfProtectionFilter
  src/org/yawlfoundation/yawl/scheduling/Constants.java
  src/org/yawlfoundation/yawl/scheduling/Mapping.java
  src/org/yawlfoundation/yawl/scheduling/SchedulingException.java
  src/org/yawlfoundation/yawl/worklet/RdrCondition.java
  src/org/yawlfoundation/yawl/worklet/RdrNode.java
  src/org/yawlfoundation/yawl/worklet/RdrSet.java
  src/org/yawlfoundation/yawl/worklet/RdrTree.java
  src/org/yawlfoundation/yawl/worklet/WorkletRecord.java
  src/org/yawlfoundation/yawl/worklet/package-info.java
  test/org/yawlfoundation/yawl/authentication/TestCsrfProtectionFilter.java
  test/org/yawlfoundation/yawl/scheduling/TestCalendarManager.java
  test/org/yawlfoundation/yawl/scheduling/TestSchedulingService.java
  test/org/yawlfoundation/yawl/worklet/TestRdrNode.java
  yawl-scheduling/pom.xml
Due: unittests, integrationtests

Restore and expand authentication tests (JUnit 5)
  test/org/yawlfoundation/yawl/authentication/AuthenticationTestSuite.java
  test/org/yawlfoundation/yawl/authentication/TestCsrfProtectionFilter.java
  test/org/yawlfoundation/yawl/authentication/TestCsrfTokenManager.java
Due: none

Fix blocking issues in virtual thread initialization and remove dead code
  src/org/yawlfoundation/yawl/integration/autonomous/GenericPartyAgent.java
  test/org/yawlfoundation/yawl/engine/TestPersistence.java
Due: unittests, integrationtests

Fix testImproperCompletion2 race condition with OR-join task availability
  test/org/yawlfoundation/yawl/engine/TestOrJoin.java
Due: none

Restore and expand security tests (JUnit 5)
  test/org/yawlfoundation/yawl/security/SecurityFixesTest.java
Due: none

Implement YAWL XML Best Practices for Multi-Cloud v6 Deployment
  .claude/DEFINITION-OF-DONE-YAWL-XML.md
  .claude/YAWL-XML-BEST-PRACTICES.md
  docs/v6/latest/specs/v6-release-deployment-multicloud.yawl.xml
  src/org/yawlfoundation/yawl/engine/SealedTaskExecutor.java
Due: unittests, integrationtests

Expand scheduling and worklet test coverage
  test/org/yawlfoundation/yawl/scheduling/TestCalendarManager.java
  test/org/yawlfoundation/yawl/scheduling/TestSchedulingService.java
  test/org/yawlfoundation/yawl/worklet/TestRdrCondition.java
  test/org/yawlfoundation/yawl/worklet/TestRdrSet.java
  test/org/yawlfoundation/yawl/worklet/TestRdrTree.java
  test/org/yawlfoundation/yawl/worklet/TestWorkletRecord.java
Due: none

Document comprehensive fix summary for all 3 blocking issues
  FIXES_SUMMARY_2026-02-18.txt
Due: none

Update yawl-worklet pom.xml to use JUnit 5 Jupiter for tests
  yawl-worklet/pom.xml
Due: none

fix: 15-agent observatory and POM improvements
  .gitignore
  config/checkstyle/checkstyle.xml
  config/pmd/pmd-ruleset.xml
  config/spotbugs/exclude.xml
  pom.xml
  scripts/observatory/lib/emit-facts.sh
  scripts/observatory/lib/emit-static-analysis.sh
  scripts/observatory/lib/util.sh
  scripts/observatory/observatory.sh
  test/org/yawlfoundation/yawl/TestInfrastructureSmokeTest.java
  yawl-authentication/pom.xml
  yawl-control-panel/pom.xml
  yawl-elements/pom.xml
  yawl-engine/pom.xml
  yawl-integration/pom.xml
  yawl-monitoring/pom.xml
  yawl-resourcing/pom.xml
  yawl-scheduling/pom.xml
  yawl-security/pom.xml
  yawl-stateless/pom.xml
  yawl-utilities/pom.xml
  yawl-worklet/pom.xml
Due: none

spec(example): add multi-cloud deployment YAWL workflow specification
  exampleSpecs/multi-cloud-deployment/multi-cloud-deployment.yawl
Due: none

fix: Resolve merge conflicts with master
  pom.xml
  yawl-control-panel/pom.xml
  yawl-elements/pom.xml
  yawl-resourcing/pom.xml
  yawl-scheduling/pom.xml
  yawl-security/pom.xml
  yawl-worklet/pom.xml
Due: none

Remove unnecessary yawl-worklet Maven module
  pom.xml
  yawl-worklet/README.md
  yawl-worklet/pom.xml
Due: YAWL Worklet

revert(spec): remove simplistic multi-cloud-deployment spec
  exampleSpecs/multi-cloud-deployment/multi-cloud-deployment.yawl
Due: none

Fix compilation errors: resolve missing jakarta.servlet imports and dependency chain
  pom.xml
  yawl-elements/pom.xml
  yawl-engine/pom.xml
  yawl-integration/pom.xml
  yawl-monitoring/pom.xml
  yawl-utilities/pom.xml
Due: none

feat: add YAWL v6 Definition of Done specification
  docs/v6/DEFINITION-OF-DONE.md
  docs/v6/diagrams/definition-of-done-gates.mmd
Due: none

feat: Add Java QOL/DX improvements and fix test compilation issues
  pom.xml
  src/org/yawlfoundation/yawl/engine/interfce/YHttpServlet.java
  src/org/yawlfoundation/yawl/tooling/cli/CliExceptionHelpers.java
  test/org/yawlfoundation/yawl/exceptions/TestExceptionRecovery.java
  test/org/yawlfoundation/yawl/security/SqlInjectionProtectionTest.java
  test/org/yawlfoundation/yawl/test/YawlTestBase.java
  test/org/yawlfoundation/yawl/unmarshal/TestSchemaValidation.java
  test/org/yawlfoundation/yawl/unmarshal/TestXmlSecurity.java
  test/resources/log4j2-test.xml
Due: unittests, integrationtests

Implement production deployment validation and readiness gates
  .github/workflows/production-deployment.yml
  DEPLOYMENT_IMPLEMENTATION_REPORT.md
  ci-cd/scripts/smoke-tests.sh
  ci-cd/scripts/validate-production-readiness.sh
  docs/DEPLOYMENT-READINESS-CHECKLIST.md
  docs/PRODUCTION-DEPLOYMENT-PROCESS.md
  docs/PRODUCTION-DEPLOYMENT-SUMMARY.md
Due: none

perf: optimize CI/CD pipeline parallelization for 16-core runner
  .mvn/jvm.config
  .mvn/maven.config
  CI_CD_PERFORMANCE_ANALYSIS.md
  ci-cd/baselines/pipeline-baseline.json
  ci-cd/github-actions/build.yaml
  ci-cd/scripts/perf-regression-check.sh
  ci-cd/scripts/update-baseline.sh
  pom.xml
  run-a2a-server.sh
  run-mcp-server.sh
Due: none

Path conditions:
  unittests: any of: src/, but not: test/**/*, **/*Test.java, **/*TestCase.java, **/*TestSuite.java, **/package-info.java, build/**/*, target/**/*, **/*.xml, **/*.xsd
  integrationtests: any of: src/, but not: test/**/*, **/*Test.java, **/*TestCase.java, **/*TestSuite.java, **/package-info.java, build/**/*, target/**/*, **/*.xml, **/*.xsd
  YAWL Elements: any of: yawl-elements/**, but not: test/**/*, **/*Test.java, **/*TestCase.java, **/*TestSuite.java, **/package-info.java, build/**/*, target/**/*, **/*.xml, **/*.xsd
  YAWL Engine: any of: yawl-engine/**, but not: test/**/*, **/*Test.java, **/*TestCase.java, **/*TestSuite.java, **/package-info.java, build/**/*, target/**/*, **/*.xml, **/*.xsd
  YAWL Stateless: any of: yawl-stateless/**, but not: test/**/*, **/*Test.java, **/*TestCase.java, **/*TestSuite.java, **/package-info.java, build/**/*, target/**/*, **/*.xml, **/*.xsd
  YAWL Integration: any of: yawl-integration/**, but not: test/**/*, **/*Test.java, **/*TestCase.java, **/*TestSuite.java, **/package-info.java, build/**/*, target/**/*, **/*.xml, **/*.xsd
  YAWL Utilities: any of: yawl-utilities/**, but not: test/**/*, **/*Test.java, **/*TestCase.java, **/*TestSuite.java, **/package-info.java, build/**/*, target/**/*, **/*.xml, **/*.xsd
  YAWL Resourcing: any of: yawl-resourcing/**, but not: test/**/*, **/*Test.java, **/*TestCase.java, **/*TestSuite.java, **/package-info.java, build/**/*, target/**/*, **/*.xml, **/*.xsd
  YAWL Worklet: any of: yawl-worklet/**, but not: test/**/*, **/*Test.java, **/*TestCase.java, **/*TestSuite.java, **/package-info.java, build/**/*, target/**/*, **/*.xml, **/*.xsd
  YAWL Scheduling: any of: yawl-scheduling/**, but not: test/**/*, **/*Test.java, **/*TestCase.java, **/*TestSuite.java, **/package-info.java, build/**/*, target/**/*, **/*.xml, **/*.xsd
  YAWL Monitoring: any of: yawl-monitoring/**, but not: test/**/*, **/*Test.java, **/*TestCase.java, **/*TestSuite.java, **/package-info.java, build/**/*, target/**/*, **/*.xml, **/*.xsd
  YAWL Control Panel: any of: yawl-control-panel/**, but not: test/**/*, **/*Test.java, **/*TestCase.java, **/*TestSuite.java, **/package-info.java, build/**/*, target/**/*, **/*.xml, **/*.xsd
