Repository seanchatmangpt/yawl: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integrationtests, YAWL Elements, YAWL Engine, YAWL Stateless, YAWL Integration, YAWL Utilities, YAWL Resourcing, YAWL Worklet, YAWL Scheduling, YAWL Monitoring, YAWL Control Panel

codecov.yml:

# Codecov Configuration for YAWL v5.2
# https://docs.codecov.io/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "50...100"
  
  status:
    project:
      default:
        target: 75%           # Target overall coverage
        threshold: 2%         # Allow 2% drop before failing
        base: auto
        if_not_found: success
        only_pulls: false
    
    patch:
      default:
        target: 70%           # New code should have 70%+ coverage
        threshold: 5%
        base: auto
        if_not_found: success
        only_pulls: true
    
    changes:
      default:
        if_not_found: success

  # Coverage thresholds by file
  target: auto
  
  # Minimum coverage to avoid regression
  minimum_coverage:
    project:
      default: 65%
    patch:
      default: 60%

# Comment formatting on PRs
comment:
  layout: "header, diff, files, footer"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true
  branches: null

# Files/paths to ignore
ignore:
  - "test/**/*"
  - "**/*Test.java"
  - "**/*TestCase.java"
  - "**/*TestSuite.java"
  - "**/package-info.java"
  - "build/**/*"
  - "target/**/*"
  - "**/*.xml"
  - "**/*.xsd"

# Flags for different test types
flags:
  unittests:
    paths:
      - src/
    carryforward: true
  
  integrationtests:
    paths:
      - src/
    carryforward: true

# Ignore failures from these sources
ignore_errors:
  - "jacoco"

# Notification settings
notifications:
  webhook:
    default:
      only_pulls: false
      
# Coverage display
coverage_threshold: 65%

# Module-specific targets
component_management:
  default_rules:
    statuses:
      - type: project
        target: 65%
  
  individual_components:
    # High priority modules (75% target)
    - component_id: yawl-elements
      name: YAWL Elements
      paths:
        - yawl-elements/**
      target: 75%
    
    - component_id: yawl-engine
      name: YAWL Engine
      paths:
        - yawl-engine/**
      target: 80%
    
    - component_id: yawl-stateless
      name: YAWL Stateless
      paths:
        - yawl-stateless/**
      target: 75%
    
    # Medium priority modules (70% target)
    - component_id: yawl-integration
      name: YAWL Integration
      paths:
        - yawl-integration/**
      target: 70%
    
    - component_id: yawl-utilities
      name: YAWL Utilities
      paths:
        - yawl-utilities/**
      target: 70%
    
    # Standard priority modules (65% target)
    - component_id: yawl-resourcing
      name: YAWL Resourcing
      paths:
        - yawl-resourcing/**
      target: 65%
    
    - component_id: yawl-worklet
      name: YAWL Worklet
      paths:
        - yawl-worklet/**
      target: 65%
    
    - component_id: yawl-scheduling
      name: YAWL Scheduling
      paths:
        - yawl-scheduling/**
      target: 65%
    
    - component_id: yawl-monitoring
      name: YAWL Monitoring
      paths:
        - yawl-monitoring/**
      target: 65%
    
    - component_id: yawl-control-panel
      name: YAWL Control Panel
      paths:
        - yawl-control-panel/**
      target: 65%

fix: update invariant receipt to GREEN after Q-phase exclusion fixes
  .claude/receipts/invariant-receipt.json
Due: none

chore: update scope-instruction timestamp
  .claude/memory/scope-instruction.json
Due: none

fix(self-play-loop): resolve H-guard/Q-invariant violations; add composition-count tests
  src/org/yawlfoundation/yawl/integration/selfplay/GapAnalysisEngine.java
  src/org/yawlfoundation/yawl/sim/YawlSimulator.java
  test/org/yawlfoundation/yawl/integration/selfplay/V7SelfPlayLoopTest.java
  yawl-engine/pom.xml
  yawl-integration/pom.xml
Due: unittests, integrationtests

ci: Java 21 compat — fix Java 25 APIs, H+Q guards GREEN
  .claude/hooks/hyper-validate.sh
  .claude/hooks/q-phase-invariants.sh
  pom.xml
  scripts/dx.sh
  src/org/yawlfoundation/yawl/engine/A2ACaseMonitor.java
  src/org/yawlfoundation/yawl/engine/VirtualThreadPool.java
  src/org/yawlfoundation/yawl/integration/a2a/VirtualThreadYawlA2AServer.java
  src/org/yawlfoundation/yawl/integration/claude/ClaudeCodeExecutor.java
  src/org/yawlfoundation/yawl/integration/orderfulfillment/OrderfulfillmentLauncher.java
  yawl-ggen/pom.xml
  yawl-ggen/src/main/java/org/yawlfoundation/yawl/ggen/validation/HyperStandardsValidator.java
  yawl-integration/pom.xml
  yawl-integration/src/main/java/org/yawlfoundation/yawl/integration/zai/ZaiClientFactory.java
Due: unittests, integrationtests, YAWL Integration

ci: fix remaining Java 25→21 compat across all modules
  .mvn/maven.config
  yawl-benchmark/pom.xml
  yawl-data-modelling/src/main/java/org/yawlfoundation/yawl/datamodelling/bridge/DataModellingL2.java
  yawl-erlang-bridge/yawl-erlang-bridge/pom.xml
  yawl-erlang/pom.xml
  yawl-erlang/src/main/java/org/yawlfoundation/yawl/erlang/bridge/ErlangNode.java
  yawl-erlang/src/main/resources/org/yawlfoundation/yawl/erlang/ebin/yawl_app.beam
  yawl-erlang/src/main/resources/org/yawlfoundation/yawl/erlang/ebin/yawl_echo.beam
  yawl-erlang/src/main/resources/org/yawlfoundation/yawl/erlang/ebin/yawl_echo_v1.beam
  yawl-erlang/src/main/resources/org/yawlfoundation/yawl/erlang/ebin/yawl_echo_v2.beam
  yawl-erlang/src/main/resources/org/yawlfoundation/yawl/erlang/ebin/yawl_event_relay.beam
  yawl-erlang/src/main/resources/org/yawlfoundation/yawl/erlang/ebin/yawl_process_mining.beam
  yawl-erlang/src/main/resources/org/yawlfoundation/yawl/erlang/ebin/yawl_sup.beam
  yawl-erlang/src/main/resources/org/yawlfoundation/yawl/erlang/ebin/yawl_workflow.beam
  yawl-native-bridge/src/main/java/org/yawlfoundation/yawl/nativebridge/erlang/ErlangNode.java
  yawl-native-bridge/src/main/java/org/yawlfoundation/yawl/nativebridge/qlever/NativeHandle.java
  yawl-qlever/src/main/java/org/yawlfoundation/yawl/qlever/QLeverFfiBindings.java
  yawl-utilities/pom.xml
Due: none

ci: update guard receipt and Maven CI/dev config profiles
  .mvn/maven.config.ci
  .mvn/maven.config.dev
  .yawl/.dx-state/guard-receipt.json
Due: none

chore(memory): update scope-instruction timestamp
  .claude/memory/scope-instruction.json
Due: none
