Repository seanchatmangpt/yawl: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integrationtests, YAWL Elements, YAWL Engine, YAWL Stateless, YAWL Integration, YAWL Utilities, YAWL Resourcing, YAWL Worklet, YAWL Scheduling, YAWL Monitoring, YAWL Control Panel

chore: commit session receipts and intelligence deltas
  .claude/context/receipts/1772226759157486766-_home_user_yawl_docs_tutorials_11-data-modelling-b.delta.json
  .claude/context/receipts/1772226986825801152-_root_.claude_plans_eventual-popping-rocket.md.delta.json
  .claude/context/receipts/1772227186676776175-_home_user_yawl_docs_tutorials_14-dmn-decision-ser.delta.json
  .claude/context/receipts/1772227228968731037-_home_user_yawl_docs_how-to_import-schema-formats..delta.json
  .claude/context/receipts/1772227280996338407-_home_user_yawl_docs_how-to_manage-knowledge-and-d.delta.json
  .claude/context/receipts/1772227324268236053-_home_user_yawl_docs_how-to_validate-data-schemas..delta.json
  .claude/context/receipts/1772227377889214045-_home_user_yawl_docs_how-to_evaluate-dmn-decisions.delta.json
  .claude/context/receipts/1772227450741604606-_home_user_yawl_docs_reference_data-modelling-brid.delta.json
  .claude/context/receipts/1772227510016655916-_home_user_yawl_docs_reference_dmn-decision-servic.delta.json
  .claude/context/receipts/1772227579674006580-_home_user_yawl_docs_explanation_data-modelling-wa.delta.json
  .claude/context/receipts/1772227637910235242-_home_user_yawl_docs_explanation_dmn-graalwasm-eng.delta.json
  .claude/context/receipts/1772227667304366656-_home_user_yawl_docs_diataxis_INDEX.md.delta.json
  .claude/context/receipts/1772227683858705821-_home_user_yawl_docs_diataxis_INDEX.md.delta.json
  .claude/context/receipts/1772227691740817861-_home_user_yawl_docs_diataxis_INDEX.md.delta.json
  .claude/context/receipts/1772227702922595023-_home_user_yawl_docs_diataxis_INDEX.md.delta.json
  receipts/02f376c8-2882-4886-8ca5-38e8fe6682fb.receipt.json
Due: none

Phase 1 Complete: Infrastructure scale + distributed stores (Agents 1-2)
  src/org/yawlfoundation/yawl/authentication/ApiKeyRateLimitRegistry.java
  src/org/yawlfoundation/yawl/engine/TenantBillingReportController.java
  src/org/yawlfoundation/yawl/integration/autonomous/registry/EtcdAgentRegistryClient.java
  test/org/yawlfoundation/yawl/authentication/ApiKeyRateLimitRegistryTest.java
  test/org/yawlfoundation/yawl/engine/TenantQuotaEnforcerTest.java
  test/org/yawlfoundation/yawl/observability/CostAttributorIntegrationTest.java
Due: unittests, integrationtests

chore: ignore Claude Code system files (.claude/, receipts/)
  .gitignore
Due: none

Phase 3-4 Complete: Compliance + Verticals (Agents 4-5)
  .claude/COMPLIANCE_IMPLEMENTATION.md
  src/main/resources/db/migration/V002_AuditLogImmutability.sql
  src/main/resources/db/migration/V003_QuartzSchema.sql
  src/org/yawlfoundation/yawl/integration/AuditLogShipper.java
  src/org/yawlfoundation/yawl/integration/AuditShippingException.java
  src/org/yawlfoundation/yawl/integration/AuditSink.java
  src/org/yawlfoundation/yawl/integration/GdprErasureException.java
  src/org/yawlfoundation/yawl/integration/GdprErasureService.java
  src/org/yawlfoundation/yawl/resourcing/LdapParticipantSync.java
  src/org/yawlfoundation/yawl/resourcing/LdapSyncException.java
  src/org/yawlfoundation/yawl/resourcing/SeparationOfDutyAllocator.java
  src/org/yawlfoundation/yawl/scheduling/QuartzTimerService.java
  src/test/org/yawlfoundation/yawl/resourcing/SeparationOfDutyAllocatorTest.java
Due: unittests, integrationtests

feat(stress): Add 5-agent stress test suite for breaking point analysis
  src/test/java/org/yawlfoundation/yawl/engine/VirtualThreadStressTest.java
  src/test/java/org/yawlfoundation/yawl/stress/ConnectionPoolStressTest.java
  src/test/java/org/yawlfoundation/yawl/stress/EngineStressTest.java
  src/test/java/org/yawlfoundation/yawl/stress/QueueStressTest.java
  src/test/java/org/yawlfoundation/yawl/stress/RateLimiterStressTest.java
Due: none

fix: Resolve type inference and duplicate interface issues in YEngine and ApiKeyRateLimitRegistry
  src/org/yawlfoundation/yawl/authentication/ApiKeyRateLimitRegistry.java
  src/org/yawlfoundation/yawl/engine/YEngine.java
Due: unittests, integrationtests

feat(stress): Add extended rate limiter breaking point tests
  src/test/java/org/yawlfoundation/yawl/stress/RateLimiterBreakingPointTest.java
  src/test/java/org/yawlfoundation/yawl/stress/RateLimiterExtendedStressTest.java
Due: none

feat(stress): Add VirtualThread standalone test + rate limiter report
  .claude/RATE_LIMITER_STRESS_TEST_REPORT.md
  src/test/java/org/yawlfoundation/yawl/stress/VirtualThreadBreakingPointTest.java
Due: none

docs(stress): Add virtual thread stress test results report
  .claude/STRESS_TEST_RESULTS.md
Due: none

docs: add 10-agent parallel stress test results and consolidated summary
  CONSOLIDATED_STRESS_TEST_SUMMARY.md
Due: none

fix: resolve DMN module compilation errors
  src/org/yawlfoundation/yawl/dmn/DmnCollectAggregation.java
  src/org/yawlfoundation/yawl/dmn/DmnRelationship.java
  src/org/yawlfoundation/yawl/integration/util/SkillLogger.java
Due: unittests, integrationtests

perf(event-bus): replace blocking submit() with non-blocking offer(), buffer 256→32768
  src/org/yawlfoundation/yawl/engine/spi/FlowWorkflowEventBus.java
  src/org/yawlfoundation/yawl/integration/autonomous/resilience/CircuitBreaker.java
Due: unittests, integrationtests

feat(pool): add ConnectionPoolGuard Semaphore bulkhead with 100ms fail-fast
  src/org/yawlfoundation/yawl/integration/pool/ConnectionPoolGuard.java
  src/org/yawlfoundation/yawl/integration/pool/YawlConnectionPoolConfig.java
Due: unittests, integrationtests

feat(integration): add ExternalCallGuard — Java 25 virtual thread timeout wrapper
  src/org/yawlfoundation/yawl/integration/ExternalCallGuard.java
Due: unittests, integrationtests

feat(engine): add bounded executeInParallel + submitWithTimeout using StructuredTaskScope
  src/org/yawlfoundation/yawl/engine/VirtualThreadPool.java
Due: unittests, integrationtests

test: complete 10-agent dogfood review with comprehensive stress testing
  DMN_MODULE_TEST_SUMMARY.md
  DOGFOOD_REVIEW_FINAL_REPORT.md
  TestRunner.java
  concurrency-stress-report.md
  datamodelling-module-test-report.md
  dmn-module-test-report.md
  documentation-verification-report.md
  integration-test-results.md
  jmh-benchmark-results.md
  quick-test-summary.md
  stress-test-results/ConcurrencyStressTestRunner.java
  stress-test-results/TimerRaceDebug.java
  stress-test-results/YawlConcurrencyTest.java
  stress-test-results/YawlConcurrencyTestFixed.java
  stress-test-results/concurrency-stress-report.md
  stress_test_analysis_report.md
  stress_test_results/stress_test_report_20260227_095543.md
  stress_test_results/stress_test_report_20260227_095725.md
  unit-test-suite-report.md
  virtual-thread-stress-report.md
  yawl-data-modelling/src/test/java/org/yawlfoundation/yawl/datamodelling/DataModellingBenchmark.java
Due: none

integrate: dogfood benchmarking and performance analysis from claude/dogfood-utilities-benchmarks-25109
  .claude/context/receipts/1772233548764691730-_home_user_yawl_DOGFOOD_INTEGRATION_SUMMARY.md.delta.json
  .claude/references/team-verification/00-START-HERE.md
  .claude/references/team-verification/LEAD-VERIFICATION-BRIEFING.md
  .claude/references/team-verification/TEAM-VERIFICATION-ASSIGNMENTS.md
  .claude/references/team-verification/TEAM-VERIFICATION-QUICK-REF.yaml
  .claude/references/team-verification/TEAM-VERIFICATION-STRUCTURE.json
  DOGFOOD_INTEGRATION_SUMMARY.md
  DOGFOOD_REVIEW_FINAL_REPORT.md
  docs/v6/performance/PERFORMANCE_ANALYSIS.md
  docs/v6/performance/PERFORMANCE_OPTIMIZATIONS.md
  scripts/run_stress_tests.sh
Due: none

chore: add integration session receipt
  receipts/c86c43cc-9eaf-415e-86d3-65790d30d8da.receipt.json
Due: none

fix(build): resolve pre-existing compile errors blocking Wave 2
  src/org/yawlfoundation/yawl/engine/VirtualThreadPool.java
  src/org/yawlfoundation/yawl/integration/billing/TenantBillingReportController.java
  yawl-engine/pom.xml
Due: unittests, integrationtests

feat(engine): A2ACaseMonitor bounded cycle via StructuredTaskScope + timeout
  src/org/yawlfoundation/yawl/engine/A2ACaseMonitor.java
  yawl-engine/pom.xml
Due: unittests, integrationtests

feat(engine): Interface_Client 30s read timeout ceiling, LongAdder monitoring
  src/org/yawlfoundation/yawl/engine/interfce/Interface_Client.java
Due: unittests, integrationtests

feat(integration): WebhookDeliveryService — availableProcessors pool + ExternalCallGuard timeout
  src/org/yawlfoundation/yawl/integration/webhook/WebhookDeliveryService.java
Due: unittests, integrationtests

feat(integration): SpiffeMtlsHttpClient lazy SPIFFE SSL init via ExternalCallGuard
  src/org/yawlfoundation/yawl/integration/spiffe/SpiffeMtlsHttpClient.java
Due: unittests, integrationtests

feat(build): implement Java 25 blue ocean build optimization system
  .mvn/jvm.config
  .mvn/maven-build-cache-config.xml
  .mvn/maven.config
  docker/production/Dockerfile.engine
  docker/production/README.engine.md
  docs/v6/build/BUILD_OPTIMIZATION_GUIDE.md
  k8s/base/configmap.yaml
  pom.xml
  scripts/aot/README.md
  scripts/aot/generate-aot.sh
  scripts/cds/generate-cds.sh
  scripts/dx-v2.sh
Due: none

fix(build): resolve pre-existing blockers in yawl-monitoring, yawl-resourcing
  src/org/yawlfoundation/yawl/resourcing/SeparationOfDutyAllocator.java
  yawl-monitoring/pom.xml
  yawl-resourcing/pom.xml
Due: unittests, integrationtests

feat(build): implement Part 2 build optimization system
  .github/workflows/ci.yml
  .github/workflows/performance.yml
  benchmarks/baseline.json
  docs/v6/build/BUILD_OPTIMIZATION_PART2.md
  pom.xml
  scripts/performance/benchmark-build.sh
  test/org/yawlfoundation/yawl/containers/SharedContainerFixture.java
  test/resources/junit-platform.properties
  test/resources/testcontainers.properties
  yawl-benchmark/src/main/java/org/yawlfoundation/yawl/benchmark/regression/BaselineManager.java
  yawl-utilities/src/test/java/org/yawlfoundation/yawl/test/ShardedMethodOrderer.java
Due: YAWL Utilities

feat(build): implement Part 3 parallelization optimization system
  .mvn/jvm.config
  .mvn/maven-build-cache-config.xml
  .mvn/mvnd.properties
  docs/v6/build/BUILD_OPTIMIZATION_PART3.md
  pom.xml
  scripts/dx.sh
  scripts/run-all-shards.sh
  scripts/run-integration-shards.sh
  scripts/run-shard.sh
  src/org/yawlfoundation/yawl/engine/YEngine.java
  test/resources/junit-platform.properties
  test/resources/shard-config.properties
  test/resources/testcontainers.properties
  yawl-benchmark/src/main/java/org/yawlfoundation/yawl/benchmark/regression/BaselineManager.java
Due: unittests, integrationtests

docs(thesis): PhD thesis on Java 25 resilience migration — YAWL v6
  docs/thesis-java25-resilience-2026.md
Due: none

Add yawl-dspy module foundation — Team 2 checkpoint
  yawl-dspy/pom.xml
  yawl-dspy/src/main/java/org/yawlfoundation/yawl/dspy/DspyExecutionMetrics.java
  yawl-dspy/src/main/java/org/yawlfoundation/yawl/dspy/DspyExecutionResult.java
  yawl-dspy/src/main/java/org/yawlfoundation/yawl/dspy/DspyProgram.java
  yawl-dspy/src/main/java/org/yawlfoundation/yawl/dspy/package-info.java
  yawl-dspy/src/test/resources/dspy/complex-workflow.txt
  yawl-dspy/src/test/resources/dspy/expected-powl.json
  yawl-dspy/src/test/resources/dspy/simple-workflow.txt
Due: none

Implement core DSPy integration: Python layer, Java wrapper, comprehensive tests
  src/org/yawlfoundation/yawl/dspy/DspyProgramCache.java
  src/org/yawlfoundation/yawl/dspy/PythonDspyBridge.java
  test/org/yawlfoundation/yawl/dspy/DspyProgramCacheTest.java
  test/org/yawlfoundation/yawl/dspy/PythonDspyBridgeTest.java
  yawl-dspy/src/test/java/org/yawlfoundation/yawl/dspy/A2ASkillIntegrationTest.java
  yawl-dspy/src/test/java/org/yawlfoundation/yawl/dspy/DspyIntegrationTest.java
  yawl-dspy/src/test/java/org/yawlfoundation/yawl/dspy/DspyStressTest.java
  yawl-dspy/src/test/java/org/yawlfoundation/yawl/dspy/McpToolIntegrationTest.java
  yawl-dspy/src/test/java/org/yawlfoundation/yawl/dspy/PythonDspyBridgeTest.java
  yawl-ggen/src/main/resources/polyglot/dspy_powl_generator.py
Due: unittests, integrationtests

Add Team 2 core wrapper implementation: PythonDspyBridge and LRU cache
  yawl-dspy/src/main/java/org/yawlfoundation/yawl/dspy/DspyProgramCache.java
  yawl-dspy/src/main/java/org/yawlfoundation/yawl/dspy/PythonDspyBridge.java
  yawl-dspy/src/test/java/org/yawlfoundation/yawl/dspy/DspyProgramCacheTest.java
  yawl-dspy/src/test/java/org/yawlfoundation/yawl/dspy/PythonDspyBridgeTest.java
Due: none

feat(build): implement Part 4 Maven 4 + Leyden AOT + Virtual Threads
  .github/workflows/ci.yml
  .mvn/jvm.config
  .mvn/maven-build-cache-config.xml
  .mvn/maven.config
  .mvn/wrapper/maven-wrapper.properties
  docs/v6/build/BUILD_OPTIMIZATION_PART4.md
  pom.xml
  scripts/aot/README.md
  scripts/aot/generate-aot.sh
  scripts/build-analytics.sh
  scripts/dx.sh
  test/org/yawlfoundation/yawl/aot/AotTrainingSuite.java
  test/org/yawlfoundation/yawl/observability/VirtualThreadTestMetrics.java
  test/resources/junit-platform.properties
Due: none

Phase 2: Blue Ocean Innovations — 5 parallel agents implement DSPy-powered adaptivity
  yawl-dspy/pom.xml
  yawl-dspy/src/main/java/org/yawlfoundation/yawl/dspy/PythonDspyBridge.java
  yawl-dspy/src/main/java/org/yawlfoundation/yawl/dspy/adaptation/AdaptationAction.java
  yawl-dspy/src/main/java/org/yawlfoundation/yawl/dspy/adaptation/RuntimeAdaptationAgent.java
  yawl-dspy/src/main/java/org/yawlfoundation/yawl/dspy/adaptation/WorkflowAdaptationContext.java
  yawl-dspy/src/main/java/org/yawlfoundation/yawl/dspy/forensics/AnomalyContext.java
  yawl-dspy/src/main/java/org/yawlfoundation/yawl/dspy/forensics/AnomalyForensicsEngine.java
  yawl-dspy/src/main/java/org/yawlfoundation/yawl/dspy/forensics/ForensicsReport.java
  yawl-dspy/src/main/java/org/yawlfoundation/yawl/dspy/forensics/package-info.java
  yawl-dspy/src/main/java/org/yawlfoundation/yawl/dspy/learning/BootstrapScheduler.java
  yawl-dspy/src/main/java/org/yawlfoundation/yawl/dspy/learning/CaseExampleExtractor.java
  yawl-dspy/src/main/java/org/yawlfoundation/yawl/dspy/learning/CaseLearningBootstrapper.java
  yawl-dspy/src/main/java/org/yawlfoundation/yawl/dspy/learning/DspyTrainingExample.java
  yawl-dspy/src/main/java/org/yawlfoundation/yawl/dspy/resources/PredictiveResourceRouter.java
  yawl-dspy/src/main/java/org/yawlfoundation/yawl/dspy/resources/ResourcePrediction.java
  yawl-dspy/src/main/java/org/yawlfoundation/yawl/dspy/resources/ResourcePredictionContext.java
  yawl-dspy/src/main/java/org/yawlfoundation/yawl/dspy/worklets/DspyWorkletSelector.java
  yawl-dspy/src/main/java/org/yawlfoundation/yawl/dspy/worklets/WorkletSelection.java
  yawl-dspy/src/main/java/org/yawlfoundation/yawl/dspy/worklets/WorkletSelectionContext.java
  yawl-dspy/src/test/java/org/yawlfoundation/yawl/dspy/forensics/AnomalyForensicsEngineTest.java
  yawl-dspy/src/test/java/org/yawlfoundation/yawl/dspy/learning/CaseLearningBootstrapperTest.java
  yawl-dspy/src/test/java/org/yawlfoundation/yawl/dspy/resources/PredictiveResourceRouterTest.java
  yawl-ggen/src/main/resources/polyglot/dspy_anomaly_forensics.py
  yawl-ggen/src/main/resources/polyglot/dspy_powl_generator.py
  yawl-ggen/src/main/resources/polyglot/dspy_worklet_selection.py
Due: none

Implement PredictiveResourceRouter innovation (Agent D) - Phase 2 Blue Ocean
  yawl-ggen/src/main/resources/polyglot/dspy_resource_routing.py
Due: none

Implement DspyWorkletSelector innovation (Agent E) - Phase 2 Blue Ocean
  yawl-dspy/src/test/java/org/yawlfoundation/yawl/dspy/DspyWorkletSelectorTest.java
  yawl-dspy/src/test/java/org/yawlfoundation/yawl/dspy/adaptation/RuntimeAdaptationAgentTest.java
  yawl-ggen/src/main/resources/polyglot/dspy_runtime_adaptation.py
Due: none

refine(learning): Improve bootstrap cache clearing with explicit state checking
  yawl-dspy/src/main/java/org/yawlfoundation/yawl/dspy/learning/CaseLearningBootstrapper.java
Due: none

PhD Thesis: Fortune 500 Phase Change — YAWL v6.0 + DSPy + TPOT2 + OCEL 2.0
  docs/v6/THESIS-FORTUNE500-PHASE-CHANGE-2030.md
Due: none

feat(build): Implement Phase 1 build optimization (fast-verify profile, timing metrics)
  pom.xml
  scripts/analyze-build-timings.sh
  scripts/dx.sh
  tests/validation/YEngineParallelizationTest.java
Due: none

Add fast-verify profile with comprehensive build timing metrics.
  .yawl/timings/README.md
  .yawl/timings/build-timings-schema.json
  PROFILE-FAST-VERIFY.md
Due: none

Path conditions:
  unittests: any of: src/, but not: test/**/*, **/*Test.java, **/*TestCase.java, **/*TestSuite.java, **/package-info.java, build/**/*, target/**/*, **/*.xml, **/*.xsd
  integrationtests: any of: src/, but not: test/**/*, **/*Test.java, **/*TestCase.java, **/*TestSuite.java, **/package-info.java, build/**/*, target/**/*, **/*.xml, **/*.xsd
  YAWL Elements: any of: yawl-elements/**, but not: test/**/*, **/*Test.java, **/*TestCase.java, **/*TestSuite.java, **/package-info.java, build/**/*, target/**/*, **/*.xml, **/*.xsd
  YAWL Engine: any of: yawl-engine/**, but not: test/**/*, **/*Test.java, **/*TestCase.java, **/*TestSuite.java, **/package-info.java, build/**/*, target/**/*, **/*.xml, **/*.xsd
  YAWL Stateless: any of: yawl-stateless/**, but not: test/**/*, **/*Test.java, **/*TestCase.java, **/*TestSuite.java, **/package-info.java, build/**/*, target/**/*, **/*.xml, **/*.xsd
  YAWL Integration: any of: yawl-integration/**, but not: test/**/*, **/*Test.java, **/*TestCase.java, **/*TestSuite.java, **/package-info.java, build/**/*, target/**/*, **/*.xml, **/*.xsd
  YAWL Utilities: any of: yawl-utilities/**, but not: test/**/*, **/*Test.java, **/*TestCase.java, **/*TestSuite.java, **/package-info.java, build/**/*, target/**/*, **/*.xml, **/*.xsd
  YAWL Resourcing: any of: yawl-resourcing/**, but not: test/**/*, **/*Test.java, **/*TestCase.java, **/*TestSuite.java, **/package-info.java, build/**/*, target/**/*, **/*.xml, **/*.xsd
  YAWL Worklet: any of: yawl-worklet/**, but not: test/**/*, **/*Test.java, **/*TestCase.java, **/*TestSuite.java, **/package-info.java, build/**/*, target/**/*, **/*.xml, **/*.xsd
  YAWL Scheduling: any of: yawl-scheduling/**, but not: test/**/*, **/*Test.java, **/*TestCase.java, **/*TestSuite.java, **/package-info.java, build/**/*, target/**/*, **/*.xml, **/*.xsd
  YAWL Monitoring: any of: yawl-monitoring/**, but not: test/**/*, **/*Test.java, **/*TestCase.java, **/*TestSuite.java, **/package-info.java, build/**/*, target/**/*, **/*.xml, **/*.xsd
  YAWL Control Panel: any of: yawl-control-panel/**, but not: test/**/*, **/*Test.java, **/*TestCase.java, **/*TestSuite.java, **/package-info.java, build/**/*, target/**/*, **/*.xml, **/*.xsd
