Repository seanchatmangpt/yawl: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integrationtests, YAWL Elements, YAWL Engine, YAWL Stateless, YAWL Integration, YAWL Utilities, YAWL Resourcing, YAWL Worklet, YAWL Scheduling, YAWL Monitoring, YAWL Control Panel

feat: Java 25 validation with updated dependencies and API compatibility
  legacy/ant-build/build.xml
  pom.xml
  src/org/yawlfoundation/yawl/authentication/YSessionCache.java
  src/org/yawlfoundation/yawl/elements/e2wfoj/E2WFOJNet.java
  src/org/yawlfoundation/yawl/engine/YNetRunnerRepository.java
  src/org/yawlfoundation/yawl/engine/YPersistenceManager.java
  src/org/yawlfoundation/yawl/engine/YSpecificationTable.java
  src/org/yawlfoundation/yawl/engine/YWorkItem.java
  src/org/yawlfoundation/yawl/engine/actuator/config/ActuatorConfiguration.java
  src/org/yawlfoundation/yawl/engine/gui/TabbedEngineGUI.java
  src/org/yawlfoundation/yawl/engine/gui/YAdminGUI.java
  src/org/yawlfoundation/yawl/engine/gui/YSplash.java
  src/org/yawlfoundation/yawl/engine/instance/InstanceCache.java
  src/org/yawlfoundation/yawl/engine/interfce/AuthenticationResponseServlet.java
  src/org/yawlfoundation/yawl/engine/interfce/Marshaller.java
  src/org/yawlfoundation/yawl/engine/interfce/interfaceB/InterfaceBWebsideController.java
  src/org/yawlfoundation/yawl/engine/observability/OpenTelemetryConfig.java
  src/org/yawlfoundation/yawl/exceptions/YAWLException.java
  src/org/yawlfoundation/yawl/exceptions/YDataStateException.java
  src/org/yawlfoundation/yawl/exceptions/YPersistenceException.java
  src/org/yawlfoundation/yawl/exceptions/YQueryException.java
  src/org/yawlfoundation/yawl/exceptions/YStateException.java
  src/org/yawlfoundation/yawl/exceptions/YSyntaxException.java
  src/org/yawlfoundation/yawl/integration/observability/OpenTelemetryConfig.java
  src/org/yawlfoundation/yawl/integration/spiffe/SpiffeException.java
  src/org/yawlfoundation/yawl/logging/YEventLogger.java
  src/org/yawlfoundation/yawl/logging/table/YLogDataItemInstance.java
  src/org/yawlfoundation/yawl/mailService/MailService.java
  src/org/yawlfoundation/yawl/schema/YDataValidator.java
  src/org/yawlfoundation/yawl/stateless/elements/e2wfoj/E2WFOJNet.java
  src/org/yawlfoundation/yawl/stateless/engine/YWorkItem.java
  src/org/yawlfoundation/yawl/stateless/schema/YDataValidator.java
  src/org/yawlfoundation/yawl/swingWorklist/YWorklistGUI.java
  src/org/yawlfoundation/yawl/swingWorklist/YWorklistModel.java
  src/org/yawlfoundation/yawl/swingWorklist/YWorklistTableModel.java
  src/org/yawlfoundation/yawl/util/SaxonUtil.java
Due: unittests, integrationtests

feat: Java 25 API updates and code quality improvements
  .github/workflows/ci.yml
  .mvn/jvm.config
  .mvn/maven-build-cache-config.xml
  Dockerfile.modernized
  build/properties/log4j2.xml
  pom.xml
  src/org/yawlfoundation/yawl/authentication/YSessionCache.java
  src/org/yawlfoundation/yawl/authentication/YSessionTimer.java
  src/org/yawlfoundation/yawl/elements/e2wfoj/E2WFOJNet.java
  src/org/yawlfoundation/yawl/engine/YPersistenceManager.java
  src/org/yawlfoundation/yawl/engine/gui/TabbedEngineGUI.java
  src/org/yawlfoundation/yawl/engine/gui/YSplash.java
  src/org/yawlfoundation/yawl/exceptions/Problem.java
  src/org/yawlfoundation/yawl/exceptions/YAWLException.java
  src/org/yawlfoundation/yawl/exceptions/YAuthenticationException.java
  src/org/yawlfoundation/yawl/exceptions/YConnectivityException.java
  src/org/yawlfoundation/yawl/exceptions/YDataQueryException.java
  src/org/yawlfoundation/yawl/exceptions/YDataStateException.java
  src/org/yawlfoundation/yawl/exceptions/YDataValidationException.java
  src/org/yawlfoundation/yawl/exceptions/YEngineStateException.java
  src/org/yawlfoundation/yawl/exceptions/YExternalDataException.java
  src/org/yawlfoundation/yawl/exceptions/YLogException.java
  src/org/yawlfoundation/yawl/exceptions/YPersistenceException.java
  src/org/yawlfoundation/yawl/exceptions/YQueryException.java
  src/org/yawlfoundation/yawl/exceptions/YSchemaBuildingException.java
  src/org/yawlfoundation/yawl/exceptions/YStateException.java
  src/org/yawlfoundation/yawl/exceptions/YSyntaxException.java
  src/org/yawlfoundation/yawl/integration/observability/OpenTelemetryConfig.java
  src/org/yawlfoundation/yawl/integration/spiffe/SpiffeException.java
  src/org/yawlfoundation/yawl/integration/spiffe/SpiffeWorkloadApiClient.java
  src/org/yawlfoundation/yawl/integration/spiffe/SpiffeWorkloadIdentity.java
  src/org/yawlfoundation/yawl/logging/YEventLogger.java
  src/org/yawlfoundation/yawl/schema/YDataValidator.java
  src/org/yawlfoundation/yawl/stateless/elements/e2wfoj/E2WFOJNet.java
  src/org/yawlfoundation/yawl/stateless/schema/YDataValidator.java
  test/org/yawlfoundation/yawl/authentication/TestConnections.java
  test/org/yawlfoundation/yawl/elements/ElementsTestSuite.java
  test/org/yawlfoundation/yawl/engine/TestOrJoin.java
  yawl.h2.db
Due: unittests, integrationtests

chore: Update .gitignore to exclude Maven build artifacts
  .gitignore
Due: none

chore: Remove target directories from version control
  target/test-classes/org/yawlfoundation/yawl/build/Java25BuildWorkflowIntegrationTest$ProcessResult.class
  target/test-classes/org/yawlfoundation/yawl/build/Java25BuildWorkflowIntegrationTest.class
  yawl-engine/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
  yawl-engine/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
  yawl-utilities/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
  yawl-utilities/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
Due: YAWL Engine, YAWL Utilities

feat: Add YAWL pattern templates and ggen configuration
  .gitignore
  .specify/patterns/ontology/extended-patterns.ttl
  docs/ggen-examples-analysis.md
  ggen.toml
  templates/yawl-patterns/case-management.tera
  templates/yawl-patterns/circuit-breaker.tera
  templates/yawl-patterns/content-router.tera
  templates/yawl-patterns/event-gateway.tera
  templates/yawl-patterns/human-ai.tera
  templates/yawl-patterns/outbox.tera
  templates/yawl-patterns/retry-backoff.tera
  templates/yawl-patterns/rules-engine.tera
  templates/yawl-patterns/saga.tera
  templates/yawl-patterns/scatter-gather.tera
Due: none

feat: Java 25 validation with swarm analysis and updates
  .github/workflows/ci.yml
  .mvn/jvm.config
  .mvn/maven.config
  Dockerfile.modernized
  pom.xml
  src/org/yawlfoundation/yawl/authentication/YSessionCache.java
  src/org/yawlfoundation/yawl/elements/e2wfoj/E2WFOJNet.java
  src/org/yawlfoundation/yawl/elements/e2wfoj/RElement.java
  src/org/yawlfoundation/yawl/elements/e2wfoj/RSetOfMarkings.java
  src/org/yawlfoundation/yawl/elements/e2wfoj/RTransition.java
  src/org/yawlfoundation/yawl/exceptions/YAuthenticationException.java
  src/org/yawlfoundation/yawl/exceptions/YConnectivityException.java
  src/org/yawlfoundation/yawl/exceptions/YDataQueryException.java
  src/org/yawlfoundation/yawl/exceptions/YDataStateException.java
  src/org/yawlfoundation/yawl/exceptions/YDataValidationException.java
  src/org/yawlfoundation/yawl/exceptions/YEngineStateException.java
  src/org/yawlfoundation/yawl/exceptions/YExternalDataException.java
  src/org/yawlfoundation/yawl/exceptions/YLogException.java
  src/org/yawlfoundation/yawl/exceptions/YPersistenceException.java
  src/org/yawlfoundation/yawl/exceptions/YQueryException.java
  src/org/yawlfoundation/yawl/exceptions/YSchemaBuildingException.java
  src/org/yawlfoundation/yawl/exceptions/YStateException.java
  src/org/yawlfoundation/yawl/exceptions/YSyntaxException.java
  src/org/yawlfoundation/yawl/integration/spiffe/SpiffeWorkloadApiClient.java
  src/org/yawlfoundation/yawl/schema/YDataValidator.java
  src/org/yawlfoundation/yawl/stateless/elements/e2wfoj/E2WFOJNet.java
  src/org/yawlfoundation/yawl/stateless/schema/YDataValidator.java
  test/org/yawlfoundation/yawl/authentication/TestConnections.java
  test/org/yawlfoundation/yawl/engine/TestOrJoin.java
  yawl-authentication/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
Due: unittests, integrationtests

feat: Add comprehensive PhD thesis status update for YAWL v5.2→v6 upgrade
  THESIS_STATUS_DRAFT.md
Due: none

Update Maven dependencies to latest stable Java 25 compatible versions
  DEPENDENCY_UPDATES.md
  DEPENDENCY_UPDATE_SUMMARY.txt
  pom.xml
  update_pom_versions.py
Due: none

Release v6.0.0-Alpha: Library Modernization & Quality Improvements
  BASELINE_EXECUTIVE_SUMMARY.txt
  BASELINE_INDEX.md
  BASELINE_MONITORING_SUMMARY.txt
  BASELINE_TEST_STATUS_2026-02-16.txt
  CHANGELOG.md
  COMPATIBILITY_FIX_SUMMARY.txt
  DEPENDENCY_UPDATES.md
  LIBRARY-UPDATE-PERFORMANCE-MONITORING-DELIVERABLE.md
  LIBRARY_COMPATIBILITY_FIXES.md
  LIBRARY_UPDATE_PROCEDURE.md
  LIBRARY_UPDATE_VERIFICATION.md
  PERFORMANCE-IMPACT-SUMMARY.md
  PERFORMANCE-MONITORING.md
  README.md
  VERSION
  performance-reports/README.md
  pom.xml
  run-performance-monitoring.sh
  test/org/yawlfoundation/yawl/performance/monitoring/LibraryUpdatePerformanceMonitor.java
  test/org/yawlfoundation/yawl/performance/monitoring/PerformanceMonitoringTest.java
  validation/FINAL-VALIDATION-REPORT.md
  validation/INDEX.md
  validation/PRODUCTION-CHECKLIST.md
  validation/reports/README.md
  validation/reports/VALIDATION-SUMMARY.md
  validation/reports/production-validation-2026-02-16.md
  validation/reports/security-audit-2026-02-16.md
Due: none

feat: concurrent 8-agent library update and test fixes
  .mvn/jvm.config
  .mvn/maven.config
  BASELINE_VALIDATION_REPORT_2026-02-16.txt
  DEPENDENCY_ANALYSIS.md
  DEPENDENCY_RESOLUTION_SUMMARY.md
  IMPLEMENTATION_COMPLETE.txt
  INTEGRATION_COMPATIBILITY.md
  LIBRARY_VERSIONS_ANALYSIS.md
  PERFORMANCE_IMPACT_ANALYSIS_2026-02-16.md
  PERFORMANCE_REPORT_FILES.txt
  PERFORMANCE_SUMMARY.txt
  README_PERFORMANCE_REPORTS.txt
  TEST-FIX-REPORT.md
  TEST-FIXES-SUMMARY.txt
  final-verification.txt
  scripts/fix-dependencies.sh
  scripts/verify-dependencies.sh
  src/test/resources/hibernate.cfg.xml
  test/org/yawlfoundation/yawl/elements/BadMI.xml
  test/org/yawlfoundation/yawl/elements/BadNetSpecification.xml
  test/org/yawlfoundation/yawl/elements/GoodNetSpecification.xml
  test/resources/hibernate.cfg.xml
Due: none

Update pom.xml.backup to match v6.0.0-Alpha changes
  pom.xml.backup
Due: none

reconcile: restore yawl-authentication and yawl-webapps modules to align with origin/master
  pom.xml
Due: none

reconcile: align pom.xml with java25-validation branch
  pom.xml
Due: none

fix: Close v6.0.0-Alpha gaps - 10 agent 80/20 fixes
  .claude/hooks/post-edit.sh
  .claude/hooks/stop-hook-git-check.sh
  .gitignore
  pom.xml
  src/org/yawlfoundation/yawl/authentication/YSessionCache.java
  src/org/yawlfoundation/yawl/engine/YCaseNbrStore.java
  src/org/yawlfoundation/yawl/engine/interfce/interfaceB/InterfaceBWebsideController.java
  src/org/yawlfoundation/yawl/exceptions/YAWLException.java
  src/org/yawlfoundation/yawl/exceptions/YDataStateException.java
  src/org/yawlfoundation/yawl/logging/YLogServer.java
  src/org/yawlfoundation/yawl/mailService/MailService.java
  src/org/yawlfoundation/yawl/procletService/SingleInstanceClass.java
  test/org/yawlfoundation/yawl/CoverageImprovementTestSuite.java
  test/org/yawlfoundation/yawl/ExcludedModulesTestSuite.java
  test/org/yawlfoundation/yawl/ProductionTestSuite.java
  test/org/yawlfoundation/yawl/TestAllYAWLSuites.java
  test/org/yawlfoundation/yawl/authentication/AuthenticationTestSuite.java
  test/org/yawlfoundation/yawl/database/DatabaseCompatibilityTest.java
  test/org/yawlfoundation/yawl/elements/state/StateTestSuite.java
  test/org/yawlfoundation/yawl/engine/EngineTestSuite.java
  test/org/yawlfoundation/yawl/exceptions/ExceptionTestSuite.java
  test/org/yawlfoundation/yawl/exceptions/TestYAWLExceptionHandling.java
  test/org/yawlfoundation/yawl/integration/IntegrationTestSuite.java
  test/org/yawlfoundation/yawl/integration/JakartaEEMigrationTest.java
  test/org/yawlfoundation/yawl/integration/autonomous/AgentLogicUnitTest.java
  test/org/yawlfoundation/yawl/integration/cloud/CloudConfigurationUnitTest.java
  test/org/yawlfoundation/yawl/logging/LoggingTestSuite.java
  test/org/yawlfoundation/yawl/patternmatching/PatternMatchingTestSuite.java
  test/org/yawlfoundation/yawl/performance/PerformanceTestSuite.java
  test/org/yawlfoundation/yawl/resourcing/ResourceLogicUnitTest.java
  test/org/yawlfoundation/yawl/schema/SchemaTestSuite.java
  test/org/yawlfoundation/yawl/stateless/StatelessTestSuite.java
  test/org/yawlfoundation/yawl/swingWorklist/WorklistTestSuite.java
  test/org/yawlfoundation/yawl/unmarshal/UnmarshallerTestSuite.java
  test/org/yawlfoundation/yawl/util/UtilTestSuite.java
  yawl-stateless/pom.xml
Due: unittests, integrationtests

feat: Add XNodeParser and validation report for v6.0.0-Alpha
  RESOURCE_VALIDATION_REPORT.txt
  yawl-utilities/src/main/java/org/yawlfoundation/yawl/util/XNodeParser.java
Due: YAWL Utilities

fix: Compilation fixes for v6.0.0-Alpha
  src/org/yawlfoundation/yawl/integration/mcp/YawlMcpServer.java
  src/org/yawlfoundation/yawl/integration/mcp/spec/YawlToolSpecifications.java
  src/org/yawlfoundation/yawl/integration/mcp/spring/YawlMcpConfiguration.java
  src/org/yawlfoundation/yawl/integration/mcp/spring/YawlMcpSpringApplication.java
  src/org/yawlfoundation/yawl/integration/mcp/spring/YawlMcpToolRegistry.java
  src/org/yawlfoundation/yawl/integration/mcp/stub/McpSchema.java
  src/org/yawlfoundation/yawl/integration/mcp/stub/McpServerFeatures.java
  src/org/yawlfoundation/yawl/integration/mcp/stub/McpSyncServer.java
  src/org/yawlfoundation/yawl/integration/mcp/stub/ZaiFunctionService.java
  test/org/yawlfoundation/yawl/elements/TestYExternalTask.java
  test/org/yawlfoundation/yawl/elements/TestYInputCondition.java
  test/org/yawlfoundation/yawl/elements/TestYSpecificationValidator.java
  test/org/yawlfoundation/yawl/elements/state/TestYMarking.java
  test/org/yawlfoundation/yawl/engine/NetRunnerBehavioralTest.java
  test/org/yawlfoundation/yawl/engine/TaskLifecycleBehavioralTest.java
  test/org/yawlfoundation/yawl/engine/interfce/interfaceB/InterfaceB_EnvironmentBasedClientBatchTest.java
  test/org/yawlfoundation/yawl/engine/interfce/rest/RestResourceUnitTest.java
  test/org/yawlfoundation/yawl/integration/IntegrationTest.java
  test/org/yawlfoundation/yawl/integration/IntegrationTestSuite.java
  test/org/yawlfoundation/yawl/integration/JakartaEEMigrationTest.java
  test/org/yawlfoundation/yawl/integration/StatelessEngineIntegrationTest.java
  test/org/yawlfoundation/yawl/integration/WorkItemRepositoryIntegrationTest.java
  test/org/yawlfoundation/yawl/integration/autonomous/AgentLogicUnitTest.java
  test/org/yawlfoundation/yawl/integration/cloud/CloudConfigurationUnitTest.java
  test/org/yawlfoundation/yawl/integration/spiffe/SpiffeExceptionTest.java
  test/org/yawlfoundation/yawl/integration/spiffe/SpiffeWorkloadIdentityTest.java
  test/org/yawlfoundation/yawl/stateless/StatelessTestSuite.java
  test/org/yawlfoundation/yawl/stateless/TestStatelessCaseMonitor.java
  test/org/yawlfoundation/yawl/stateless/TestStatelessEngine.java
  test/org/yawlfoundation/yawl/stateless/TestStatelessMarshalling.java
  test/org/yawlfoundation/yawl/stateless/TestStatelessYNet.java
  yawl-authentication/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
  yawl-elements/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
  yawl-stateless/pom.xml
Due: unittests, integrationtests, YAWL Elements

Quicksave.
  test/org/yawlfoundation/yawl/elements/ElementsTestSuite.java
  test/org/yawlfoundation/yawl/stateless/StatelessTestSuite.java
  yawl-elements/pom.xml
  yawl-elements/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
  yawl-elements/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
Due: YAWL Elements

fix: Test suite cleanup and JUnit assertion fixes
  test/org/yawlfoundation/yawl/CoverageImprovementTestSuite.java
  test/org/yawlfoundation/yawl/ExcludedModulesTestSuite.java
  test/org/yawlfoundation/yawl/ProductionTestSuite.java
  test/org/yawlfoundation/yawl/TestAllYAWLSuites.java
  test/org/yawlfoundation/yawl/elements/TestYFlowsInto.java
  test/org/yawlfoundation/yawl/elements/TestYSpecification.java
  test/org/yawlfoundation/yawl/engine/TaskLifecycleBehavioralTest.java
  test/org/yawlfoundation/yawl/engine/TestCaseCancellation.java
  test/org/yawlfoundation/yawl/exceptions/TestYAWLExceptionHandling.java
  test/org/yawlfoundation/yawl/integration/observability/OpenTelemetryConfigTest.java
  yawl-elements/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
Due: YAWL Elements

refactor: Apply Java 25 best practices to YTask (pattern matching, switch expressions, var)
  src/org/yawlfoundation/yawl/elements/YTask.java
Due: unittests, integrationtests

Add comprehensive V6 documentation and knowledge capture
  .claude/BEST-PRACTICES-2026.md
  V6_MIGRATION_GUIDE.md
  V6_UPGRADE_GUIDE.md
Due: none

Add V6 documentation summary and completion report
  V6_DOCUMENTATION_SUMMARY.md
Due: none

refactor: Apply Java 25 best practices to engine interfce, procletService, unmarshal, wsif
  src/org/yawlfoundation/yawl/engine/YEngineRestorer.java
  src/org/yawlfoundation/yawl/engine/YWorkItem.java
  src/org/yawlfoundation/yawl/engine/YWorkItemRepository.java
  src/org/yawlfoundation/yawl/engine/interfce/EngineGatewayImpl.java
  src/org/yawlfoundation/yawl/engine/interfce/interfaceB/InterfaceB_EngineBasedClient.java
  src/org/yawlfoundation/yawl/engine/interfce/interfaceX/InterfaceX_EngineSideClient.java
  src/org/yawlfoundation/yawl/integration/autonomous/generators/TemplateOutputGenerator.java
  src/org/yawlfoundation/yawl/procletService/interactionGraph/InteractionGraph.java
  src/org/yawlfoundation/yawl/procletService/interactionGraph/InteractionGraphs.java
  src/org/yawlfoundation/yawl/procletService/models/procletModel/ProcletModels.java
  src/org/yawlfoundation/yawl/unmarshal/YDecompositionParser.java
  src/org/yawlfoundation/yawl/unmarshal/YMetaData.java
  src/org/yawlfoundation/yawl/wsif/WSIFInvoker.java
Due: unittests, integrationtests

refactor: Java 25 modernization for EngineGatewayImpl, InterfaceX, unmarshal, wsif
  .mvn/extensions.xml
  src/org/yawlfoundation/yawl/authentication/CsrfProtectionFilter.java
  src/org/yawlfoundation/yawl/engine/interfce/EngineGatewayImpl.java
  src/org/yawlfoundation/yawl/engine/interfce/interfaceX/InterfaceX_ServiceSideServer.java
  src/org/yawlfoundation/yawl/unmarshal/YDecompositionParser.java
  src/org/yawlfoundation/yawl/unmarshal/YMarshal.java
  src/org/yawlfoundation/yawl/wsif/WSIFInvoker.java
Due: unittests, integrationtests

refactor: Apply Java 25 best practices to stateless YNetRunner
  src/org/yawlfoundation/yawl/stateless/engine/YNetRunner.java
Due: unittests, integrationtests

refactor: Java 25 modernization for integration AgentInfo and stateless YNetRunner
  src/org/yawlfoundation/yawl/integration/autonomous/reasoners/StaticMappingReasoner.java
  src/org/yawlfoundation/yawl/integration/autonomous/registry/AgentInfo.java
  src/org/yawlfoundation/yawl/stateless/engine/YNetRunner.java
Due: unittests, integrationtests

refactor: Java 25 modernization for integration autonomous AgentConfiguration and AgentFactory
  src/org/yawlfoundation/yawl/integration/autonomous/AgentConfiguration.java
  src/org/yawlfoundation/yawl/integration/autonomous/AgentFactory.java
  src/org/yawlfoundation/yawl/stateless/elements/YNet.java
Due: unittests, integrationtests

refactor: Java 25 modernization for integration autonomous, procletService, stateless elements
  src/org/yawlfoundation/yawl/integration/autonomous/GenericPartyAgent.java
  src/org/yawlfoundation/yawl/integration/autonomous/reasoners/ZaiEligibilityReasoner.java
  src/org/yawlfoundation/yawl/integration/autonomous/registry/AgentRegistry.java
  src/org/yawlfoundation/yawl/logging/YXESBuilder.java
  src/org/yawlfoundation/yawl/procletService/models/procletModel/ProcletModel.java
  src/org/yawlfoundation/yawl/procletService/state/Performatives.java
  src/org/yawlfoundation/yawl/stateless/elements/YTask.java
Due: unittests, integrationtests

refactor: Java 25 modernization for logging tables, procletService state, stateless elements
  src/org/yawlfoundation/yawl/logging/YLogServer.java
  src/org/yawlfoundation/yawl/logging/table/YLogDataItemInstance.java
  src/org/yawlfoundation/yawl/logging/table/YLogDataType.java
  src/org/yawlfoundation/yawl/procletService/state/Performatives.java
  src/org/yawlfoundation/yawl/stateless/elements/YAWLServiceGateway.java
  src/org/yawlfoundation/yawl/stateless/elements/YEnabledTransitionSet.java
  src/org/yawlfoundation/yawl/stateless/elements/YExternalNetElement.java
Due: unittests, integrationtests

refactor: Java 25 modernization for stateless YExternalNetElement and YFlow
  src/org/yawlfoundation/yawl/stateless/elements/YExternalNetElement.java
  src/org/yawlfoundation/yawl/stateless/elements/YFlow.java
Due: unittests, integrationtests

feat(engine): V6 Core Engine Upgrade - Hibernate 6.x API Migration
  pom.xml
  src/org/yawlfoundation/yawl/elements/YAWLServiceGateway.java
  src/org/yawlfoundation/yawl/elements/YAtomicTask.java
  src/org/yawlfoundation/yawl/elements/YSpecification.java
  src/org/yawlfoundation/yawl/engine/YEngine.java
  src/org/yawlfoundation/yawl/engine/YEngineRestorer.java
  src/org/yawlfoundation/yawl/engine/YNetRunner.java
  src/org/yawlfoundation/yawl/engine/YPersistenceManager.java
  test/org/yawlfoundation/yawl/engine/TestYPersistenceManager.java
Due: unittests, integrationtests

V6.0.0-Alpha: 10-Agent Team Upgrade - Standards Compliance & Modernization
  .claude/VIOLATION_REPORT.md
  INTEGRATION_STATUS.md
  PERFORMANCE_BASELINE.md
  PRODUCTION_READINESS.md
  SPEC_VALIDATION_REPORT.md
  UPGRADE_STRATEGY.md
  src/org/yawlfoundation/yawl/integration/autonomous/AgentConfiguration.java
  src/org/yawlfoundation/yawl/integration/autonomous/AgentFactory.java
  src/org/yawlfoundation/yawl/integration/autonomous/GenericPartyAgent.java
  src/org/yawlfoundation/yawl/integration/autonomous/reasoners/StaticMappingReasoner.java
  src/org/yawlfoundation/yawl/integration/autonomous/reasoners/ZaiEligibilityReasoner.java
  src/org/yawlfoundation/yawl/integration/autonomous/registry/AgentInfo.java
  src/org/yawlfoundation/yawl/integration/autonomous/registry/AgentRegistry.java
  test/org/yawlfoundation/yawl/integration/IntegrationTestSuite.java
  test/org/yawlfoundation/yawl/integration/a2a/YawlA2AServerTest.java
  test/org/yawlfoundation/yawl/integration/autonomous/AgentCapabilityTest.java
  test/org/yawlfoundation/yawl/integration/autonomous/AgentConfigurationTest.java
  test/org/yawlfoundation/yawl/integration/autonomous/AgentRegistryTest.java
  test/org/yawlfoundation/yawl/integration/autonomous/AutonomousTestSuite.java
  test/org/yawlfoundation/yawl/integration/autonomous/CircuitBreakerTest.java
  test/org/yawlfoundation/yawl/integration/autonomous/RetryPolicyTest.java
  test/org/yawlfoundation/yawl/integration/autonomous/StaticMappingReasonerTest.java
  test/org/yawlfoundation/yawl/integration/mcp/YawlMcpServerTest.java
  test/org/yawlfoundation/yawl/stateless/StatelessTestSuite.java
Due: unittests, integrationtests

refactor: Java 25 cleanup for MCP registries and stateless unmarshal
  src/org/yawlfoundation/yawl/integration/mcp/spring/YawlMcpResourceRegistry.java
  src/org/yawlfoundation/yawl/integration/mcp/spring/YawlMcpToolRegistry.java
  src/org/yawlfoundation/yawl/stateless/unmarshal/YDecompositionParser.java
Due: unittests, integrationtests

V6.0.0-Alpha: Add remaining validation and remediation documentation
  REMEDIATION_GUIDE.md
  V6_VALIDATION_INDEX.md
  VALIDATION_SESSION_COMPLETE.md
  VALIDATION_SUMMARY.txt
  test/org/yawlfoundation/yawl/stateless/StatelessEngineCaseMonitorTest.java
Due: none

refactor: Java 25 modernization for stateless YNetRunner (additional improvements)
  src/org/yawlfoundation/yawl/stateless/engine/YNetRunner.java
Due: unittests, integrationtests

Fix HYPER_STANDARDS blocker: eliminate all empty method bodies
  src/org/yawlfoundation/yawl/demoService/DemoService.java
  src/org/yawlfoundation/yawl/mailSender/MailSender.java
  src/org/yawlfoundation/yawl/schema/Input.java
Due: unittests, integrationtests

Remove mcp.stub package: replace with production-quality mcp.sdk bridge API
  build/properties/hibernate.properties
  build/properties/hibernate.properties.derby
  build/properties/hibernate.properties.h2
  build/properties/hibernate.properties.hypersonic
  build/properties/hibernate.properties.mysql
  build/properties/hibernate.properties.oracle
  build/properties/hibernate.properties.postgres8
  helm/yawl/templates/configmap.yaml
  src/org/yawlfoundation/yawl/elements/data/external/HibernateEngine.java
  src/org/yawlfoundation/yawl/integration/mcp/stub/McpSchema.java
  src/org/yawlfoundation/yawl/procletService/persistence/DBConnection.java
Due: unittests, integrationtests

Path conditions:
  unittests: any of: src/, but not: test/**/*, **/*Test.java, **/*TestCase.java, **/*TestSuite.java, **/package-info.java, build/**/*, target/**/*, **/*.xml, **/*.xsd
  integrationtests: any of: src/, but not: test/**/*, **/*Test.java, **/*TestCase.java, **/*TestSuite.java, **/package-info.java, build/**/*, target/**/*, **/*.xml, **/*.xsd
  YAWL Elements: any of: yawl-elements/**, but not: test/**/*, **/*Test.java, **/*TestCase.java, **/*TestSuite.java, **/package-info.java, build/**/*, target/**/*, **/*.xml, **/*.xsd
  YAWL Engine: any of: yawl-engine/**, but not: test/**/*, **/*Test.java, **/*TestCase.java, **/*TestSuite.java, **/package-info.java, build/**/*, target/**/*, **/*.xml, **/*.xsd
  YAWL Stateless: any of: yawl-stateless/**, but not: test/**/*, **/*Test.java, **/*TestCase.java, **/*TestSuite.java, **/package-info.java, build/**/*, target/**/*, **/*.xml, **/*.xsd
  YAWL Integration: any of: yawl-integration/**, but not: test/**/*, **/*Test.java, **/*TestCase.java, **/*TestSuite.java, **/package-info.java, build/**/*, target/**/*, **/*.xml, **/*.xsd
  YAWL Utilities: any of: yawl-utilities/**, but not: test/**/*, **/*Test.java, **/*TestCase.java, **/*TestSuite.java, **/package-info.java, build/**/*, target/**/*, **/*.xml, **/*.xsd
  YAWL Resourcing: any of: yawl-resourcing/**, but not: test/**/*, **/*Test.java, **/*TestCase.java, **/*TestSuite.java, **/package-info.java, build/**/*, target/**/*, **/*.xml, **/*.xsd
  YAWL Worklet: any of: yawl-worklet/**, but not: test/**/*, **/*Test.java, **/*TestCase.java, **/*TestSuite.java, **/package-info.java, build/**/*, target/**/*, **/*.xml, **/*.xsd
  YAWL Scheduling: any of: yawl-scheduling/**, but not: test/**/*, **/*Test.java, **/*TestCase.java, **/*TestSuite.java, **/package-info.java, build/**/*, target/**/*, **/*.xml, **/*.xsd
  YAWL Monitoring: any of: yawl-monitoring/**, but not: test/**/*, **/*Test.java, **/*TestCase.java, **/*TestSuite.java, **/package-info.java, build/**/*, target/**/*, **/*.xml, **/*.xsd
  YAWL Control Panel: any of: yawl-control-panel/**, but not: test/**/*, **/*Test.java, **/*TestCase.java, **/*TestSuite.java, **/package-info.java, build/**/*, target/**/*, **/*.xml, **/*.xsd
