Repository seanchatmangpt/yawl: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integrationtests, YAWL Elements, YAWL Engine, YAWL Stateless, YAWL Integration, YAWL Utilities, YAWL Resourcing, YAWL Worklet, YAWL Scheduling, YAWL Monitoring, YAWL Control Panel

codecov.yml:

# Codecov Configuration for YAWL v5.2
# https://docs.codecov.io/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "50...100"
  
  status:
    project:
      default:
        target: 75%           # Target overall coverage
        threshold: 2%         # Allow 2% drop before failing
        base: auto
        if_not_found: success
        only_pulls: false
    
    patch:
      default:
        target: 70%           # New code should have 70%+ coverage
        threshold: 5%
        base: auto
        if_not_found: success
        only_pulls: true
    
    changes:
      default:
        if_not_found: success

  # Coverage thresholds by file
  target: auto
  
  # Minimum coverage to avoid regression
  minimum_coverage:
    project:
      default: 65%
    patch:
      default: 60%

# Comment formatting on PRs
comment:
  layout: "header, diff, files, footer"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true
  branches: null

# Files/paths to ignore
ignore:
  - "test/**/*"
  - "**/*Test.java"
  - "**/*TestCase.java"
  - "**/*TestSuite.java"
  - "**/package-info.java"
  - "build/**/*"
  - "target/**/*"
  - "**/*.xml"
  - "**/*.xsd"

# Flags for different test types
flags:
  unittests:
    paths:
      - src/
    carryforward: true
  
  integrationtests:
    paths:
      - src/
    carryforward: true

# Ignore failures from these sources
ignore_errors:
  - "jacoco"

# Notification settings
notifications:
  webhook:
    default:
      only_pulls: false
      
# Coverage display
coverage_threshold: 65%

# Module-specific targets
component_management:
  default_rules:
    statuses:
      - type: project
        target: 65%
  
  individual_components:
    # High priority modules (75% target)
    - component_id: yawl-elements
      name: YAWL Elements
      paths:
        - yawl-elements/**
      target: 75%
    
    - component_id: yawl-engine
      name: YAWL Engine
      paths:
        - yawl-engine/**
      target: 80%
    
    - component_id: yawl-stateless
      name: YAWL Stateless
      paths:
        - yawl-stateless/**
      target: 75%
    
    # Medium priority modules (70% target)
    - component_id: yawl-integration
      name: YAWL Integration
      paths:
        - yawl-integration/**
      target: 70%
    
    - component_id: yawl-utilities
      name: YAWL Utilities
      paths:
        - yawl-utilities/**
      target: 70%
    
    # Standard priority modules (65% target)
    - component_id: yawl-resourcing
      name: YAWL Resourcing
      paths:
        - yawl-resourcing/**
      target: 65%
    
    - component_id: yawl-worklet
      name: YAWL Worklet
      paths:
        - yawl-worklet/**
      target: 65%
    
    - component_id: yawl-scheduling
      name: YAWL Scheduling
      paths:
        - yawl-scheduling/**
      target: 65%
    
    - component_id: yawl-monitoring
      name: YAWL Monitoring
      paths:
        - yawl-monitoring/**
      target: 65%
    
    - component_id: yawl-control-panel
      name: YAWL Control Panel
      paths:
        - yawl-control-panel/**
      target: 65%

Remove duplicate XNodeParser from yawl-utilities
  yawl-utilities/src/main/java/org/yawlfoundation/yawl/util/XNodeParser.java
Due: YAWL Utilities

Add multi-tenancy isolation to YEngine (BLOCK-1)
  src/org/yawlfoundation/yawl/engine/TenantContext.java
  src/org/yawlfoundation/yawl/engine/YEngine.java
Due: unittests, integrationtests

Add Phase 2 improvements for WCP-34 to WCP-38 (Advanced Trigger and Event Patterns)
  docs/ENGINE-IMPROVEMENTS-INDEX.md
Due: none

Optimization 1: Enable compact object headers globally
  pom.xml
Due: none

Fix YAWL MCP implementation: P0 blockers and P1 optimizations
  .claude/rules/integration/mcp-a2a-conventions.md
  src/org/yawlfoundation/yawl/integration/mcp/YawlMcpServer.java
  src/org/yawlfoundation/yawl/integration/mcp/resource/YawlResourceProvider.java
  src/org/yawlfoundation/yawl/integration/mcp/spec/YawlCompletionSpecifications.java
  src/org/yawlfoundation/yawl/integration/mcp/spec/YawlToolSpecifications.java
  src/org/yawlfoundation/yawl/integration/mcp/transport/HttpTransportProvider.java
  yawl-integration/pom.xml
Due: unittests, integrationtests

Implement saga exception handling and agent instance caching
  yawl-mcp-a2a-app/src/main/java/org/yawlfoundation/yawl/mcp/a2a/gregverse/agent/GregVerseAgentCache.java
  yawl-mcp-a2a-app/src/main/java/org/yawlfoundation/yawl/mcp/a2a/gregverse/simulation/GregVerseOrchestrator.java
  yawl-mcp-a2a-app/src/main/java/org/yawlfoundation/yawl/mcp/a2a/gregverse/simulation/GregVerseSimulation.java
  yawl-mcp-a2a-app/src/test/java/org/yawlfoundation/yawl/mcp/a2a/gregverse/agent/GregVerseAgentCacheTest.java
Due: none

Final: GCP Marketplace implementation complete - all 5 blockers closed
  GCP_MARKETPLACE_IMPLEMENTATION_COMPLETE.md
Due: none

Add delivery checklist for WCP-24 to WCP-28 testing improvements
  DELIVERY_CHECKLIST_WCP24-28.txt
Due: none

Enhance dx.sh with color-coded output and metrics dashboard
  scripts/dx.sh
Due: none

Optimization 2: Optimize record field ordering for cache locality
  src/org/yawlfoundation/yawl/engine/interfce/WorkItemMetadata.java
  src/org/yawlfoundation/yawl/engine/interfce/WorkItemRecord.java
Due: unittests, integrationtests

Close gaps batch 1: fix missing import, implement conflict resolver, MCP transport, skills
  src/org/yawlfoundation/yawl/integration/a2a/YawlA2AServer.java
  src/org/yawlfoundation/yawl/integration/a2a/skills/CommitChangesSkill.java
  src/org/yawlfoundation/yawl/integration/a2a/skills/IntrospectCodebaseSkill.java
  src/org/yawlfoundation/yawl/integration/autonomous/conflict/ConflictResolver.java
  src/org/yawlfoundation/yawl/integration/autonomous/strategies/DecisionReasoner.java
  src/org/yawlfoundation/yawl/integration/mcp/transport/HttpTransportProvider.java
  src/org/yawlfoundation/yawl/integration/zai/SpecificationGenerator.java
Due: unittests, integrationtests

Add dx-test-filter.sh for quick test filtering
  scripts/dx-test-filter.sh
Due: none

Optimization 3: Virtual thread tuning and enhanced debugging
  .mvn/jvm.config.perf
  src/org/yawlfoundation/yawl/authentication/YSessionCache.java
Due: unittests, integrationtests

Add 80/20 Claude Code DX/QOL innovations
  .claude/DX-QUICKREF.md
  scripts/facts-quick-check.sh
  scripts/mcp-quick.sh
  scripts/session-info.sh
Due: none

Add .dx-cheatsheet.md — Quick reference for DX workflow
  .claude/.dx-cheatsheet.md
Due: none

Add 80/20 DX/QOL improvements for developer experience
  .claude/DX-QUICK-START.md
  scripts/verify-marketplace-readiness.sh
  scripts/verify-marketplace.py
Due: none

Optimization 4: GC optimization with ZGC configuration
  .mvn/GC-TUNING.md
  .mvn/jvm.config
Due: none

Close gaps batch 2: implement discovery strategy, eligibility reasoner, SPIFFE mTLS
  src/org/yawlfoundation/yawl/integration/autonomous/strategies/DiscoveryStrategy.java
  src/org/yawlfoundation/yawl/integration/autonomous/strategies/EligibilityReasoner.java
  src/org/yawlfoundation/yawl/integration/autonomous/strategies/PollingDiscoveryStrategy.java
  src/org/yawlfoundation/yawl/integration/spiffe/SpiffeMtlsHttpClient.java
Due: unittests, integrationtests

feat(security): Add rate limiting with token bucket pattern and per-client limits
  src/org/yawlfoundation/yawl/security/RateLimiterRegistry.java
  src/test/org/yawlfoundation/yawl/security/TestRateLimiterRegistry.java
Due: unittests, integrationtests

feat(security): Implement request idempotency tracking with TTL-based caching
  src/org/yawlfoundation/yawl/security/IdempotencyKeyStore.java
  src/test/org/yawlfoundation/yawl/security/TestIdempotencyKeyStore.java
Due: unittests, integrationtests

feat(security): Implement safe error responses preventing information disclosure
  src/org/yawlfoundation/yawl/security/SafeErrorResponseBuilder.java
  src/test/org/yawlfoundation/yawl/security/TestSafeErrorResponseBuilder.java
Due: unittests, integrationtests

feat(security): Add comprehensive input validation preventing injection attacks
  src/org/yawlfoundation/yawl/security/InputValidator.java
  src/test/org/yawlfoundation/yawl/security/TestInputValidator.java
Due: unittests, integrationtests

fix(security): Fix race conditions in UpgradeMemoryStore metadata updates
  src/org/yawlfoundation/yawl/integration/memory/UpgradeMemoryStore.java
Due: unittests, integrationtests

Implement 80/20 DX/QOL improvements: quick-start, task CLI, diagnostics, scaffolding
  scripts/dev-quick-start.sh
  scripts/diagnose.sh
  scripts/new-module.sh
  scripts/test-integration.sh
  scripts/yawl-tasks.sh
  yawl-tasks
Due: none

Gap-closing phase: Comprehensive Java 25 improvements and test suite
  JAVA25_TEST_SUITE_DELIVERY.md
  docs/v6/performance-history/performance-history.jsonl
  docs/v6/static-analysis-history/history.jsonl
  scripts/performance-test.sh
  src/org/yawlfoundation/yawl/engine/YEngine.java
  src/test/java/org/yawlfoundation/yawl/performance/WorkflowThroughputBenchmark.java
  yawl-utilities/README_JAVA25_TESTS.md
  yawl-utilities/src/test/java/org/yawlfoundation/yawl/util/java25/JAVA25_TEST_SUITE.md
  yawl-utilities/src/test/java/org/yawlfoundation/yawl/util/java25/package-info.java
  yawl-utilities/src/test/java/org/yawlfoundation/yawl/util/java25/performance/PerformanceComparisonTest.java
  yawl-utilities/src/test/java/org/yawlfoundation/yawl/util/java25/records/RecordAutoGeneratedMethodsTest.java
  yawl-utilities/src/test/java/org/yawlfoundation/yawl/util/java25/records/RecordCompactConstructorTest.java
  yawl-utilities/src/test/java/org/yawlfoundation/yawl/util/java25/records/RecordSerializationTest.java
  yawl-utilities/src/test/java/org/yawlfoundation/yawl/util/java25/sealed/SealedClassPatternMatchingTest.java
  yawl-utilities/src/test/java/org/yawlfoundation/yawl/util/java25/structured/StructuredConcurrencyTest.java
  yawl-utilities/src/test/java/org/yawlfoundation/yawl/util/java25/virtual/ScopedValuePropagationTest.java
  yawl-utilities/src/test/java/org/yawlfoundation/yawl/util/java25/virtual/VirtualThreadConcurrencyTest.java
Due: unittests, integrationtests, YAWL Utilities

Fix script permissions for new-module.sh and test-integration.sh
  scripts/new-module.sh
  scripts/test-integration.sh
Due: none

Close gaps batch 3: add logging to InterfaceBWebsideController event handlers
  src/org/yawlfoundation/yawl/engine/interfce/interfaceB/InterfaceBWebsideController.java
  src/org/yawlfoundation/yawl/integration/a2a/skills/CommitChangesSkill.java
  src/org/yawlfoundation/yawl/integration/a2a/skills/IntrospectCodebaseSkill.java
Due: unittests, integrationtests

Optimization 5: Comprehensive performance testing framework
  .claude/PERFORMANCE-OPTIMIZATIONS.md
Due: none

Gap-closing agents: Final implementations and test manifests
  SECURITY_GAPS_IMPLEMENTATION_COMPLETE.md
  src/org/yawlfoundation/yawl/engine/YEngine.java
  yawl-utilities/JAVA25_TEST_MANIFEST.txt
Due: unittests, integrationtests, YAWL Utilities

Implement Phase 3: Critical code fixes and high-impact improvements (80/20)
  src/org/yawlfoundation/yawl/stateless/engine/util/LoopIterationTracker.java
  src/org/yawlfoundation/yawl/stateless/engine/util/LoopTerminationValidator.java
  yawl-mcp-a2a-app/src/main/resources/patterns/branching/wcp-6-multi-choice.yaml
  yawl-mcp-a2a-app/src/main/resources/patterns/branching/wcp-7-sync-merge.yaml
  yawl-mcp-a2a-app/src/main/resources/patterns/branching/wcp-8-multi-merge.yaml
  yawl-mcp-a2a-app/src/main/resources/patterns/controlflow/wcp-1-sequence.yaml
  yawl-mcp-a2a-app/src/main/resources/patterns/controlflow/wcp-22-cancel-region.yaml
  yawl-mcp-a2a-app/src/main/resources/patterns/controlflow/wcp-4-exclusive-choice.yaml
Due: unittests, integrationtests

Add comprehensive Java 25 optimizations summary document
  JAVA25-OPTIMIZATIONS-SUMMARY.md
Due: none

Refine dev-quick-start.sh: optimize comments and simplify script
  scripts/dev-quick-start.sh
Due: none

Maximum DX/QOL: Makefile + git aliases + shell functions + reference card
  .claude/.gitconfig
  .claude/QUICK-REFERENCE.txt
  .claude/shell-aliases.sh
  Makefile
Due: none

Continue Phase 3 implementation: Multi-instance and WCP-22 improvements
  yawl-mcp-a2a-app/src/main/java/org/yawlfoundation/yawl/mcp/a2a/example/ExtendedYamlConverter.java
  yawl-mcp-a2a-app/src/main/resources/patterns/controlflow/wcp-22-cancel-region.yaml
Due: none

Add test generator and spec validation tools from Wave 3 DX/QOL agents
  scripts/gen-tests.sh
  scripts/validate-spec.sh
  scripts/yawl-tasks.sh
Due: none

Complete Phase 3: Engine integration and loop improvements
  src/org/yawlfoundation/yawl/stateless/YStatelessEngine.java
  yawl-mcp-a2a-app/src/main/java/org/yawlfoundation/yawl/mcp/a2a/example/MultiInstanceCardinalityEvaluator.java
  yawl-mcp-a2a-app/src/main/resources/patterns/branching/wcp-10-structured-loop.yaml
  yawl-mcp-a2a-app/src/main/resources/patterns/branching/wcp-11-implicit-termination.yaml
  yawl-mcp-a2a-app/src/main/resources/patterns/controlflow/wcp-22-cancel-region.yaml
Due: unittests, integrationtests

Document complete ThreadLocal to ScopedValue migration.
  THREADLOCAL_TO_SCOPEDVALUE_MIGRATION_COMPLETE.md
Due: none

Add continuation mode support and final engine enhancements
  src/org/yawlfoundation/yawl/stateless/YStatelessEngine.java
  yawl-mcp-a2a-app/src/main/java/org/yawlfoundation/yawl/mcp/a2a/example/ContinuationModeHandler.java
Due: unittests, integrationtests

Add quick reference index for Java 25 optimizations
  JAVA25-OPTIMIZATION-INDEX.md
Due: none

Add comprehensive test suite and test implementations
  src/org/yawlfoundation/yawl/engine/instance/EventTriggerRegistry.java
  test/org/yawlfoundation/yawl/WcpPatternTestSuite.java
  yawl-mcp-a2a-app/src/test/java/org/yawlfoundation/yawl/mcp/a2a/example/ContinuationModeHandlerTest.java
  yawl-mcp-a2a-app/src/test/java/org/yawlfoundation/yawl/mcp/a2a/example/MultiInstanceCardinalityEvaluatorTest.java
Due: unittests, integrationtests
