Repository seanchatmangpt/yawl: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integrationtests, YAWL Elements, YAWL Engine, YAWL Stateless, YAWL Integration, YAWL Utilities, YAWL Resourcing, YAWL Worklet, YAWL Scheduling, YAWL Monitoring, YAWL Control Panel

docs(final): add delivery report and file manifest for Milestone 7
  .claude/ACTOR-DELIVERY-REPORT.md
  .claude/ACTOR-FILES-DELIVERED.txt
  yawl-engine/src/main/java/org/yawlfoundation/yawl/engine/agent/patterns/ScatterGather.java
Due: YAWL Engine

refactor(patterns): finalize RoutingSlip implementation
  yawl-engine/src/main/java/org/yawlfoundation/yawl/engine/agent/patterns/RoutingSlip.java
Due: YAWL Engine

refactor(patterns): finalize CompetingConsumers worker pool implementation
  yawl-engine/src/main/java/org/yawlfoundation/yawl/engine/agent/patterns/CompetingConsumers.java
Due: YAWL Engine

refactor(patterns): finalize Tester agent implementations
  yawl-engine/src/main/java/org/yawlfoundation/yawl/engine/agent/patterns/CompetingConsumers.java
  yawl-engine/src/main/java/org/yawlfoundation/yawl/engine/agent/patterns/RoutingSlip.java
Due: YAWL Engine

feat(patterns): add comprehensive stress testing framework
  yawl-engine/src/test/java/org/yawlfoundation/yawl/patterns/benchmark/BenchmarkBase.java
  yawl-engine/src/test/java/org/yawlfoundation/yawl/patterns/benchmark/CompetingConsumersBenchmark.java
  yawl-engine/src/test/java/org/yawlfoundation/yawl/patterns/benchmark/DeadLetterBenchmark.java
  yawl-engine/src/test/java/org/yawlfoundation/yawl/patterns/benchmark/MetricsCollector.java
  yawl-engine/src/test/java/org/yawlfoundation/yawl/patterns/benchmark/RequestReplyBenchmark.java
  yawl-engine/src/test/java/org/yawlfoundation/yawl/patterns/chaos/ChaosInjector.java
  yawl-engine/src/test/java/org/yawlfoundation/yawl/patterns/marathon/MarathonTestBase.java
Due: YAWL Engine

feat(patterns): complete comprehensive stress testing suite
  yawl-engine/src/test/java/org/yawlfoundation/yawl/patterns/benchmark/BenchmarkBase.java
  yawl-engine/src/test/java/org/yawlfoundation/yawl/patterns/benchmark/RoutingSlipBenchmark.java
  yawl-engine/src/test/java/org/yawlfoundation/yawl/patterns/benchmark/ScatterGatherBenchmark.java
  yawl-engine/src/test/java/org/yawlfoundation/yawl/patterns/chaos/DeadLetterChaos.java
  yawl-engine/src/test/java/org/yawlfoundation/yawl/patterns/chaos/RequestReplyChaos.java
  yawl-engine/src/test/java/org/yawlfoundation/yawl/patterns/marathon/CompetingConsumersMarathon.java
  yawl-engine/src/test/java/org/yawlfoundation/yawl/patterns/marathon/DeadLetterMarathon.java
  yawl-engine/src/test/java/org/yawlfoundation/yawl/patterns/marathon/RequestReplyMarathon.java
  yawl-engine/src/test/java/org/yawlfoundation/yawl/patterns/marathon/SupervisorMarathon.java
Due: YAWL Engine

Add Claude Code context isolation for local/web conflict prevention
  .claude/context/README.md
  .claude/context/environment.toml
  .claude/hooks/context-protection.sh
  .gitattributes
  pom.xml
  yawl-benchmark/pom.xml
Due: none

Add dx-state build receipts from dx.sh all run
  .yawl/.dx-state/guard-receipt.json
  .yawl/.dx-state/phase-status.json
Due: none

feat(rust4pm): correct-by-construction Rust→Java 25 Panama FFM bridge
  .claude/docs/rust-java-panama-ffm/howto-debug-layout-mismatch.md
  .claude/docs/rust-java-panama-ffm/tutorial-first-wrap.md
  rust/rust4pm/rust4pm.h
  rust/rust4pm/src/lib.rs
  yawl-rust4pm/src/main/java/org/yawlfoundation/yawl/processmining/ProcessMiningEngine.java
  yawl-rust4pm/src/main/java/org/yawlfoundation/yawl/rust4pm/bridge/OcelEventView.java
  yawl-rust4pm/src/main/java/org/yawlfoundation/yawl/rust4pm/bridge/OcelLogHandle.java
  yawl-rust4pm/src/main/java/org/yawlfoundation/yawl/rust4pm/bridge/OcelObjectView.java
  yawl-rust4pm/src/main/java/org/yawlfoundation/yawl/rust4pm/bridge/Rust4pmBridge.java
  yawl-rust4pm/src/main/java/org/yawlfoundation/yawl/rust4pm/bridge/package-info.java
  yawl-rust4pm/src/main/java/org/yawlfoundation/yawl/rust4pm/generated/rust4pm_h.java
  yawl-rust4pm/src/main/java/org/yawlfoundation/yawl/rust4pm/model/ActivityStats.java
  yawl-rust4pm/src/main/java/org/yawlfoundation/yawl/rust4pm/model/OcelEvent.java
  yawl-rust4pm/src/main/java/org/yawlfoundation/yawl/rust4pm/model/OcelObject.java
  yawl-rust4pm/src/main/java/org/yawlfoundation/yawl/rust4pm/model/PerformanceStats.java
  yawl-rust4pm/src/main/java/org/yawlfoundation/yawl/rust4pm/model/PetriNet.java
  yawl-rust4pm/src/test/java/org/yawlfoundation/yawl/processmining/ProcessMiningEngineTest.java
  yawl-rust4pm/src/test/java/org/yawlfoundation/yawl/rust4pm/bridge/OcelEventViewTest.java
  yawl-rust4pm/src/test/java/org/yawlfoundation/yawl/rust4pm/bridge/OcelLogHandleCorrectnessTest.java
  yawl-rust4pm/src/test/java/org/yawlfoundation/yawl/rust4pm/bridge/OcelObjectViewTest.java
  yawl-rust4pm/src/test/java/org/yawlfoundation/yawl/rust4pm/model/OcelObjectTest.java
Due: none

docs(rust4pm): Diátaxis reference + how-to guides + test improvements
  .claude/docs/rust-java-panama-ffm/howto-add-c-struct.md
  .claude/docs/rust-java-panama-ffm/reference-api.md
  yawl-rust4pm/src/test/java/org/yawlfoundation/yawl/processmining/ProcessMiningEngineTest.java
  yawl-rust4pm/src/test/java/org/yawlfoundation/yawl/rust4pm/bridge/OcelObjectViewTest.java
Due: none

test(rust4pm): finalize ProcessMiningEngineTest coverage
  yawl-rust4pm/src/test/java/org/yawlfoundation/yawl/processmining/ProcessMiningEngineTest.java
Due: none

docs(rust4pm): explanation + finalized tests
  .claude/docs/rust-java-panama-ffm/explanation-correct-by-construction.md
  yawl-rust4pm/src/test/java/org/yawlfoundation/yawl/processmining/ProcessMiningEngineTest.java
Due: none

test(rust4pm): fix parseAll exception assertion for Java 25 FailedException
  yawl-rust4pm/src/test/java/org/yawlfoundation/yawl/processmining/ProcessMiningEngineTest.java
Due: none

feat(patterns): add remaining JMH & Chaos tests
  yawl-engine/src/test/java/org/yawlfoundation/yawl/patterns/benchmark/SupervisorBenchmark.java
  yawl-engine/src/test/java/org/yawlfoundation/yawl/patterns/chaos/CompetingConsumersChaos.java
  yawl-engine/src/test/java/org/yawlfoundation/yawl/patterns/chaos/SupervisorChaos.java
  yawl-engine/src/test/java/org/yawlfoundation/yawl/patterns/marathon/RoutingSlipMarathon.java
Due: YAWL Engine

feat(dx): connect observatory Ψ phase to build loop (Ψ→Λ→H→Q)
  scripts/dx.sh
Due: none

chore(gitignore): ignore .yawl/.dx-state/ (dx.sh ephemeral build state)
  .gitignore
Due: none

feat(rust4pm): field-level offset verification + symbol completeness audit
  rust/rust4pm/rust4pm.h
  rust/rust4pm/src/lib.rs
  scripts/observatory/facts/rust4pm-bindings.json
  scripts/observatory/rust4pm-audit.sh
  yawl-rust4pm/src/main/java/org/yawlfoundation/yawl/rust4pm/generated/rust4pm_h.java
  yawl-rust4pm/src/test/java/org/yawlfoundation/yawl/rust4pm/generated/SymbolCompletenessTest.java
Due: none

docs(dx): propagate Ψ→Λ integration through CLAUDE.md, OBSERVATORY.md, dx-workflow.md, session-start.sh
  .claude/OBSERVATORY.md
  .claude/hooks/session-start.sh
  .claude/rules/build/dx-workflow.md
  CLAUDE.md
Due: none

feat(yawl-erlang): add Erlang/OTP 28 Panama FFM bridge module
  pom.xml
  scripts/build-erlang.sh
  yawl-benchmark/pom.xml
  yawl-erlang/pom.xml
  yawl-erlang/src/main/erlang/yawl_event_relay.erl
  yawl-erlang/src/main/erlang/yawl_process_mining.erl
  yawl-erlang/src/main/erlang/yawl_sup.erl
  yawl-erlang/src/main/erlang/yawl_workflow.erl
  yawl-erlang/src/main/java/org/yawlfoundation/yawl/erlang/bridge/ErlMessage.java
  yawl-erlang/src/main/java/org/yawlfoundation/yawl/erlang/bridge/package-info.java
  yawl-erlang/src/main/java/org/yawlfoundation/yawl/erlang/error/ErlangConnectionException.java
  yawl-erlang/src/main/java/org/yawlfoundation/yawl/erlang/error/ErlangException.java
  yawl-erlang/src/main/java/org/yawlfoundation/yawl/erlang/error/ErlangReceiveException.java
  yawl-erlang/src/main/java/org/yawlfoundation/yawl/erlang/error/ErlangRpcException.java
  yawl-erlang/src/main/java/org/yawlfoundation/yawl/erlang/error/ErlangSendException.java
  yawl-erlang/src/main/java/org/yawlfoundation/yawl/erlang/error/package-info.java
  yawl-erlang/src/main/java/org/yawlfoundation/yawl/erlang/generated/ei_h.java
  yawl-erlang/src/main/java/org/yawlfoundation/yawl/erlang/generated/package-info.java
  yawl-erlang/src/main/java/org/yawlfoundation/yawl/erlang/package-info.java
  yawl-erlang/src/main/java/org/yawlfoundation/yawl/erlang/processmining/package-info.java
  yawl-erlang/src/main/java/org/yawlfoundation/yawl/erlang/term/ErlAtom.java
  yawl-erlang/src/main/java/org/yawlfoundation/yawl/erlang/term/ErlBinary.java
  yawl-erlang/src/main/java/org/yawlfoundation/yawl/erlang/term/ErlBitstring.java
  yawl-erlang/src/main/java/org/yawlfoundation/yawl/erlang/term/ErlClosure.java
  yawl-erlang/src/main/java/org/yawlfoundation/yawl/erlang/term/ErlExternalFun.java
  yawl-erlang/src/main/java/org/yawlfoundation/yawl/erlang/term/ErlFloat.java
  yawl-erlang/src/main/java/org/yawlfoundation/yawl/erlang/term/ErlFun.java
  yawl-erlang/src/main/java/org/yawlfoundation/yawl/erlang/term/ErlInteger.java
  yawl-erlang/src/main/java/org/yawlfoundation/yawl/erlang/term/ErlList.java
  yawl-erlang/src/main/java/org/yawlfoundation/yawl/erlang/term/ErlMap.java
  yawl-erlang/src/main/java/org/yawlfoundation/yawl/erlang/term/ErlNil.java
  yawl-erlang/src/main/java/org/yawlfoundation/yawl/erlang/term/ErlPid.java
  yawl-erlang/src/main/java/org/yawlfoundation/yawl/erlang/term/ErlPort.java
  yawl-erlang/src/main/java/org/yawlfoundation/yawl/erlang/term/ErlRef.java
  yawl-erlang/src/main/java/org/yawlfoundation/yawl/erlang/term/ErlTerm.java
  yawl-erlang/src/main/java/org/yawlfoundation/yawl/erlang/term/ErlTermCodec.java
  yawl-erlang/src/main/java/org/yawlfoundation/yawl/erlang/term/ErlTuple.java
  yawl-erlang/src/main/java/org/yawlfoundation/yawl/erlang/term/package-info.java
  yawl-erlang/src/test/java/org/yawlfoundation/yawl/erlang/error/ExceptionHierarchyTest.java
  yawl-erlang/src/test/java/org/yawlfoundation/yawl/erlang/generated/EiHTest.java
Due: none

feat(yawl-erlang): add ErlangNode and ErlangNodePool bridge layer
  yawl-erlang/src/main/java/org/yawlfoundation/yawl/erlang/bridge/ErlangNode.java
  yawl-erlang/src/main/java/org/yawlfoundation/yawl/erlang/bridge/ErlangNodePool.java
Due: none

feat(yawl-erlang): add ErlangBridge Layer 3 domain API and ConformanceResult
  .gitignore
  yawl-erlang/src/main/java/org/yawlfoundation/yawl/erlang/processmining/ConformanceResult.java
  yawl-erlang/src/main/java/org/yawlfoundation/yawl/erlang/processmining/ErlangBridge.java
Due: none

test(yawl-erlang): add ErlTermCodecTest (35 tests) + fix ExceptionHierarchyTest
  yawl-erlang/src/test/java/org/yawlfoundation/yawl/erlang/error/ExceptionHierarchyTest.java
  yawl-erlang/src/test/java/org/yawlfoundation/yawl/erlang/term/ErlTermCodecTest.java
Due: none

fix(pom.xml): revert hamcrest.version 3.1 → 3.0 (3.1 does not exist in Maven Central)
  pom.xml
Due: none

feat(yawl-erlang): add OTP application descriptor, rebar3 config, and Maven-rebar3 bridge
  scripts/build-erlang-beams.sh
  yawl-erlang/pom.xml
  yawl-erlang/rebar.config
  yawl-erlang/src/main/erlang/yawl.app.src
  yawl-erlang/src/main/erlang/yawl_app.erl
Due: none

feat(yawl-erlang): add reloadModule() hot reload API and ErlangTestNode OTP fixture
  yawl-erlang/src/main/java/org/yawlfoundation/yawl/erlang/processmining/ErlangBridge.java
  yawl-erlang/src/test/java/org/yawlfoundation/yawl/erlang/ErlangTestNode.java
Due: none

test(yawl-erlang): add unit and smoke tests for bridge and domain models
  yawl-erlang/src/test/java/org/yawlfoundation/yawl/erlang/ErlangModuleSmokeTest.java
  yawl-erlang/src/test/java/org/yawlfoundation/yawl/erlang/bridge/ErlMessageTest.java
  yawl-erlang/src/test/java/org/yawlfoundation/yawl/erlang/bridge/ErlangNodePoolStateTest.java
  yawl-erlang/src/test/java/org/yawlfoundation/yawl/erlang/processmining/ConformanceResultTest.java
Due: none

fix: correct ei_h constant name EI_X_BUFF_LAYOUT in smoke test
  yawl-erlang/src/test/java/org/yawlfoundation/yawl/erlang/ErlangModuleSmokeTest.java
Due: none

test(yawl-erlang): add stress tests (codec/node/pool) and integration tests (OTP node/hot-reload/bridge)
  yawl-erlang/src/test/java/org/yawlfoundation/yawl/erlang/bridge/ErlangNodeIntegrationTest.java
  yawl-erlang/src/test/java/org/yawlfoundation/yawl/erlang/bridge/ErlangNodePoolStressTest.java
  yawl-erlang/src/test/java/org/yawlfoundation/yawl/erlang/bridge/ErlangNodeStressTest.java
  yawl-erlang/src/test/java/org/yawlfoundation/yawl/erlang/bridge/HotReloadIntegrationTest.java
  yawl-erlang/src/test/java/org/yawlfoundation/yawl/erlang/processmining/ErlangBridgeIntegrationTest.java
  yawl-erlang/src/test/java/org/yawlfoundation/yawl/erlang/term/ErlTermCodecStressTest.java
Due: none

test(yawl-erlang): add ErlTermCodecEdgeCaseTest (25 tests) and ErlangNodeStateTest (23 tests)
  yawl-erlang/src/test/java/org/yawlfoundation/yawl/erlang/bridge/ErlangNodeStateTest.java
  yawl-erlang/src/test/java/org/yawlfoundation/yawl/erlang/term/ErlTermCodecEdgeCaseTest.java
Due: none

feat(data-modelling): add Rust FFI cdylib with 42 capabilities and CbC probes
  data-modelling-ffi/Cargo.lock
  data-modelling-ffi/Cargo.toml
  data-modelling-ffi/build.rs
  data-modelling-ffi/cbindgen.toml
  data-modelling-ffi/src/lib.rs
  data-modelling-ffi/stubs/data-modelling-sdk/Cargo.toml
  data-modelling-ffi/stubs/data-modelling-sdk/src/lib.rs
  rust/Cargo.toml
  scripts/build-data-modelling-ffi.sh
Due: none

fix(yawl-erlang): fix CRLF in build script, pom stress-tests profile, and test correctness
  scripts/build-erlang-beams.sh
  yawl-erlang/pom.xml
  yawl-erlang/src/test/java/org/yawlfoundation/yawl/erlang/ErlangTestNode.java
  yawl-erlang/src/test/java/org/yawlfoundation/yawl/erlang/bridge/ErlangNodePoolStressTest.java
  yawl-erlang/src/test/java/org/yawlfoundation/yawl/erlang/term/ErlTermCodecEdgeCaseTest.java
  yawl-erlang/src/test/java/org/yawlfoundation/yawl/erlang/term/ErlTermCodecStressTest.java
Due: none

fix(qlever): wire jextract Layer 1 into Maven build (Agent 2)
  yawl-qlever/pom.xml
Due: none

feat(data-modelling): Layer 1 Panama FFM bindings — 42 capabilities + CbC probes
  yawl-data-modelling/src/main/java/org/yawlfoundation/yawl/datamodelling/generated/DmResult_h.java
  yawl-data-modelling/src/main/java/org/yawlfoundation/yawl/datamodelling/generated/DmVoidResult_h.java
  yawl-data-modelling/src/main/java/org/yawlfoundation/yawl/datamodelling/generated/data_modelling_ffi_h.java
  yawl-data-modelling/src/main/java/org/yawlfoundation/yawl/datamodelling/generated/package-info.java
Due: none

fix(qlever): implement Native Bridge Pattern Layer 1+2 (CRITICAL 1)
  src/org/yawlfoundation/yawl/qlever/QLeverFfiBindings.java
  src/org/yawlfoundation/yawl/qlever/ffi/qlever_ffi_h.java
Due: unittests, integrationtests

feat(data-modelling): Layer 2 DataModellingBridge — 42 @MapsToCapability methods
  src/org/yawlfoundation/yawl/datamodelling/Capability.java
  src/org/yawlfoundation/yawl/datamodelling/MapsToCapability.java
  src/org/yawlfoundation/yawl/datamodelling/OdpsValidationException.java
  src/org/yawlfoundation/yawl/datamodelling/bridge/DataModellingBridge.java
  src/org/yawlfoundation/yawl/datamodelling/bridge/package-info.java
Due: unittests, integrationtests

feat(data-modelling): Layer 2 bridge — relocate DataModellingBridge to standard Maven layout
  yawl-data-modelling/src/main/java/org/yawlfoundation/yawl/datamodelling/bridge/DataModellingBridge.java
  yawl-data-modelling/src/main/java/org/yawlfoundation/yawl/datamodelling/bridge/package-info.java
Due: none

Path conditions:
  unittests: any of: src/, but not: test/**/*, **/*Test.java, **/*TestCase.java, **/*TestSuite.java, **/package-info.java, build/**/*, target/**/*, **/*.xml, **/*.xsd
  integrationtests: any of: src/, but not: test/**/*, **/*Test.java, **/*TestCase.java, **/*TestSuite.java, **/package-info.java, build/**/*, target/**/*, **/*.xml, **/*.xsd
  YAWL Elements: any of: yawl-elements/**, but not: test/**/*, **/*Test.java, **/*TestCase.java, **/*TestSuite.java, **/package-info.java, build/**/*, target/**/*, **/*.xml, **/*.xsd
  YAWL Engine: any of: yawl-engine/**, but not: test/**/*, **/*Test.java, **/*TestCase.java, **/*TestSuite.java, **/package-info.java, build/**/*, target/**/*, **/*.xml, **/*.xsd
  YAWL Stateless: any of: yawl-stateless/**, but not: test/**/*, **/*Test.java, **/*TestCase.java, **/*TestSuite.java, **/package-info.java, build/**/*, target/**/*, **/*.xml, **/*.xsd
  YAWL Integration: any of: yawl-integration/**, but not: test/**/*, **/*Test.java, **/*TestCase.java, **/*TestSuite.java, **/package-info.java, build/**/*, target/**/*, **/*.xml, **/*.xsd
  YAWL Utilities: any of: yawl-utilities/**, but not: test/**/*, **/*Test.java, **/*TestCase.java, **/*TestSuite.java, **/package-info.java, build/**/*, target/**/*, **/*.xml, **/*.xsd
  YAWL Resourcing: any of: yawl-resourcing/**, but not: test/**/*, **/*Test.java, **/*TestCase.java, **/*TestSuite.java, **/package-info.java, build/**/*, target/**/*, **/*.xml, **/*.xsd
  YAWL Worklet: any of: yawl-worklet/**, but not: test/**/*, **/*Test.java, **/*TestCase.java, **/*TestSuite.java, **/package-info.java, build/**/*, target/**/*, **/*.xml, **/*.xsd
  YAWL Scheduling: any of: yawl-scheduling/**, but not: test/**/*, **/*Test.java, **/*TestCase.java, **/*TestSuite.java, **/package-info.java, build/**/*, target/**/*, **/*.xml, **/*.xsd
  YAWL Monitoring: any of: yawl-monitoring/**, but not: test/**/*, **/*Test.java, **/*TestCase.java, **/*TestSuite.java, **/package-info.java, build/**/*, target/**/*, **/*.xml, **/*.xsd
  YAWL Control Panel: any of: yawl-control-panel/**, but not: test/**/*, **/*Test.java, **/*TestCase.java, **/*TestSuite.java, **/package-info.java, build/**/*, target/**/*, **/*.xml, **/*.xsd
