Repository seanchatmangpt/yawl: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integrationtests, YAWL Elements, YAWL Engine, YAWL Stateless, YAWL Integration, YAWL Utilities, YAWL Resourcing, YAWL Worklet, YAWL Scheduling, YAWL Monitoring, YAWL Control Panel

codecov.yml:

# Codecov Configuration for YAWL v5.2
# https://docs.codecov.io/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "50...100"
  
  status:
    project:
      default:
        target: 75%           # Target overall coverage
        threshold: 2%         # Allow 2% drop before failing
        base: auto
        if_not_found: success
        only_pulls: false
    
    patch:
      default:
        target: 70%           # New code should have 70%+ coverage
        threshold: 5%
        base: auto
        if_not_found: success
        only_pulls: true
    
    changes:
      default:
        if_not_found: success

  # Coverage thresholds by file
  target: auto
  
  # Minimum coverage to avoid regression
  minimum_coverage:
    project:
      default: 65%
    patch:
      default: 60%

# Comment formatting on PRs
comment:
  layout: "header, diff, files, footer"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true
  branches: null

# Files/paths to ignore
ignore:
  - "test/**/*"
  - "**/*Test.java"
  - "**/*TestCase.java"
  - "**/*TestSuite.java"
  - "**/package-info.java"
  - "build/**/*"
  - "target/**/*"
  - "**/*.xml"
  - "**/*.xsd"

# Flags for different test types
flags:
  unittests:
    paths:
      - src/
    carryforward: true
  
  integrationtests:
    paths:
      - src/
    carryforward: true

# Ignore failures from these sources
ignore_errors:
  - "jacoco"

# Notification settings
notifications:
  webhook:
    default:
      only_pulls: false
      
# Coverage display
coverage_threshold: 65%

# Module-specific targets
component_management:
  default_rules:
    statuses:
      - type: project
        target: 65%
  
  individual_components:
    # High priority modules (75% target)
    - component_id: yawl-elements
      name: YAWL Elements
      paths:
        - yawl-elements/**
      target: 75%
    
    - component_id: yawl-engine
      name: YAWL Engine
      paths:
        - yawl-engine/**
      target: 80%
    
    - component_id: yawl-stateless
      name: YAWL Stateless
      paths:
        - yawl-stateless/**
      target: 75%
    
    # Medium priority modules (70% target)
    - component_id: yawl-integration
      name: YAWL Integration
      paths:
        - yawl-integration/**
      target: 70%
    
    - component_id: yawl-utilities
      name: YAWL Utilities
      paths:
        - yawl-utilities/**
      target: 70%
    
    # Standard priority modules (65% target)
    - component_id: yawl-resourcing
      name: YAWL Resourcing
      paths:
        - yawl-resourcing/**
      target: 65%
    
    - component_id: yawl-worklet
      name: YAWL Worklet
      paths:
        - yawl-worklet/**
      target: 65%
    
    - component_id: yawl-scheduling
      name: YAWL Scheduling
      paths:
        - yawl-scheduling/**
      target: 65%
    
    - component_id: yawl-monitoring
      name: YAWL Monitoring
      paths:
        - yawl-monitoring/**
      target: 65%
    
    - component_id: yawl-control-panel
      name: YAWL Control Panel
      paths:
        - yawl-control-panel/**
      target: 65%

Fix critical namespace issues and add V4.0-compliant example specifications
  exampleSpecs/DocumentProcessing.xml
  exampleSpecs/MIGRATION_GUIDE.md
  exampleSpecs/ParallelProcessing.xml
  exampleSpecs/README.md
  exampleSpecs/SimplePurchaseOrder.xml
  exampleSpecs/xml/Beta2-7/BarnesAndNoble(Beta4).xml
  exampleSpecs/xml/Beta2-7/BarnesAndNoble.xml
  exampleSpecs/xml/Beta2-7/MakeMusic.xml
  exampleSpecs/xml/Beta2-7/MakeRecordings(Beta3).xml
  exampleSpecs/xml/Beta2-7/MakeRecordings(Beta4).xml
  exampleSpecs/xml/Beta2-7/ResourceExample.xml
  exampleSpecs/xml/Beta2-7/SMSInvoker.xml
  exampleSpecs/xml/Beta2-7/StockQuote.xml
  exampleSpecs/xml/Beta2-7/Timer.xml
  exampleSpecs/xml/Beta2-7/makeTrip2.xml
  exampleSpecs/xml/Beta2-7/makeTrip3.xml
  exampleSpecs/xml/Beta2-7/maketrip1.xml
Due: none

Remove mcp.stub package: complete import migration to mcp.sdk bridge API
  src/org/yawlfoundation/yawl/integration/mcp/YawlMcpServer.java
  src/org/yawlfoundation/yawl/integration/mcp/logging/McpLoggingHandler.java
  src/org/yawlfoundation/yawl/integration/mcp/resource/YawlResourceProvider.java
  src/org/yawlfoundation/yawl/integration/mcp/sdk/JacksonMcpJsonMapper.java
  src/org/yawlfoundation/yawl/integration/mcp/sdk/McpSchema.java
  src/org/yawlfoundation/yawl/integration/mcp/sdk/McpServer.java
  src/org/yawlfoundation/yawl/integration/mcp/sdk/McpServerFeatures.java
  src/org/yawlfoundation/yawl/integration/mcp/sdk/McpSyncServer.java
  src/org/yawlfoundation/yawl/integration/mcp/sdk/McpSyncServerExchange.java
  src/org/yawlfoundation/yawl/integration/mcp/sdk/StdioServerTransportProvider.java
  src/org/yawlfoundation/yawl/integration/mcp/sdk/ZaiFunctionService.java
  src/org/yawlfoundation/yawl/integration/mcp/sdk/package-info.java
  src/org/yawlfoundation/yawl/integration/mcp/server/YawlServerCapabilities.java
  src/org/yawlfoundation/yawl/integration/mcp/spec/YawlCompletionSpecifications.java
  src/org/yawlfoundation/yawl/integration/mcp/spec/YawlPromptSpecifications.java
  src/org/yawlfoundation/yawl/integration/mcp/spec/YawlToolSpecifications.java
  src/org/yawlfoundation/yawl/integration/mcp/spring/YawlMcpConfiguration.java
  src/org/yawlfoundation/yawl/integration/mcp/spring/YawlMcpResource.java
  src/org/yawlfoundation/yawl/integration/mcp/spring/YawlMcpResourceRegistry.java
  src/org/yawlfoundation/yawl/integration/mcp/spring/YawlMcpSpringApplication.java
  src/org/yawlfoundation/yawl/integration/mcp/spring/YawlMcpTool.java
  src/org/yawlfoundation/yawl/integration/mcp/spring/YawlMcpToolRegistry.java
  src/org/yawlfoundation/yawl/integration/mcp/spring/resources/SpecificationsResource.java
  src/org/yawlfoundation/yawl/integration/mcp/spring/tools/LaunchCaseTool.java
  src/org/yawlfoundation/yawl/integration/mcp/stub/JacksonMcpJsonMapper.java
  src/org/yawlfoundation/yawl/integration/mcp/stub/McpServer.java
  src/org/yawlfoundation/yawl/integration/mcp/stub/McpServerFeatures.java
  src/org/yawlfoundation/yawl/integration/mcp/stub/McpSyncServer.java
  src/org/yawlfoundation/yawl/integration/mcp/stub/McpSyncServerExchange.java
  src/org/yawlfoundation/yawl/integration/mcp/stub/StdioServerTransportProvider.java
  src/org/yawlfoundation/yawl/integration/mcp/stub/ZaiFunctionService.java
  src/org/yawlfoundation/yawl/integration/mcp/stub/package-info.java
Due: unittests, integrationtests

Add SafeNumberParser utility and fix 13 unsafe numeric parse sites
  src/org/yawlfoundation/yawl/engine/instance/CaseInstance.java
  src/org/yawlfoundation/yawl/engine/interfce/Marshaller.java
  src/org/yawlfoundation/yawl/engine/interfce/interfaceB/InterfaceB_EngineBasedClient.java
  src/org/yawlfoundation/yawl/engine/interfce/interfaceE/YLogGateway.java
  src/org/yawlfoundation/yawl/integration/a2a/YawlA2AServer.java
  src/org/yawlfoundation/yawl/integration/autonomous/registry/AgentInfo.java
  src/org/yawlfoundation/yawl/integration/orderfulfillment/PartyAgent.java
  src/org/yawlfoundation/yawl/stateless/unmarshal/YDecompositionParser.java
  src/org/yawlfoundation/yawl/unmarshal/YDecompositionParser.java
  src/org/yawlfoundation/yawl/util/HibernateEngine.java
  src/org/yawlfoundation/yawl/util/HikariCPConnectionProvider.java
  src/org/yawlfoundation/yawl/util/SafeNumberParser.java
  src/org/yawlfoundation/yawl/wsif/WSIFInvoker.java
  test/org/yawlfoundation/yawl/util/TestSafeNumberParser.java
  test/org/yawlfoundation/yawl/util/UtilTestSuite.java
  unsafe_numeric_parsing_audit.csv
Due: unittests, integrationtests

Remove 1,097 lines of dead MCP stub code (quick win)
  src/org/yawlfoundation/yawl/integration/mcp/YawlMcpServer.java
  src/org/yawlfoundation/yawl/integration/mcp/logging/McpLoggingHandler.java
  src/org/yawlfoundation/yawl/integration/mcp/resource/YawlResourceProvider.java
  src/org/yawlfoundation/yawl/integration/mcp/server/YawlServerCapabilities.java
  src/org/yawlfoundation/yawl/integration/mcp/spec/YawlCompletionSpecifications.java
  src/org/yawlfoundation/yawl/integration/mcp/spec/YawlPromptSpecifications.java
  src/org/yawlfoundation/yawl/integration/mcp/spec/YawlToolSpecifications.java
  src/org/yawlfoundation/yawl/integration/mcp/spring/YawlMcpConfiguration.java
  src/org/yawlfoundation/yawl/integration/mcp/spring/YawlMcpResource.java
  src/org/yawlfoundation/yawl/integration/mcp/spring/YawlMcpResourceRegistry.java
  src/org/yawlfoundation/yawl/integration/mcp/spring/YawlMcpSpringApplication.java
  src/org/yawlfoundation/yawl/integration/mcp/spring/YawlMcpTool.java
  src/org/yawlfoundation/yawl/integration/mcp/spring/YawlMcpToolRegistry.java
  src/org/yawlfoundation/yawl/integration/mcp/spring/resources/SpecificationsResource.java
  src/org/yawlfoundation/yawl/integration/mcp/spring/tools/LaunchCaseTool.java
  src/org/yawlfoundation/yawl/integration/mcp/stub/JacksonMcpJsonMapper.java
  src/org/yawlfoundation/yawl/integration/mcp/stub/McpSchema.java
  src/org/yawlfoundation/yawl/integration/mcp/stub/McpServer.java
  src/org/yawlfoundation/yawl/integration/mcp/stub/McpServerFeatures.java
  src/org/yawlfoundation/yawl/integration/mcp/stub/McpSyncServer.java
  src/org/yawlfoundation/yawl/integration/mcp/stub/McpSyncServerExchange.java
  src/org/yawlfoundation/yawl/integration/mcp/stub/StdioServerTransportProvider.java
  src/org/yawlfoundation/yawl/integration/mcp/stub/ZaiFunctionService.java
  src/org/yawlfoundation/yawl/integration/mcp/stub/package-info.java
  src/org/yawlfoundation/yawl/integration/mcp/zai/ZaiFunctionService.java
  yawl-integration/pom.xml
Due: unittests, integrationtests

feat: 8-agent technical debt sprint - 80/20 high-impact remediation
  DEPRECATED_MIGRATION_GUIDE.md
  deprecated_audit.csv
  src/org/yawlfoundation/yawl/elements/YTask.java
  src/org/yawlfoundation/yawl/engine/YEngine.java
  src/org/yawlfoundation/yawl/engine/YNetRunner.java
  src/org/yawlfoundation/yawl/integration/dedup/EngineDedupPlan.java
  src/org/yawlfoundation/yawl/integration/dedup/package-info.java
  src/org/yawlfoundation/yawl/util/NullCheckModernizer.java
  sync-audit-report.md
  sync-audit.csv
  test/org/yawlfoundation/yawl/integration/autonomous/AgentRegistryTest.java
  test/org/yawlfoundation/yawl/integration/autonomous/AutonomousTestSuite.java
  test/org/yawlfoundation/yawl/integration/autonomous/StaticMappingReasonerTest.java
  test/org/yawlfoundation/yawl/stateless/StatelessTestSuite.java
  test/org/yawlfoundation/yawl/stateless/YStatelessEngineSuspendResumeTest.java
  test/org/yawlfoundation/yawl/util/TestNullCheckModernizer.java
Due: unittests, integrationtests

fix: resolve 3 P0 deadlock chains in YNetRunner/YEngine/procletService
  src/org/yawlfoundation/yawl/engine/YEngine.java
  src/org/yawlfoundation/yawl/engine/YNetRunner.java
  src/org/yawlfoundation/yawl/procletService/SingleInstanceClass.java
Due: unittests, integrationtests

Phase 2: Fix HIGH violations 12-22 - error handling and logging
  src/org/yawlfoundation/yawl/elements/YMultiInstanceAttributes.java
  src/org/yawlfoundation/yawl/elements/YNet.java
  src/org/yawlfoundation/yawl/engine/interfce/AuthenticationResponseServlet.java
  src/org/yawlfoundation/yawl/engine/interfce/EngineGatewayImpl.java
  src/org/yawlfoundation/yawl/engine/interfce/ServletUtils.java
  src/org/yawlfoundation/yawl/engine/interfce/interfaceB/InterfaceB_EnvironmentBasedServer.java
  src/org/yawlfoundation/yawl/engine/interfce/interfaceX/InterfaceX_EngineSideClient.java
  src/org/yawlfoundation/yawl/engine/interfce/interfaceX/InterfaceX_ServiceSideServer.java
  src/org/yawlfoundation/yawl/schema/ResourceResolver.java
  src/org/yawlfoundation/yawl/stateless/elements/YMultiInstanceAttributes.java
  src/org/yawlfoundation/yawl/stateless/elements/YNet.java
  src/org/yawlfoundation/yawl/stateless/unmarshal/YSpecificationParser.java
  src/org/yawlfoundation/yawl/unmarshal/YSpecificationParser.java
Due: unittests, integrationtests

fix: address 17 credential security violations (HYPER_STANDARDS P0/P1)
  SECURITY.md
  src/org/yawlfoundation/yawl/engine/interfce/interfaceB/InterfaceBWebsideController.java
  src/org/yawlfoundation/yawl/engine/interfce/rest/package-info.java
  src/org/yawlfoundation/yawl/integration/a2a/YawlA2AServer.java
  src/org/yawlfoundation/yawl/integration/a2a/YawlEngineAdapter.java
  src/org/yawlfoundation/yawl/integration/autonomous/AgentFactory.java
  src/org/yawlfoundation/yawl/integration/mcp/YawlMcpServer.java
  src/org/yawlfoundation/yawl/integration/mcp/spring/YawlMcpProperties.java
  src/org/yawlfoundation/yawl/integration/mcp/spring/YawlMcpSpringApplication.java
  src/org/yawlfoundation/yawl/integration/test/SelfPlayTest.java
  src/org/yawlfoundation/yawl/procletService/editor/MainScreen.java
  src/org/yawlfoundation/yawl/security/CredentialKey.java
  src/org/yawlfoundation/yawl/security/CredentialManager.java
  src/org/yawlfoundation/yawl/security/CredentialManagerFactory.java
  src/org/yawlfoundation/yawl/security/CredentialUnavailableException.java
  src/org/yawlfoundation/yawl/security/package-info.java
  src/org/yawlfoundation/yawl/util/Argon2PasswordEncryptor.java
  src/org/yawlfoundation/yawl/util/PasswordEncryptor.java
Due: unittests, integrationtests

refactor: Java 25 modernization for source files and test suite updates
  .mvn/extensions.xml
  .mvn/jvm.config
  pom.xml
  src/org/yawlfoundation/yawl/authentication/YSessionCache.java
  src/org/yawlfoundation/yawl/engine/time/workdays/HolidayLoader.java
  test/org/yawlfoundation/yawl/database/DatabaseCompatibilityTest.java
  test/org/yawlfoundation/yawl/elements/TestYFlowsInto.java
  test/org/yawlfoundation/yawl/elements/TestYSpecification.java
  test/org/yawlfoundation/yawl/engine/EngineIntegrationTest.java
  test/org/yawlfoundation/yawl/engine/NetRunnerBehavioralTest.java
  test/org/yawlfoundation/yawl/engine/TestCaseCancellation.java
  test/org/yawlfoundation/yawl/engine/TestEngineSystem1.java
  test/org/yawlfoundation/yawl/engine/TestEngineSystem2.java
  test/org/yawlfoundation/yawl/engine/TestImproperCompletion.java
  test/org/yawlfoundation/yawl/engine/TestYNetRunner.java
  test/org/yawlfoundation/yawl/engine/TestYPersistenceManager.java
  test/org/yawlfoundation/yawl/engine/TestYWorkItem.java
  test/org/yawlfoundation/yawl/engine/VirtualThreadPinningTest.java
  test/org/yawlfoundation/yawl/engine/interfce/Interface_ClientVirtualThreadsTest.java
  test/org/yawlfoundation/yawl/exceptions/TestYAWLExceptionHandling.java
  test/org/yawlfoundation/yawl/exceptions/TestYConnectivityException.java
  test/org/yawlfoundation/yawl/integration/spiffe/SpiffeWorkloadIdentityTest.java
  test/org/yawlfoundation/yawl/miscellaneousPrograms/XPathSaxonUser.java
  test/org/yawlfoundation/yawl/patternmatching/EnumExhaustivenessTest.java
  test/org/yawlfoundation/yawl/patternmatching/InstanceofPatternTest.java
  test/org/yawlfoundation/yawl/patternmatching/PatternMatchingRegressionTest.java
  test/org/yawlfoundation/yawl/patternmatching/SwitchExpressionBranchTest.java
  test/org/yawlfoundation/yawl/patternmatching/YSpecificationPatternTest.java
  test/org/yawlfoundation/yawl/patternmatching/YTimerParametersSwitchTest.java
  test/org/yawlfoundation/yawl/patternmatching/YWorkItemSwitchTest.java
  test/org/yawlfoundation/yawl/resourcing/ResourceLogicUnitTest.java
  test/org/yawlfoundation/yawl/schema/TestSchemaHandlerValidation.java
  test/org/yawlfoundation/yawl/unmarshal/TestMetaDataMarshal.java
  test/org/yawlfoundation/yawl/workflow/WorkflowScriptsTest.java
  test/org/yawlfoundation/yawl/wsif/TestWSIFInvoker.java
  yawl-elements/pom.xml
  yawl-engine/pom.xml
  yawl-integration/pom.xml
  yawl-utilities/pom.xml
Due: unittests, integrationtests

chore: Remove tracked compiled test class artifacts
  test/org/yawlfoundation/yawl/elements/state/TestYMarking$1.class
  test/org/yawlfoundation/yawl/elements/state/TestYMarking.class
Due: none

refactor: Phase 1 engine deduplication — unify top 5 Tier-A file pairs
  src/org/yawlfoundation/yawl/elements/YTask.java
  src/org/yawlfoundation/yawl/elements/data/YVariable.java
  src/org/yawlfoundation/yawl/elements/e2wfoj/E2WFOJNet.java
  src/org/yawlfoundation/yawl/elements/predicate/PredicateEvaluator.java
  src/org/yawlfoundation/yawl/elements/predicate/PredicateEvaluatorCache.java
  src/org/yawlfoundation/yawl/elements/state/YMarking.java
  src/org/yawlfoundation/yawl/elements/state/YSetOfMarkings.java
  src/org/yawlfoundation/yawl/engine/core/data/IVariableDescriptor.java
  src/org/yawlfoundation/yawl/engine/core/data/YCoreDataValidator.java
  src/org/yawlfoundation/yawl/engine/core/elements/E2WFOJCore.java
  src/org/yawlfoundation/yawl/engine/core/elements/INetElementProvider.java
  src/org/yawlfoundation/yawl/engine/core/marking/IMarkingNet.java
  src/org/yawlfoundation/yawl/engine/core/marking/IMarkingTask.java
  src/org/yawlfoundation/yawl/engine/core/marking/YCoreMarking.java
  src/org/yawlfoundation/yawl/engine/core/marking/YCoreSetOfMarkings.java
  src/org/yawlfoundation/yawl/engine/core/marking/package-info.java
  src/org/yawlfoundation/yawl/engine/core/predicate/ICorePredicateEvaluator.java
  src/org/yawlfoundation/yawl/engine/core/predicate/YCorePredicateEvaluatorCache.java
  src/org/yawlfoundation/yawl/engine/core/predicate/package-info.java
  src/org/yawlfoundation/yawl/schema/YDataValidator.java
  src/org/yawlfoundation/yawl/stateless/elements/YTask.java
  src/org/yawlfoundation/yawl/stateless/elements/data/YVariable.java
  src/org/yawlfoundation/yawl/stateless/elements/e2wfoj/E2WFOJNet.java
  src/org/yawlfoundation/yawl/stateless/elements/marking/YMarking.java
  src/org/yawlfoundation/yawl/stateless/elements/marking/YSetOfMarkings.java
  src/org/yawlfoundation/yawl/stateless/elements/predicate/PredicateEvaluator.java
  src/org/yawlfoundation/yawl/stateless/elements/predicate/PredicateEvaluatorCache.java
  src/org/yawlfoundation/yawl/stateless/schema/YDataValidator.java
Due: unittests, integrationtests

test: execute and fix 54 Tier 1 tests — autonomous agents + stateless engine
  TIER1_TEST_RESULTS.md
  src/org/yawlfoundation/yawl/integration/autonomous/AgentRegistry.java
  src/org/yawlfoundation/yawl/integration/autonomous/reasoners/StaticMappingReasoner.java
  src/org/yawlfoundation/yawl/stateless/YStatelessEngine.java
  src/org/yawlfoundation/yawl/stateless/engine/YEngine.java
  test/org/yawlfoundation/yawl/stateless/resources/MinimalSpec.xml
Due: unittests, integrationtests

refactor: Additional Java 25 refinements for logging and procletService
  src/org/yawlfoundation/yawl/logging/YLogServer.java
  src/org/yawlfoundation/yawl/procletService/blockType/BlockCP.java
  src/org/yawlfoundation/yawl/procletService/blockType/BlockPI.java
  src/org/yawlfoundation/yawl/procletService/blockType/BlockPICreate.java
  src/org/yawlfoundation/yawl/procletService/state/Performatives.java
  src/org/yawlfoundation/yawl/schema/YSchemaVersion.java
Due: unittests, integrationtests

refactor: Java 25 refinements for stateless engine and schema
  src/org/yawlfoundation/yawl/authentication/YSessionCache.java
  src/org/yawlfoundation/yawl/schema/YSchemaVersion.java
  src/org/yawlfoundation/yawl/stateless/YStatelessEngine.java
  src/org/yawlfoundation/yawl/stateless/engine/YEngine.java
  src/org/yawlfoundation/yawl/stateless/engine/YNetRunner.java
  src/org/yawlfoundation/yawl/stateless/monitor/YCaseImportExportService.java
  yawl-elements/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
Due: unittests, integrationtests, YAWL Elements

refactor: Java 25 refinements for stateless monitor classes
  src/org/yawlfoundation/yawl/elements/YFlow.java
  src/org/yawlfoundation/yawl/stateless/monitor/YCaseImporter.java
  src/org/yawlfoundation/yawl/stateless/monitor/YCaseMonitoringService.java
Due: unittests, integrationtests

fix: JwtManager lazy init + YSessionCache null guard + elements YSetOfMarkings cleanup
  src/org/yawlfoundation/yawl/elements/state/YSetOfMarkings.java
  yawl-elements/pom.xml
  yawl-elements/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
Due: unittests, integrationtests, YAWL Elements

refactor: Java 25 refinements for elements tasks and integration SPIFFE test
  src/org/yawlfoundation/yawl/elements/YAtomicTask.java
  src/org/yawlfoundation/yawl/elements/YCompositeTask.java
  src/org/yawlfoundation/yawl/elements/YSpecification.java
  test/org/yawlfoundation/yawl/integration/spiffe/SpiffeWorkloadIdentityTest.java
Due: unittests, integrationtests

fix: Integration tests pass + Java 25 sweep for elements/util/engine sub-packages
  src/org/yawlfoundation/yawl/documentStore/DocumentStore.java
  src/org/yawlfoundation/yawl/elements/YAttributeMap.java
  src/org/yawlfoundation/yawl/elements/YCondition.java
  src/org/yawlfoundation/yawl/elements/YDecomposition.java
  src/org/yawlfoundation/yawl/elements/YMultiInstanceAttributes.java
  src/org/yawlfoundation/yawl/elements/YSpecification.java
  src/org/yawlfoundation/yawl/elements/YTask.java
  src/org/yawlfoundation/yawl/elements/data/YParameter.java
  src/org/yawlfoundation/yawl/elements/data/YVariable.java
  src/org/yawlfoundation/yawl/engine/gui/YAdminGUI.java
  src/org/yawlfoundation/yawl/engine/interfce/interfaceB/InterfaceBWebsideController.java
  src/org/yawlfoundation/yawl/integration/spiffe/SpiffeWorkloadIdentity.java
  src/org/yawlfoundation/yawl/procletService/persistence/DBConnection.java
  src/org/yawlfoundation/yawl/util/AbstractCheckSumTask.java
  src/org/yawlfoundation/yawl/util/CheckSumTask.java
  src/org/yawlfoundation/yawl/util/PluginLoaderUtil.java
  test/org/yawlfoundation/yawl/integration/spiffe/SpiffeWorkloadIdentityTest.java
  test/org/yawlfoundation/yawl/workflow/WorkflowScriptsTest.java
  yawl-elements/pom.xml
  yawl-elements/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
Due: unittests, integrationtests, YAWL Elements

refactor: Java 25 refinements for procletService editor FrmBlock
  src/org/yawlfoundation/yawl/procletService/editor/block/FrmBlock.java
Due: unittests, integrationtests

fix: yawl-elements 116 tests passing + text block XML trailing newline fixes
  src/org/yawlfoundation/yawl/elements/YNet.java
  src/org/yawlfoundation/yawl/procletService/editor/MainScreen.java
  src/org/yawlfoundation/yawl/procletService/editor/block/FrmBlock.java
  src/org/yawlfoundation/yawl/procletService/editor/block/SelectEmid.java
  test/org/yawlfoundation/yawl/resourcing/ResourceLogicUnitTest.java
  yawl-elements/pom.xml
  yawl-elements/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
  yawl-engine/pom.xml
  yawl-utilities/pom.xml
Due: unittests, integrationtests, YAWL Elements

refactor: Java 25 refinements for procletService MainScreen
  src/org/yawlfoundation/yawl/procletService/editor/MainScreen.java
  src/org/yawlfoundation/yawl/procletService/editor/WindowMenu.java
Due: unittests, integrationtests

fix: Resourcing/worklet/scheduling/monitoring tests pass + Java 25 sweep
  src/org/yawlfoundation/yawl/engine/interfce/Interface_Client.java
  src/org/yawlfoundation/yawl/procletService/editor/extra/FrmGraph.java
  src/org/yawlfoundation/yawl/procletService/editor/extra/TreeCollapseDemo.java
  src/org/yawlfoundation/yawl/procletService/editor/model/BlockEditFrame.java
  src/org/yawlfoundation/yawl/procletService/editor/model/FrmModel.java
  src/org/yawlfoundation/yawl/procletService/editor/model/PortEditFrame.java
  src/org/yawlfoundation/yawl/procletService/editor/pconns/FrmPConns.java
  src/org/yawlfoundation/yawl/procletService/editor/pconns/PConnEditFrame.java
  src/org/yawlfoundation/yawl/procletService/editor/pconns/ShowLayouts.java
  src/org/yawlfoundation/yawl/procletService/editor/pconns/VertexDemo.java
  src/org/yawlfoundation/yawl/procletService/state/Performative.java
  src/org/yawlfoundation/yawl/smsModule/SMSSender.java
  test/org/yawlfoundation/yawl/stateless/StatelessTestSuite.java
  test/org/yawlfoundation/yawl/stateless/monitor/TestYCaseMonitoringService.java
Due: unittests, integrationtests

chore: Ignore javac.*.args build artifact files
  .gitignore
Due: none

refactor: Java 25 modernization for engine health, instances, marshaller, integration, and utilities
  src/org/yawlfoundation/yawl/engine/actuator/health/YEngineHealthIndicator.java
  src/org/yawlfoundation/yawl/engine/actuator/health/YReadinessHealthIndicator.java
  src/org/yawlfoundation/yawl/engine/instance/CaseInstance.java
  src/org/yawlfoundation/yawl/engine/instance/InstanceCache.java
  src/org/yawlfoundation/yawl/engine/instance/WorkItemInstance.java
  src/org/yawlfoundation/yawl/engine/interfce/Marshaller.java
  src/org/yawlfoundation/yawl/exceptions/YAWLException.java
  src/org/yawlfoundation/yawl/integration/autonomous/observability/MetricsCollector.java
  src/org/yawlfoundation/yawl/integration/mcp/resource/YawlResourceProvider.java
  src/org/yawlfoundation/yawl/integration/mcp/spring/resources/SpecificationsResource.java
  src/org/yawlfoundation/yawl/integration/spiffe/SpiffeWorkloadApiClient.java
  src/org/yawlfoundation/yawl/mailService/MailService.java
  src/org/yawlfoundation/yawl/stateless/elements/YCondition.java
  src/org/yawlfoundation/yawl/util/CheckSummer.java
Due: unittests, integrationtests

refactor: Java 25 final sweep - integration, procletService, spiffe modules
  src/org/yawlfoundation/yawl/integration/mcp/spec/YawlPromptSpecifications.java
  src/org/yawlfoundation/yawl/integration/orderfulfillment/EligibilityWorkflow.java
  src/org/yawlfoundation/yawl/integration/orderfulfillment/PartyAgent.java
  src/org/yawlfoundation/yawl/integration/spiffe/SpiffeWorkloadIdentity.java
  src/org/yawlfoundation/yawl/integration/zai/ZaiService.java
  src/org/yawlfoundation/yawl/procletService/models/procletModel/ProcletModel.java
  src/org/yawlfoundation/yawl/procletService/persistence/DBConnection.java
Due: unittests, integrationtests

refactor: Java 25 modernization for liveness health indicator and mail service
  src/org/yawlfoundation/yawl/engine/actuator/health/YLivenessHealthIndicator.java
  src/org/yawlfoundation/yawl/mailService/MailService.java
Due: unittests, integrationtests

fix: Add missing YWorkItemStatus import in NetRunnerBehavioralTest
  test/org/yawlfoundation/yawl/engine/NetRunnerBehavioralTest.java
Due: none

fix: Correct deadlock test assertion and NetFactsType count in pattern test
  test/org/yawlfoundation/yawl/engine/NetRunnerBehavioralTest.java
  test/org/yawlfoundation/yawl/patternmatching/YSpecificationPatternTest.java
Due: none

fix: Stabilize Interface_ClientVirtualThreadsTest for reliable execution
  test/org/yawlfoundation/yawl/engine/interfce/Interface_ClientVirtualThreadsTest.java
Due: none

fix: Improve Interface_ClientVirtualThreadsTest reliability
  test/org/yawlfoundation/yawl/engine/interfce/Interface_ClientVirtualThreadsTest.java
Due: none

fix: Update TestOrJoin to match actual OR-join workflow execution semantics
  test/org/yawlfoundation/yawl/engine/TestOrJoin.java
Due: none

fix: Remove spurious continueIfPossible call before attemptToFireAtomicTask in YEngine
  src/org/yawlfoundation/yawl/engine/YEngine.java
Due: unittests, integrationtests

fix: Remove withdrawn work items from in-memory repository in YNetRunner
  src/org/yawlfoundation/yawl/engine/YNetRunner.java
Due: unittests, integrationtests

fix: Make zai exclude pattern specific to top-level directory
  yawl-integration/pom.xml
Due: none

chore: Update test files and clean maven status
  test/org/yawlfoundation/yawl/engine/NetRunnerBehavioralTest.java
  test/org/yawlfoundation/yawl/engine/TaskLifecycleBehavioralTest.java
  test/org/yawlfoundation/yawl/integration/spiffe/SpiffeWorkloadIdentityTest.java
  yawl-authentication/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
  yawl-authentication/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
  yawl-elements/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
  yawl-elements/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
Due: YAWL Elements

feat: Reconcile with claude/upgrade-v6-standards-lWvgE - 15 agent swarm
  .claude/BEST-PRACTICES-2026.md
  .claude/GAP_FIX_EXECUTION_CHECKLIST.md
  .claude/VIOLATION_REPORT.md
  COORDINATION_COMPLETION_REPORT.md
  FINAL_PRODUCTION_READINESS.md
  GAP_FIXES_COORDINATION_MANIFEST.md
  GAP_FIXES_INDEX.md
  GAP_FIXES_SUMMARY.md
  INTEGRATION_STATUS.md
  REMEDIATION_COMPLETED.md
  REMEDIATION_GUIDE.md
  SPEC_VALIDATION_REPORT.md
  UPGRADE_STRATEGY.md
  V6_DEPLOYMENT_READINESS.md
  V6_DOCUMENTATION_SUMMARY.md
  V6_UPGRADE_PATTERNS.md
  V6_VALIDATION_INDEX.md
  VALIDATION_SESSION_COMPLETE.md
  docs/architecture/decisions/ADR-012-a2a-authentication-architecture.md
  exampleSpecs/MIGRATION_GUIDE.md
  exampleSpecs/README.md
  src/org/yawlfoundation/yawl/integration/CredentialManager.java
  src/org/yawlfoundation/yawl/integration/a2a/auth/A2AAuthenticationException.java
  src/org/yawlfoundation/yawl/integration/a2a/auth/A2AAuthenticationProvider.java
  src/org/yawlfoundation/yawl/integration/a2a/auth/ApiKeyAuthenticationProvider.java
  src/org/yawlfoundation/yawl/integration/a2a/auth/AuthenticatedPrincipal.java
  src/org/yawlfoundation/yawl/integration/a2a/auth/CompositeAuthenticationProvider.java
  src/org/yawlfoundation/yawl/integration/a2a/auth/JwtAuthenticationProvider.java
  src/org/yawlfoundation/yawl/integration/a2a/auth/SpiffeAuthenticationProvider.java
  src/org/yawlfoundation/yawl/integration/a2a/auth/package-info.java
  src/org/yawlfoundation/yawl/util/AbstractEngineClient.java
  src/org/yawlfoundation/yawl/util/HibernateEngine.java
  src/org/yawlfoundation/yawl/util/StringUtil.java
  sync-audit-report.md
  yawl-authentication/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
  yawl-elements/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
Due: unittests, integrationtests, YAWL Elements
