Repository seanchatmangpt/yawl: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integrationtests, YAWL Elements, YAWL Engine, YAWL Stateless, YAWL Integration, YAWL Utilities, YAWL Resourcing, YAWL Worklet, YAWL Scheduling, YAWL Monitoring, YAWL Control Panel

Phase 6: Integration test suite for H-Guards validation
  test/org/yawlfoundation/yawl/integration/blueocean/validation/HyperStandardsValidatorTest.java
Due: none

Phase 6: Complete artifact index
  .claude/PHASE6-INDEX.md
  .claude/artifacts/phase6/INDEX.md
Due: none

Phase 6: Complete test suite with all validators
  test/org/yawlfoundation/yawl/integration/blueocean/instrumentation/OpenTelemetryMetricsInstrumentationTest.java
  test/org/yawlfoundation/yawl/integration/blueocean/validation/DataContractValidatorTest.java
Due: none

feat: Event log pipeline bridge connecting case monitoring to process mining
  src/org/yawlfoundation/yawl/integration/processmining/ProcessMiningEventBridge.java
Due: unittests, integrationtests

feat: van der Aalst conformance monitoring with fitness tracking
  src/org/yawlfoundation/yawl/integration/processmining/ConformanceMonitor.java
Due: unittests, integrationtests

Phase 6: Final untracked artifacts
  .claude/PHASE6-COMPLETION-REPORT.md
  .claude/PHASE6-DELIVERABLES.txt
  PHASE6_IMPLEMENTATION_SUMMARY.md
Due: none

feat: Evolution loop feedback orchestration and activation
  src/org/yawlfoundation/yawl/integration/evolution/EvolutionLoopActivator.java
Due: unittests, integrationtests

feat: Five-phase governance validation pipeline (Ψ→Λ→H→Q→Ω)
  src/org/yawlfoundation/yawl/integration/governance/GovernanceValidationGates.java
Due: unittests, integrationtests

Phase 4: Z.AI Integration - Steps 4-5 Complete (V7SelfPlayOrchestrator + Tests)
  test/org/yawlfoundation/yawl/integration/selfplay/V7SelfPlayLoopTest.java
  test/org/yawlfoundation/yawl/integration/selfplay/V7SelfPlayOrchestrator.java
  test/org/yawlfoundation/yawl/integration/selfplay/model/V7SimulationReport.java
Due: none

fix: Replace synchronized locks with ReentrantLock for 10M agent scale
  CONCURRENCY_ANALYSIS.md
  src/org/yawlfoundation/yawl/engine/YPersistenceManager.java
  src/org/yawlfoundation/yawl/engine/time/YTimer.java
  src/org/yawlfoundation/yawl/integration/autonomous/marketplace/ScalableAgentRegistry.java
  test/org/yawlfoundation/yawl/integration/autonomous/marketplace/ScalableAgentRegistryTest.java
  work-distribution-design.md
  yawl-engine/src/main/java/org/yawlfoundation/yawl/engine/agent/AdaptivePollingStrategy.java
  yawl-engine/src/main/java/org/yawlfoundation/yawl/engine/agent/PartitionConfig.java
  yawl-engine/src/main/java/org/yawlfoundation/yawl/engine/agent/PartitionedWorkQueue.java
  yawl-engine/src/test/java/org/yawlfoundation/yawl/engine/agent/PartitionedWorkQueueTest.java
Due: unittests, integrationtests, YAWL Engine

Phase 3a — Complete 4-Stage Capacity Test Execution
  PHASE-3A-CAPACITY-TEST-FINAL.md
  PHASE-3A-VERDICT-PROOF.md
Due: none

Feature: Add comprehensive index intersection test suite (21 tests)
  test/org/yawlfoundation/yawl/integration/autonomous/marketplace/IndexIntersectionTest.java
Due: none

docs: Phase 1-3 agent deliverables and test implementations
  .claude/IMPLEMENTATION_SUMMARY_INDEX_SYSTEM.md
  .claude/tasks/PHASE_2A_SUMMARY.md
  EXECUTION_REPORT.md
  LOCK_CHANGES_REFERENCE.md
  LOCK_MIGRATION_VERIFICATION.md
  MISSION_COMPLETE.md
  PHASE3C_INTEGRATION_TEST_REPORT.md
  yawl-engine/src/test/java/org/yawlfoundation/yawl/engine/agent/AdaptivePollingStrategyTest.java
  yawl-engine/src/test/java/org/yawlfoundation/yawl/engine/integration/Phase3cIntegrationTest.java
Due: none

docs: Phase 3a capacity test results and Phase 2a architecture summary
  .claude/ARCHITECTURE-PHASE-2A.md
  .claude/tasks/lessons.md
  PHASE-3A-DELIVERABLES-MANIFEST.md
  PHASE3C_DELIVERABLES.md
  PHASE_2B_COMPLETION_REPORT.md
Due: none

docs: Phase 2a and 2b documentation and reference guides
  .claude/PHASE-2A-INDEX.md
  .claude/QUICK-REF-PHASE-2A.md
  .claude/QUICK_REFERENCE_INDEX_SYSTEM.md
Due: none

docs: Phase 3c integration test suite complete — 6 scenarios validated
  PHASE3C_TEST_EXECUTION_SUMMARY.md
Due: none

feat: High-fidelity Rust4PM WASM wrapper with zero-copy semantics
  src/org/yawlfoundation/yawl/graalwasm/Rust4pmOcel.java
  src/org/yawlfoundation/yawl/graalwasm/Rust4pmWrapper.java
  src/org/yawlfoundation/yawl/graalwasm/package-info.java
  test/org/yawlfoundation/yawl/graalwasm/Rust4pmWrapperTest.java
Due: unittests, integrationtests

docs: Phase 3c integration test suite — completion report
  PHASE3C_COMPLETION_REPORT.md
Due: none

docs: Phase 3c index — navigation guide for all stakeholders
  PHASE3C_INDEX.md
Due: none

refactor(CLAUDE.md): compress to 49 lines with H/Q phase calculus
  CLAUDE.md
Due: none

Fix Phase 4: Chicago TDD violations in V7SelfPlayLoopTest
  test/org/yawlfoundation/yawl/integration/selfplay/V7SelfPlayLoopTest.java
Due: none

feat: Autonomic Self-Care Actions with Gregverse OT workflow discovery
  .mvn/jvm.config
  .mvn/maven-build-cache-config.xml
  pom.xml
  src/org/yawlfoundation/yawl/integration/mcp/YawlMcpServer.java
  src/org/yawlfoundation/yawl/integration/mcp/sparql/query-selfcare-workflows.sparql
  src/org/yawlfoundation/yawl/integration/mcp/spec/SelfCareToolSpecifications.java
  src/org/yawlfoundation/yawl/integration/selfcare/AutonomicSelfCareEngine.java
  src/org/yawlfoundation/yawl/integration/selfcare/BehavioralActivationPlan.java
  src/org/yawlfoundation/yawl/integration/selfcare/GregverseSearchClient.java
  src/org/yawlfoundation/yawl/integration/selfcare/OTDomain.java
  src/org/yawlfoundation/yawl/integration/selfcare/SelfCareAction.java
  src/org/yawlfoundation/yawl/integration/selfcare/package-info.java
  test/org/yawlfoundation/yawl/integration/a2a/skills/A2ASkillBenchmark.java
  test/org/yawlfoundation/yawl/integration/selfcare/AutonomicSelfCareEngineTest.java
  yawl-ggen/src/main/java/org/yawlfoundation/yawl/ggen/validation/HyperStandardsValidator.java
  yawl-integration/pom.xml
Due: unittests, integrationtests

Enhance Phase 4: Use real Z.AI infrastructure in V7SelfPlayLoopTest
  test/org/yawlfoundation/yawl/integration/selfplay/V7SelfPlayLoopTest.java
Due: none

Document complete Rust4PM public API surface for comprehensive WASM bindings
  .claude/context/rust4pm-complete-api.md
Due: none

Refine Phase 4: Trust Z.AI always available in V7SelfPlayLoopTest
  test/org/yawlfoundation/yawl/integration/selfplay/V7SelfPlayLoopTest.java
Due: none

Fix: Disable broken Maven build cache extension
  .mvn/extensions.xml
Due: none

Finalize Maven fix: Remove remote cache config
  .mvn/maven-build-cache-remote-config.xml.disabled
Due: none

Add PRD: GraalWASM + Rust Library Binding Pattern (First Principles)
  .claude/context/GraalWASM-Rust-Binding-PRD.md
Due: none

Fix malformed POM: remove invalid description tag from profile
  yawl-benchmark/pom.xml
Due: none

Merge master: resolve conflicts, fix POM, add yawl-dspy module
  pom.xml
  yawl-dspy/src/test/java/org/yawlfoundation/yawl/dspy/mcp/JsonSerializationTest.java
Due: none

feat(agent): implement Java 25 minimal agent — 1960s byte discipline
  .mvn/jvm.config
  BREAKING_POINTS.md
  pom.xml
  src/org/yawlfoundation/yawl/engine/agent/core/Agent.java
  src/org/yawlfoundation/yawl/engine/agent/core/Runtime.java
  test/org/yawlfoundation/yawl/engine/agent/core/AgentBenchmark.java
  test/org/yawlfoundation/yawl/engine/agent/core/AgentDensityStressTest.java
  test/org/yawlfoundation/yawl/engine/agent/core/AgentTest.java
  test/org/yawlfoundation/yawl/engine/agent/core/GCPressureStressTest.java
  test/org/yawlfoundation/yawl/engine/agent/core/MessageFloodStressTest.java
  test/org/yawlfoundation/yawl/engine/agent/core/RegistryChaosTest.java
  test/org/yawlfoundation/yawl/engine/agent/core/SchedulingFairnessStressTest.java
  yawl-engine/pom.xml
  yawl-engine/src/main/java/org/yawlfoundation/yawl/engine/agent/AgentEngineService.java
  yawl-engine/src/main/java/org/yawlfoundation/yawl/engine/agent/AgentRegistry.java
  yawl-engine/src/main/java/org/yawlfoundation/yawl/engine/agent/YawlAgentEngine.java
  yawl-engine/src/main/java/org/yawlfoundation/yawl/engine/agent/core/Agent.java
  yawl-engine/src/main/java/org/yawlfoundation/yawl/engine/agent/core/Runtime.java
  yawl-engine/src/test/java/org/yawlfoundation/yawl/engine/agent/core/AgentBenchmark.java
  yawl-engine/src/test/java/org/yawlfoundation/yawl/engine/agent/core/AgentDensityStressTest.java
  yawl-engine/src/test/java/org/yawlfoundation/yawl/engine/agent/core/AgentTest.java
  yawl-engine/src/test/java/org/yawlfoundation/yawl/engine/agent/core/GCPressureStressTest.java
  yawl-engine/src/test/java/org/yawlfoundation/yawl/engine/agent/core/MessageFloodStressTest.java
  yawl-engine/src/test/java/org/yawlfoundation/yawl/engine/agent/core/RegistryChaosTest.java
  yawl-engine/src/test/java/org/yawlfoundation/yawl/engine/agent/core/SchedulingFairnessStressTest.java
Due: unittests, integrationtests, YAWL Engine

fix(claude-md): add three session lessons to Λ BUILD
  CLAUDE.md
Due: none

feat: replace pm4py external integrations with in-process GraalPy bridge
  .mvn/extensions.xml
  .mvn/jvm.config
  .mvn/maven-build-cache-config.xml
  k8s/agents/pm4py-a2a-deployment.yaml
  k8s/agents/pm4py-mcp-deployment.yaml
  pom.xml
  scripts/dx.sh
  src/org/yawlfoundation/yawl/integration/mcp/spec/YawlProcessMiningToolSpecifications.java
  src/org/yawlfoundation/yawl/integration/mcp/spec/YawlPromptSpecifications.java
  src/org/yawlfoundation/yawl/integration/processmining/GraalPyProcessMiningService.java
  src/org/yawlfoundation/yawl/integration/processmining/GregverseSimulator.java
  src/org/yawlfoundation/yawl/integration/processmining/OcelExporter.java
  src/org/yawlfoundation/yawl/integration/processmining/PerformanceAnalyzer.java
  src/org/yawlfoundation/yawl/integration/processmining/Pm4py.java
  src/org/yawlfoundation/yawl/integration/processmining/ProcessMiningFacade.java
  src/org/yawlfoundation/yawl/integration/processmining/ProcessMiningServiceClient.java
  src/org/yawlfoundation/yawl/integration/processmining/TokenReplayConformanceChecker.java
  src/org/yawlfoundation/yawl/integration/processmining/performance/PerformanceAnalyzer.java
  test/org/yawlfoundation/yawl/integration/processmining/GraalPyProcessMiningServiceTest.java
  yawl-ggen/src/main/java/org/yawlfoundation/yawl/ggen/validation/HyperStandardsValidator.java
  yawl-integration/pom.xml
  yawl-integration/src/main/resources/polyglot/pm4py_bridge.py
Due: unittests, integrationtests, YAWL Integration

feat(actor-rearch): implement core Actor types and 6 messaging patterns
  yawl-engine/src/main/java/org/yawlfoundation/yawl/engine/agent/core/ActorRef.java
  yawl-engine/src/main/java/org/yawlfoundation/yawl/engine/agent/core/ActorRuntime.java
  yawl-engine/src/main/java/org/yawlfoundation/yawl/engine/agent/core/Msg.java
  yawl-engine/src/main/java/org/yawlfoundation/yawl/engine/agent/core/Supervisor.java
  yawl-engine/src/main/java/org/yawlfoundation/yawl/engine/agent/patterns/RequestReply.java
Due: YAWL Engine

Rename Agent → Actor (no logic changes)
  src/org/yawlfoundation/yawl/engine/agent/core/Actor.java
  src/org/yawlfoundation/yawl/engine/agent/core/Runtime.java
Due: unittests, integrationtests

Add ActorRef wrapper and sealed Msg hierarchy
  src/org/yawlfoundation/yawl/engine/agent/core/ActorRef.java
  src/org/yawlfoundation/yawl/engine/agent/core/ActorRuntime.java
  src/org/yawlfoundation/yawl/engine/agent/core/Msg.java
  src/org/yawlfoundation/yawl/engine/agent/core/YawlActorRuntime.java
Due: unittests, integrationtests

fix(actor-rearch): update Runtime.java to reference Actor instead of Agent
  .claude/ACTOR-INTERFACE-SPECS.md
  .claude/ACTOR-INTERFACES.md
  .claude/ACTOR-MIGRATION-CHECKLIST.md
  yawl-engine/src/main/java/org/yawlfoundation/yawl/engine/agent/core/Runtime.java
  yawl-engine/src/main/java/org/yawlfoundation/yawl/engine/agent/patterns/CompetingConsumers.java
  yawl-engine/src/main/java/org/yawlfoundation/yawl/engine/agent/patterns/DeadLetter.java
  yawl-engine/src/main/java/org/yawlfoundation/yawl/engine/agent/patterns/RoutingSlip.java
  yawl-engine/src/main/java/org/yawlfoundation/yawl/engine/agent/patterns/ScatterGather.java
  yawl-engine/src/test/java/org/yawlfoundation/yawl/engine/agent/core/ActorRefTest.java
  yawl-engine/src/test/java/org/yawlfoundation/yawl/patterns/CompetingConsumersTest.java
  yawl-engine/src/test/java/org/yawlfoundation/yawl/patterns/DeadLetterTest.java
  yawl-engine/src/test/java/org/yawlfoundation/yawl/patterns/RequestReplyTest.java
  yawl-engine/src/test/java/org/yawlfoundation/yawl/patterns/RoutingSlipTest.java
  yawl-engine/src/test/java/org/yawlfoundation/yawl/patterns/ScatterGatherTest.java
  yawl-engine/src/test/java/org/yawlfoundation/yawl/patterns/SupervisorTest.java
Due: YAWL Engine

docs(actor-rearch): add design summary and finalize Supervisor implementation
  .claude/ACTOR-MODEL-DESIGN-SUMMARY.md
  yawl-engine/src/main/java/org/yawlfoundation/yawl/engine/agent/core/Supervisor.java
Due: YAWL Engine

docs(actor-rearch): add design index and finalize all documentation
  .claude/ACTOR-DESIGN-INDEX.md
  yawl-engine/src/main/java/org/yawlfoundation/yawl/engine/agent/core/Supervisor.java
Due: YAWL Engine

docs: Add comprehensive Chicago TDD integration test documentation
  .claude/ACTOR-TDD-INTEGRATION-TESTS.md
Due: none

Path conditions:
  unittests: any of: src/, but not: test/**/*, **/*Test.java, **/*TestCase.java, **/*TestSuite.java, **/package-info.java, build/**/*, target/**/*, **/*.xml, **/*.xsd
  integrationtests: any of: src/, but not: test/**/*, **/*Test.java, **/*TestCase.java, **/*TestSuite.java, **/package-info.java, build/**/*, target/**/*, **/*.xml, **/*.xsd
  YAWL Elements: any of: yawl-elements/**, but not: test/**/*, **/*Test.java, **/*TestCase.java, **/*TestSuite.java, **/package-info.java, build/**/*, target/**/*, **/*.xml, **/*.xsd
  YAWL Engine: any of: yawl-engine/**, but not: test/**/*, **/*Test.java, **/*TestCase.java, **/*TestSuite.java, **/package-info.java, build/**/*, target/**/*, **/*.xml, **/*.xsd
  YAWL Stateless: any of: yawl-stateless/**, but not: test/**/*, **/*Test.java, **/*TestCase.java, **/*TestSuite.java, **/package-info.java, build/**/*, target/**/*, **/*.xml, **/*.xsd
  YAWL Integration: any of: yawl-integration/**, but not: test/**/*, **/*Test.java, **/*TestCase.java, **/*TestSuite.java, **/package-info.java, build/**/*, target/**/*, **/*.xml, **/*.xsd
  YAWL Utilities: any of: yawl-utilities/**, but not: test/**/*, **/*Test.java, **/*TestCase.java, **/*TestSuite.java, **/package-info.java, build/**/*, target/**/*, **/*.xml, **/*.xsd
  YAWL Resourcing: any of: yawl-resourcing/**, but not: test/**/*, **/*Test.java, **/*TestCase.java, **/*TestSuite.java, **/package-info.java, build/**/*, target/**/*, **/*.xml, **/*.xsd
  YAWL Worklet: any of: yawl-worklet/**, but not: test/**/*, **/*Test.java, **/*TestCase.java, **/*TestSuite.java, **/package-info.java, build/**/*, target/**/*, **/*.xml, **/*.xsd
  YAWL Scheduling: any of: yawl-scheduling/**, but not: test/**/*, **/*Test.java, **/*TestCase.java, **/*TestSuite.java, **/package-info.java, build/**/*, target/**/*, **/*.xml, **/*.xsd
  YAWL Monitoring: any of: yawl-monitoring/**, but not: test/**/*, **/*Test.java, **/*TestCase.java, **/*TestSuite.java, **/package-info.java, build/**/*, target/**/*, **/*.xml, **/*.xsd
  YAWL Control Panel: any of: yawl-control-panel/**, but not: test/**/*, **/*Test.java, **/*TestCase.java, **/*TestSuite.java, **/package-info.java, build/**/*, target/**/*, **/*.xml, **/*.xsd
