Repository seanchatmangpt/yawl: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integrationtests, YAWL Elements, YAWL Engine, YAWL Stateless, YAWL Integration, YAWL Utilities, YAWL Resourcing, YAWL Worklet, YAWL Scheduling, YAWL Monitoring, YAWL Control Panel

codecov.yml:

# Codecov Configuration for YAWL v5.2
# https://docs.codecov.io/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "50...100"
  
  status:
    project:
      default:
        target: 75%           # Target overall coverage
        threshold: 2%         # Allow 2% drop before failing
        base: auto
        if_not_found: success
        only_pulls: false
    
    patch:
      default:
        target: 70%           # New code should have 70%+ coverage
        threshold: 5%
        base: auto
        if_not_found: success
        only_pulls: true
    
    changes:
      default:
        if_not_found: success

  # Coverage thresholds by file
  target: auto
  
  # Minimum coverage to avoid regression
  minimum_coverage:
    project:
      default: 65%
    patch:
      default: 60%

# Comment formatting on PRs
comment:
  layout: "header, diff, files, footer"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true
  branches: null

# Files/paths to ignore
ignore:
  - "test/**/*"
  - "**/*Test.java"
  - "**/*TestCase.java"
  - "**/*TestSuite.java"
  - "**/package-info.java"
  - "build/**/*"
  - "target/**/*"
  - "**/*.xml"
  - "**/*.xsd"

# Flags for different test types
flags:
  unittests:
    paths:
      - src/
    carryforward: true
  
  integrationtests:
    paths:
      - src/
    carryforward: true

# Ignore failures from these sources
ignore_errors:
  - "jacoco"

# Notification settings
notifications:
  webhook:
    default:
      only_pulls: false
      
# Coverage display
coverage_threshold: 65%

# Module-specific targets
component_management:
  default_rules:
    statuses:
      - type: project
        target: 65%
  
  individual_components:
    # High priority modules (75% target)
    - component_id: yawl-elements
      name: YAWL Elements
      paths:
        - yawl-elements/**
      target: 75%
    
    - component_id: yawl-engine
      name: YAWL Engine
      paths:
        - yawl-engine/**
      target: 80%
    
    - component_id: yawl-stateless
      name: YAWL Stateless
      paths:
        - yawl-stateless/**
      target: 75%
    
    # Medium priority modules (70% target)
    - component_id: yawl-integration
      name: YAWL Integration
      paths:
        - yawl-integration/**
      target: 70%
    
    - component_id: yawl-utilities
      name: YAWL Utilities
      paths:
        - yawl-utilities/**
      target: 70%
    
    # Standard priority modules (65% target)
    - component_id: yawl-resourcing
      name: YAWL Resourcing
      paths:
        - yawl-resourcing/**
      target: 65%
    
    - component_id: yawl-worklet
      name: YAWL Worklet
      paths:
        - yawl-worklet/**
      target: 65%
    
    - component_id: yawl-scheduling
      name: YAWL Scheduling
      paths:
        - yawl-scheduling/**
      target: 65%
    
    - component_id: yawl-monitoring
      name: YAWL Monitoring
      paths:
        - yawl-monitoring/**
      target: 65%
    
    - component_id: yawl-control-panel
      name: YAWL Control Panel
      paths:
        - yawl-control-panel/**
      target: 65%

feat: implement 3 blue-ocean innovations — WorkletService, CapabilityMatcher, YawlSpecExporter
  pom.xml
  src/org/yawlfoundation/yawl/resourcing/AgentRoutingException.java
  src/org/yawlfoundation/yawl/resourcing/CapabilityMatcher.java
  src/org/yawlfoundation/yawl/resourcing/ResourceManager.java
  src/org/yawlfoundation/yawl/resourcing/RoutingDecision.java
  src/org/yawlfoundation/yawl/worklet/RdrSetRepository.java
  src/org/yawlfoundation/yawl/worklet/RdrXmlParser.java
  src/org/yawlfoundation/yawl/worklet/WorkletRecord.java
  src/org/yawlfoundation/yawl/worklet/WorkletSelection.java
  src/org/yawlfoundation/yawl/worklet/WorkletService.java
  src/org/yawlfoundation/yawl/worklet/WorkletServiceException.java
  test/org/yawlfoundation/yawl/resourcing/CapabilityMatcherTest.java
  test/org/yawlfoundation/yawl/worklet/WorkletServiceTest.java
  yawl-ggen/src/main/java/org/yawlfoundation/yawl/ggen/api/InMemoryJobQueue.java
  yawl-ggen/src/main/java/org/yawlfoundation/yawl/ggen/mining/ai/AiValidationLoop.java
  yawl-ggen/src/main/java/org/yawlfoundation/yawl/ggen/mining/ai/OllamaValidationClient.java
  yawl-ggen/src/main/java/org/yawlfoundation/yawl/ggen/mining/ai/ValidationExhaustedException.java
  yawl-ggen/src/main/java/org/yawlfoundation/yawl/ggen/mining/ai/ValidationResult.java
  yawl-ggen/src/main/java/org/yawlfoundation/yawl/ggen/mining/generators/ProcessExporterFactory.java
  yawl-ggen/src/main/java/org/yawlfoundation/yawl/ggen/mining/generators/YawlExportException.java
  yawl-ggen/src/main/java/org/yawlfoundation/yawl/ggen/mining/generators/YawlSpecExporter.java
  yawl-ggen/src/test/java/org/yawlfoundation/yawl/ggen/mining/ai/AiValidationLoopTest.java
  yawl-ggen/src/test/java/org/yawlfoundation/yawl/ggen/mining/ai/OllamaValidationClientTest.java
  yawl-ggen/src/test/java/org/yawlfoundation/yawl/ggen/mining/generators/YawlSpecExporterTest.java
  yawl-resourcing/pom.xml
  yawl-worklet/pom.xml
Due: unittests, integrationtests

demo: expand GgenYawlMcpA2aDemo to 7 phases, 80/20 surface area coverage
  yawl-mcp-a2a-app/src/main/java/org/yawlfoundation/yawl/mcp/a2a/example/GgenYawlMcpA2aDemo.java
Due: none

Add A2A FMEA: FM_A1–FM_A7 covering agent credentials, handoff protocol, skill access, and auth configuration
  src/org/yawlfoundation/yawl/integration/fmea/A2AFailureModeType.java
  src/org/yawlfoundation/yawl/integration/fmea/A2AFmeaAnalyzer.java
  src/org/yawlfoundation/yawl/integration/fmea/A2AFmeaReport.java
  src/org/yawlfoundation/yawl/integration/fmea/A2AFmeaViolation.java
  src/org/yawlfoundation/yawl/integration/fmea/package-info.java
  test/org/yawlfoundation/yawl/integration/fmea/A2AFmeaAnalyzerTest.java
Due: unittests, integrationtests

feat: add OpenTelemetry spans to critical YNetRunner methods
  src/org/yawlfoundation/yawl/engine/YNetRunner.java
Due: unittests, integrationtests

Add MCP FMEA (FM_M1–FM_M7) and Marketplace E2E FMEA (FM_E1–FM_E7)
  src/org/yawlfoundation/yawl/integration/fmea/MarketplaceFailureModeType.java
  src/org/yawlfoundation/yawl/integration/fmea/MarketplaceFmeaAnalyzer.java
  src/org/yawlfoundation/yawl/integration/fmea/MarketplaceFmeaReport.java
  src/org/yawlfoundation/yawl/integration/fmea/MarketplaceFmeaViolation.java
  src/org/yawlfoundation/yawl/integration/fmea/McpFailureModeType.java
  src/org/yawlfoundation/yawl/integration/fmea/McpFmeaAnalyzer.java
  src/org/yawlfoundation/yawl/integration/fmea/McpFmeaReport.java
  src/org/yawlfoundation/yawl/integration/fmea/McpFmeaViolation.java
  src/org/yawlfoundation/yawl/integration/fmea/package-info.java
  test/org/yawlfoundation/yawl/integration/fmea/MarketplaceFmeaAnalyzerTest.java
  test/org/yawlfoundation/yawl/integration/fmea/McpFmeaAnalyzerTest.java
Due: unittests, integrationtests

Fix Jackson round-trip failures in UpgradeOutcome sealed hierarchy
  src/org/yawlfoundation/yawl/integration/memory/UpgradeMemoryStore.java
Due: unittests, integrationtests

feat(demo): achieve 89/89 van der Aalst patterns passing
  yawl-mcp-a2a-app/src/main/java/org/yawlfoundation/yawl/mcp/a2a/demo/execution/ExecutionHarness.java
  yawl-mcp-a2a-app/src/main/java/org/yawlfoundation/yawl/mcp/a2a/example/ExtendedYamlConverter.java
  yawl-mcp-a2a-app/src/main/resources/patterns/aiml/wcp-60-rules-engine.yaml
  yawl-mcp-a2a-app/src/main/resources/patterns/aiml/wcp-68-auto-retrain.yaml
  yawl-mcp-a2a-app/src/main/resources/patterns/branching/wcp-8-multi-merge.yaml
  yawl-mcp-a2a-app/src/main/resources/patterns/controlflow/wcp-25-cancel-complete-mi.yaml
  yawl-mcp-a2a-app/src/main/resources/patterns/controlflow/wcp-28-structured-loop.yaml
  yawl-mcp-a2a-app/src/main/resources/patterns/controlflow/wcp-29-loop-cancel.yaml
  yawl-mcp-a2a-app/src/main/resources/patterns/controlflow/wcp-30-loop-cancel-region.yaml
  yawl-mcp-a2a-app/src/main/resources/patterns/controlflow/wcp-31-loop-complete-mi.yaml
  yawl-mcp-a2a-app/src/main/resources/patterns/controlflow/wcp-36-discriminator-complete.yaml
  yawl-mcp-a2a-app/src/main/resources/patterns/distributed/wcp-46-two-phase-commit.yaml
  yawl-mcp-a2a-app/src/main/resources/patterns/distributed/wcp-48-retry.yaml
  yawl-mcp-a2a-app/src/main/resources/patterns/distributed/wcp-50-timeout.yaml
  yawl-mcp-a2a-app/src/main/resources/patterns/enterprise/ent-8-nomination.yaml
  yawl-mcp-a2a-app/src/main/resources/patterns/multiinstance/wcp-13-mi-static.yaml
  yawl-mcp-a2a-app/src/main/resources/patterns/multiinstance/wcp-14-mi-dynamic.yaml
  yawl-mcp-a2a-app/src/main/resources/patterns/multiinstance/wcp-15-mi-runtime.yaml
  yawl-mcp-a2a-app/src/main/resources/patterns/multiinstance/wcp-17-interleaved-routing.yaml
  yawl-mcp-a2a-app/src/main/resources/patterns/multiinstance/wcp-24-complete-mi.yaml
Due: none

chore: update report.txt to 89/89 patterns (100% pass rate)
  report.txt
Due: none

test(engine): Track B — add 31 new gap-filling engine tests
  test/org/yawlfoundation/yawl/engine/DeadlockingSpecification.xml
  test/org/yawlfoundation/yawl/engine/EngineTestSuite.java
  test/org/yawlfoundation/yawl/engine/VirtualThreadPinningTest.java
  test/org/yawlfoundation/yawl/engine/YEngineNegativePathTest.java
  test/org/yawlfoundation/yawl/engine/YEngineRestorerTest.java
  test/org/yawlfoundation/yawl/engine/YNetRunnerDeadlockTest.java
Due: none

test(engine): Track A — re-enable 9 previously-excluded test classes
  src/org/yawlfoundation/yawl/engine/YNetData.java
  src/org/yawlfoundation/yawl/engine/ggen/BuildReceipt.java
  test/org/yawlfoundation/yawl/engine/CaseExecutionContextTest.java
  test/org/yawlfoundation/yawl/engine/StructuredConcurrencyParallelCaseTest.java
  test/org/yawlfoundation/yawl/engine/TestConcurrentCaseExecution.java
  test/org/yawlfoundation/yawl/engine/YCaseNbrStoreTest.java
  test/org/yawlfoundation/yawl/engine/YNetRunnerRepositoryTest.java
  test/org/yawlfoundation/yawl/engine/ggen/BuildPhaseTest.java
  test/org/yawlfoundation/yawl/engine/interfce/WorkItemMetadataTest.java
  test/org/yawlfoundation/yawl/engine/time/workdays/HolidayTest.java
  yawl-engine/pom.xml
Due: unittests, integrationtests

feat: complete YAWL modernization with Jakarta migration and observability
  Test.java
  src/org/yawlfoundation/yawl/engine/A2ACaseMonitor.java
  src/org/yawlfoundation/yawl/engine/VirtualThreadPool.java
  src/org/yawlfoundation/yawl/engine/YNetRunner.java
  src/org/yawlfoundation/yawl/engine/interfce/HttpConnectionPoolMetrics.java
  src/org/yawlfoundation/yawl/engine/interfce/interfaceB/InterfaceB_EngineBasedServer.java
  src/org/yawlfoundation/yawl/engine/interfce/interfaceX/InterfaceX_EngineSideClient.java
  src/org/yawlfoundation/yawl/engine/interfce/rest/InterfaceERestResource.java
  src/org/yawlfoundation/yawl/integration/VaultCredentialCache.java
  src/org/yawlfoundation/yawl/integration/oauth2/SecurityEventBus.java
  src/org/yawlfoundation/yawl/integration/orchestration/AgentOrchestrationService.java
  src/org/yawlfoundation/yawl/integration/zai/ZaiClientFactory.java
  src/org/yawlfoundation/yawl/logging/YEventLogger.java
  src/org/yawlfoundation/yawl/observability/AndonCord.java
  src/org/yawlfoundation/yawl/resilience/observability/FallbackObservability.java
  src/org/yawlfoundation/yawl/resilience/observability/RetryObservability.java
  src/org/yawlfoundation/yawl/stateless/engine/YEngine.java
  src/org/yawlfoundation/yawl/stateless/engine/YNetRunner.java
Due: unittests, integrationtests

feat(demo): make van der Aalst demo semantically perfect (89/89)
  report.txt
  yawl-mcp-a2a-app/src/main/java/org/yawlfoundation/yawl/mcp/a2a/example/ExtendedYamlConverter.java
  yawl-mcp-a2a-app/src/main/resources/patterns/aiml/wcp-60-rules-engine.yaml
  yawl-mcp-a2a-app/src/main/resources/patterns/enterprise/ent-8-nomination.yaml
  yawl-mcp-a2a-app/src/main/resources/patterns/multiinstance/wcp-17-interleaved-routing.yaml
  yawl-mcp-a2a-app/src/main/resources/patterns/multiinstance/wcp-24-complete-mi.yaml
Due: none

docs: add OCPM and Process Intelligence documentation
  docs/INDEX.md
  docs/explanation/object-centric-process-mining.md
  docs/explanation/process-intelligence.md
  docs/explanation/process-mining.md
  docs/how-to/integration/ocpm-integration.md
  docs/reference/mcp-process-mining-tools.md
Due: none

fix: code quality cleanup — remove dead tests, stale exclusions, duplicate package-info
  test/org/yawlfoundation/yawl/integration/mcp/McpProtocolTest.java
  test/org/yawlfoundation/yawl/integration/mcp/McpStdioTransportTest.java
  test/org/yawlfoundation/yawl/integration/mcp/YawlPromptProviderTest.java
  test/org/yawlfoundation/yawl/integration/zai/PinnedTrustManagerTest.java
  test/org/yawlfoundation/yawl/integration/zai/ZaiHttpClientCertificatePinningTest.java
  yawl-integration/pom.xml
  yawl-mcp-a2a-app/src/test/java/org/yawlfoundation/yawl/mcp/a2a/gregverse/analytics/package-info.java
Due: none

fix(tests): resolve all actionable test failures — 93.1% → 96.7% pass rate
  .claude/receipts/test-report.md
  pom.xml
  src/org/yawlfoundation/yawl/elements/YCondition.java
  src/org/yawlfoundation/yawl/elements/e2wfoj/RMarking.java
  src/org/yawlfoundation/yawl/elements/state/YInternalCondition.java
  src/org/yawlfoundation/yawl/security/ApiKeyRateLimitRegistry.java
  src/org/yawlfoundation/yawl/security/AttackPatternDetector.java
  src/org/yawlfoundation/yawl/security/SecretRotationService.java
  src/org/yawlfoundation/yawl/util/YIdentifierBag.java
  src/org/yawlfoundation/yawl/util/YPredicateParser.java
  test/org/yawlfoundation/yawl/elements/TestYAWLServiceReference.java
  test/org/yawlfoundation/yawl/elements/TestYFlowControl.java
  test/org/yawlfoundation/yawl/elements/e2wfoj/TestE2WFOJNet.java
  test/org/yawlfoundation/yawl/elements/results/CaseOutcomeTest.java
  test/org/yawlfoundation/yawl/elements/results/EventResultTest.java
  test/org/yawlfoundation/yawl/elements/results/WorkflowResultTest.java
  test/org/yawlfoundation/yawl/elements/state/TestYSetOfMarkings.java
  test/org/yawlfoundation/yawl/engine/TestYPersistenceManager.java
  test/org/yawlfoundation/yawl/engine/interfce/interfaceX/InterfaceXDeadLetterQueueTest.java
  test/org/yawlfoundation/yawl/engine/interfce/interfaceX/InterfaceXMetricsTest.java
  test/org/yawlfoundation/yawl/patternmatching/PatternMatchingPerformanceTest.java
  test/org/yawlfoundation/yawl/security/PathTraversalProtectionTest.java
  test/org/yawlfoundation/yawl/security/TestAnomalyDetectionSecurity.java
  test/org/yawlfoundation/yawl/unmarshal/TestSchemaValidation.java
  test/org/yawlfoundation/yawl/unmarshal/TestUnmarshalPerformance.java
  test/org/yawlfoundation/yawl/unmarshal/TestXmlSecurity.java
  test/org/yawlfoundation/yawl/util/TestYPredicateParser.java
  yawl-benchmark/pom.xml
  yawl-ggen/src/test/java/org/yawlfoundation/yawl/observatory/rdf/WorkflowDNAOracleTest.java
Due: unittests, integrationtests

fix: thread-safe collections and missing JSR310 dependency
  pom.xml
  src/org/yawlfoundation/yawl/engine/YNetRunner.java
Due: unittests, integrationtests

docs: update archive indexes
  .claude/archive/INDEX.md
  docs/archive/INDEX.md
Due: none

feat(mcp): wire SocialNetworkAnalyzer into PM tools + fix constructor compatibility
  src/org/yawlfoundation/yawl/integration/mcp/spec/YawlProcessMiningToolSpecifications.java
  yawl-worklet/pom.xml
Due: unittests, integrationtests

wip: Java 25 upgrade in progress - partial implementation
  pom.xml
  scripts/security-coverage-analysis.sh
  src/org/yawlfoundation/yawl/authentication/AdvancedRateLimitFilter.java
  src/org/yawlfoundation/yawl/elements/YTask.java
  src/org/yawlfoundation/yawl/engine/VirtualThreadPool.java
  src/org/yawlfoundation/yawl/engine/interfce/rest/SecurityHeadersFilter.java
  src/org/yawlfoundation/yawl/observability/SLOAlertManager.java
  src/org/yawlfoundation/yawl/observability/SLOTracker.java
  test/org/yawlfoundation/yawl/integration/mcp/McpToolIntegrationTest.java
  test/org/yawlfoundation/yawl/integration/oauth2/OAuth2ComprehensiveSecurityTest.java
  test/org/yawlfoundation/yawl/observability/SLOAlertManagerTest.java
  test/org/yawlfoundation/yawl/observability/SLOIntegrationServiceTest.java
  test/org/yawlfoundation/yawl/observability/YawlMetricsTest.java
  validateSLOTracker.sh
  verify-slo-tests.sh
  yawl-authentication/dependency-tree.txt
  yawl-control-panel/dependency-tree.txt
  yawl-elements/dependency-tree.txt
  yawl-engine/dependency-tree.txt
  yawl-ggen/dependency-tree.txt
  yawl-integration/dependency-tree.txt
  yawl-integration/pom.xml
  yawl-mcp-a2a-app/dependency-tree.txt
  yawl-monitoring/dependency-tree.txt
  yawl-monitoring/pom.xml
  yawl-resourcing/dependency-tree.txt
  yawl-scheduling/dependency-tree.txt
  yawl-security/dependency-tree.txt
  yawl-security/pom.xml
  yawl-stateless/dependency-tree.txt
  yawl-utilities/dependency-tree.txt
  yawl-webapps/dependency-tree.txt
  yawl-webapps/yawl-engine-webapp/dependency-tree.txt
  yawl-worklet/dependency-tree.txt
Due: unittests, integrationtests, YAWL Elements, YAWL Engine, YAWL Stateless, YAWL Integration, YAWL Utilities, YAWL Resourcing, YAWL Worklet, YAWL Scheduling, YAWL Monitoring, YAWL Control Panel

merge: merge remote master into jakarta-migration branch
  scripts/security-coverage-analysis.sh
  src/org/yawlfoundation/yawl/authentication/AdvancedRateLimitFilter.java
  test/org/yawlfoundation/yawl/integration/oauth2/OAuth2ComprehensiveSecurityTest.java
  test/org/yawlfoundation/yawl/observability/YawlMetricsTest.java
  validateSLOTracker.sh
  verify-slo-tests.sh
  yawl-authentication/dependency-tree.txt
  yawl-control-panel/dependency-tree.txt
  yawl-elements/dependency-tree.txt
  yawl-engine/dependency-tree.txt
  yawl-ggen/dependency-tree.txt
  yawl-integration/dependency-tree.txt
  yawl-mcp-a2a-app/dependency-tree.txt
  yawl-monitoring/dependency-tree.txt
  yawl-resourcing/dependency-tree.txt
  yawl-scheduling/dependency-tree.txt
  yawl-security/dependency-tree.txt
  yawl-stateless/dependency-tree.txt
  yawl-utilities/dependency-tree.txt
  yawl-webapps/dependency-tree.txt
  yawl-webapps/yawl-engine-webapp/dependency-tree.txt
  yawl-worklet/dependency-tree.txt
Due: unittests, integrationtests, YAWL Elements, YAWL Engine, YAWL Stateless, YAWL Integration, YAWL Utilities, YAWL Resourcing, YAWL Worklet, YAWL Scheduling, YAWL Monitoring, YAWL Control Panel

feat(a2a): add JWT handoff token validation in A2A handoff protocol
  src/org/yawlfoundation/yawl/integration/a2a/YawlA2AServer.java
  src/org/yawlfoundation/yawl/integration/a2a/auth/JwtAuthenticationProvider.java
  src/org/yawlfoundation/yawl/integration/a2a/handoff/HandoffProtocol.java
  test/org/yawlfoundation/yawl/integration/a2a/HandoffTokenValidationTest.java
Due: unittests, integrationtests

fix: update yawl-pi parent version to 6.0.0-Beta after master merge
  yawl-pi/pom.xml
Due: none

docs: add architecture review feedback for coding agents
  AGENT-FEEDBACK.md
Due: none

docs: add comprehensive architecture review for pending merge to master
  docs/architecture/PENDING-MERGE-REVIEW.md
Due: none

feat(scheduling+resourcing): add workflow scheduler and resource allocator
  pom.xml
  src/org/yawlfoundation/yawl/resourcing/AllocationException.java
  src/org/yawlfoundation/yawl/resourcing/LeastLoadedAllocator.java
  src/org/yawlfoundation/yawl/resourcing/Participant.java
  src/org/yawlfoundation/yawl/resourcing/ResourceAllocator.java
  src/org/yawlfoundation/yawl/resourcing/RoleBasedAllocator.java
  src/org/yawlfoundation/yawl/resourcing/RoundRobinAllocator.java
  src/org/yawlfoundation/yawl/scheduling/CronExpression.java
  src/org/yawlfoundation/yawl/scheduling/RecurringSchedule.java
  src/org/yawlfoundation/yawl/scheduling/ScheduledCase.java
  src/org/yawlfoundation/yawl/scheduling/WorkflowScheduler.java
  test/org/yawlfoundation/yawl/resourcing/ResourceAllocatorTest.java
  test/org/yawlfoundation/yawl/scheduling/WorkflowSchedulerTest.java
  yawl-authentication/pom.xml
  yawl-benchmark/pom.xml
  yawl-control-panel/pom.xml
  yawl-elements/pom.xml
  yawl-engine/pom.xml
  yawl-ggen/pom.xml
  yawl-integration/pom.xml
  yawl-mcp-a2a-app/pom.xml
  yawl-monitoring/pom.xml
  yawl-resourcing/pom.xml
  yawl-scheduling/pom.xml
  yawl-security/pom.xml
  yawl-stateless/pom.xml
  yawl-utilities/pom.xml
  yawl-webapps/pom.xml
  yawl-webapps/yawl-engine-webapp/pom.xml
  yawl-worklet/pom.xml
Due: unittests, integrationtests

fix: resolve 11 architecture review issues before master merge
  pom.xml
  src/org/yawlfoundation/yawl/engine/CaseContext.java
  src/org/yawlfoundation/yawl/engine/YNetRunner.java
  src/org/yawlfoundation/yawl/resourcing/ResourceManager.java
  src/org/yawlfoundation/yawl/stateless/engine/YNetRunner.java
  src/org/yawlfoundation/yawl/worklet/WorkletService.java
  test/org/yawlfoundation/yawl/resourcing/ResourceManagerExceptionTest.java
Due: unittests, integrationtests

fix: align parent version to 6.0.0-Beta after merge
  pom.xml
  yawl-integration/pom.xml
Due: none

fix: restore scripts/dx.sh to resolve merge conflict
  scripts/dx.sh
Due: none

chore: add invariant-receipt.json from validation run
  receipts/invariant-receipt.json
Due: none

docs: add CLAUDE.md SPR and TPS DoD evaluation for v6.0.0-GA
  CLAUDE.md
  docs/v6/DOD-EVALUATION-V6-GA-TPS.md
Due: none

feat(observability): add BlackSwanDetector for extreme workflow event detection
  src/org/yawlfoundation/yawl/observability/BlackSwanDetector.java
  src/org/yawlfoundation/yawl/observability/BlackSwanEvent.java
  src/org/yawlfoundation/yawl/observability/package-info.java
  test/org/yawlfoundation/yawl/observability/BlackSwanDetectorTest.java
  yawl-engine/pom.xml
Due: unittests, integrationtests

chore(yawl-pi): align parent version to 6.0.0 to resolve yawl-elements
  yawl-pi/pom.xml
Due: none

feat(lifecycle): add zero cognitive load life management system
  .mvn/maven.config
  yawl-mcp-a2a-app/src/main/java/org/yawlfoundation/yawl/mcp/a2a/demo/execution/ExecutionHarness.java
  yawl-mcp-a2a-app/src/main/java/org/yawlfoundation/yawl/mcp/a2a/lifecycle/AdvisorInsight.java
  yawl-mcp-a2a-app/src/main/java/org/yawlfoundation/yawl/mcp/a2a/lifecycle/LifeContext.java
  yawl-mcp-a2a-app/src/main/java/org/yawlfoundation/yawl/mcp/a2a/lifecycle/LifeManagementConfig.java
  yawl-mcp-a2a-app/src/main/java/org/yawlfoundation/yawl/mcp/a2a/lifecycle/LifeManagementOrchestrator.java
  yawl-mcp-a2a-app/src/main/java/org/yawlfoundation/yawl/mcp/a2a/lifecycle/LifeManagementPlan.java
  yawl-mcp-a2a-app/src/main/java/org/yawlfoundation/yawl/mcp/a2a/lifecycle/LifeManagementResult.java
  yawl-mcp-a2a-app/src/main/java/org/yawlfoundation/yawl/mcp/a2a/lifecycle/VanDerAalstPatternAdvisor.java
  yawl-mcp-a2a-app/src/main/java/org/yawlfoundation/yawl/mcp/a2a/lifecycle/WcpPatternInsight.java
  yawl-mcp-a2a-app/src/main/java/org/yawlfoundation/yawl/mcp/a2a/therapy/OTSwarmCoordinator.java
  yawl-mcp-a2a-app/src/main/java/org/yawlfoundation/yawl/mcp/a2a/therapy/OTWorkflowSpec.java
  yawl-mcp-a2a-app/src/test/java/org/yawlfoundation/yawl/mcp/a2a/lifecycle/LifeManagementOrchestratorTest.java
  yawl-stateless/pom.xml
Due: none

chore: ignore generated report.txt artefact
  .gitignore
Due: none

feat: Implement YAWL Intelligence Layer — Typed Deltas + Ticket Injection + Async Scout
  .claude/hooks/intelligence-post-edit.sh
  .claude/hooks/intelligence-pre-task.sh
  .claude/hooks/intelligence-session-start.sh
  .claude/jira/tickets/active.toml
  .claude/scout/targets.toml
  CLAUDE.md
  rust/yawl-hooks/Cargo.lock
  rust/yawl-hooks/Cargo.toml
  rust/yawl-hooks/crates/delta/Cargo.toml
  rust/yawl-hooks/crates/delta/src/lib.rs
  rust/yawl-hooks/crates/differ/Cargo.toml
  rust/yawl-hooks/crates/differ/src/lib.rs
  rust/yawl-hooks/crates/jira/Cargo.toml
  rust/yawl-hooks/crates/jira/src/lib.rs
  rust/yawl-hooks/crates/scout/Cargo.toml
  rust/yawl-hooks/crates/scout/src/lib.rs
Due: none

docs: Add intelligence layer build validation receipt
  .claude/receipts/intelligence-build.json
Due: none

feat(ι Intelligence Layer): Implement real HTTP fetch and delta satisfaction
  rust/yawl-hooks/crates/jira/src/lib.rs
  rust/yawl-hooks/crates/scout/src/lib.rs
Due: none
