Repository seanchatmangpt/yawl: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integrationtests, YAWL Elements, YAWL Engine, YAWL Stateless, YAWL Integration, YAWL Utilities, YAWL Resourcing, YAWL Worklet, YAWL Scheduling, YAWL Monitoring, YAWL Control Panel

codecov.yml:

# Codecov Configuration for YAWL v5.2
# https://docs.codecov.io/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "50...100"
  
  status:
    project:
      default:
        target: 75%           # Target overall coverage
        threshold: 2%         # Allow 2% drop before failing
        base: auto
        if_not_found: success
        only_pulls: false
    
    patch:
      default:
        target: 70%           # New code should have 70%+ coverage
        threshold: 5%
        base: auto
        if_not_found: success
        only_pulls: true
    
    changes:
      default:
        if_not_found: success

  # Coverage thresholds by file
  target: auto
  
  # Minimum coverage to avoid regression
  minimum_coverage:
    project:
      default: 65%
    patch:
      default: 60%

# Comment formatting on PRs
comment:
  layout: "header, diff, files, footer"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true
  branches: null

# Files/paths to ignore
ignore:
  - "test/**/*"
  - "**/*Test.java"
  - "**/*TestCase.java"
  - "**/*TestSuite.java"
  - "**/package-info.java"
  - "build/**/*"
  - "target/**/*"
  - "**/*.xml"
  - "**/*.xsd"

# Flags for different test types
flags:
  unittests:
    paths:
      - src/
    carryforward: true
  
  integrationtests:
    paths:
      - src/
    carryforward: true

# Ignore failures from these sources
ignore_errors:
  - "jacoco"

# Notification settings
notifications:
  webhook:
    default:
      only_pulls: false
      
# Coverage display
coverage_threshold: 65%

# Module-specific targets
component_management:
  default_rules:
    statuses:
      - type: project
        target: 65%
  
  individual_components:
    # High priority modules (75% target)
    - component_id: yawl-elements
      name: YAWL Elements
      paths:
        - yawl-elements/**
      target: 75%
    
    - component_id: yawl-engine
      name: YAWL Engine
      paths:
        - yawl-engine/**
      target: 80%
    
    - component_id: yawl-stateless
      name: YAWL Stateless
      paths:
        - yawl-stateless/**
      target: 75%
    
    # Medium priority modules (70% target)
    - component_id: yawl-integration
      name: YAWL Integration
      paths:
        - yawl-integration/**
      target: 70%
    
    - component_id: yawl-utilities
      name: YAWL Utilities
      paths:
        - yawl-utilities/**
      target: 70%
    
    # Standard priority modules (65% target)
    - component_id: yawl-resourcing
      name: YAWL Resourcing
      paths:
        - yawl-resourcing/**
      target: 65%
    
    - component_id: yawl-worklet
      name: YAWL Worklet
      paths:
        - yawl-worklet/**
      target: 65%
    
    - component_id: yawl-scheduling
      name: YAWL Scheduling
      paths:
        - yawl-scheduling/**
      target: 65%
    
    - component_id: yawl-monitoring
      name: YAWL Monitoring
      paths:
        - yawl-monitoring/**
      target: 65%
    
    - component_id: yawl-control-panel
      name: YAWL Control Panel
      paths:
        - yawl-control-panel/**
      target: 65%

docs: Add production deployment index and summary for Java 25-only architecture
  .claude/PRODUCTION_DEPLOYMENT_INDEX.md
  .claude/PRODUCTION_DEPLOYMENT_SUMMARY.md
Due: none

docs: Add final deliverable manifest for 1M agent milestone
  .claude/DELIVERABLE_MANIFEST.txt
Due: none

docs: Pure Java 25 single JVM architecture for 1M agents (no external dependencies)
  .claude/PURE_JAVA25_SINGLE_JVM.md
Due: none

feat: Pure Java 25 agent engine - core implementation (5 parallel agents)
  yawl-engine/src/main/java/org/yawlfoundation/yawl/engine/agent/AgentState.java
  yawl-engine/src/main/java/org/yawlfoundation/yawl/engine/agent/AgentStatus.java
  yawl-engine/src/main/java/org/yawlfoundation/yawl/engine/agent/HeartbeatConfig.java
  yawl-engine/src/main/java/org/yawlfoundation/yawl/engine/agent/Place.java
  yawl-engine/src/main/java/org/yawlfoundation/yawl/engine/agent/Transition.java
  yawl-engine/src/main/java/org/yawlfoundation/yawl/engine/agent/WorkItem.java
  yawl-engine/src/main/java/org/yawlfoundation/yawl/engine/agent/WorkItemStatus.java
  yawl-engine/src/main/java/org/yawlfoundation/yawl/engine/agent/WorkflowDef.java
  yawl-engine/src/test/java/org/yawlfoundation/yawl/engine/agent/AgentRegistryTest.java
  yawl-engine/src/test/java/org/yawlfoundation/yawl/engine/agent/WorkDiscoveryTest.java
  yawl-engine/src/test/java/org/yawlfoundation/yawl/engine/agent/WorkItemPartitionerTest.java
Due: YAWL Engine

Fix all compilation errors in yawl-dspy module
  yawl-dspy/src/main/java/org/yawlfoundation/yawl/dspy/PythonDspyBridge.java
  yawl-dspy/src/main/java/org/yawlfoundation/yawl/dspy/adaptation/RuntimeAdaptationAgent.java
  yawl-dspy/src/main/java/org/yawlfoundation/yawl/dspy/forensics/AnomalyForensicsEngine.java
  yawl-dspy/src/main/java/org/yawlfoundation/yawl/dspy/learning/CaseExampleExtractor.java
  yawl-dspy/src/main/java/org/yawlfoundation/yawl/dspy/learning/CaseLearningBootstrapper.java
  yawl-dspy/src/main/java/org/yawlfoundation/yawl/dspy/mcp/DspyMcpTools.java
  yawl-dspy/src/main/java/org/yawlfoundation/yawl/dspy/mcp/GepaMcpTools.java
  yawl-dspy/src/main/java/org/yawlfoundation/yawl/dspy/persistence/DspySavedProgram.java
  yawl-dspy/src/main/java/org/yawlfoundation/yawl/dspy/persistence/GepaProgramEnhancer.java
Due: none

Implement Observatory v6 — Codebase Instrument & Fact Generator
  scripts/observatory/lib/emit-diagrams.sh
  scripts/observatory/lib/emit-facts.sh
  scripts/observatory/lib/emit-receipt.sh
  scripts/observatory/lib/utils.sh
  scripts/observatory/observatory.sh
Due: none

Fix reactor.json to correctly map module artifact IDs
  scripts/observatory/lib/emit-facts.sh
Due: none

docs: comprehensive diataxis index update with full documentation coverage
  docs/diataxis/INDEX.md
Due: none

feat: Agent implementation phase 1 - core models and registry (partial, compilation errors)
  yawl-engine/pom.xml
  yawl-engine/src/main/java/org/yawlfoundation/yawl/engine/agent/AgentLifecycle.java
  yawl-engine/src/main/java/org/yawlfoundation/yawl/engine/agent/AgentRegistry.java
  yawl-engine/src/main/java/org/yawlfoundation/yawl/engine/agent/AgentState.java
  yawl-engine/src/main/java/org/yawlfoundation/yawl/engine/agent/HeartbeatManager.java
  yawl-engine/src/main/java/org/yawlfoundation/yawl/engine/agent/VirtualThreadConfig.java
  yawl-engine/src/main/java/org/yawlfoundation/yawl/engine/agent/WorkDiscoveryService.java
  yawl-engine/src/main/java/org/yawlfoundation/yawl/engine/agent/WorkItemPartitioner.java
  yawl-engine/src/main/java/org/yawlfoundation/yawl/engine/agent/YawlAgentEngine.java
  yawl-engine/src/main/java/org/yawlfoundation/yawl/engine/api/YawlEngineApplication.java
  yawl-engine/src/main/java/org/yawlfoundation/yawl/engine/api/controller/AgentController.java
  yawl-engine/src/main/java/org/yawlfoundation/yawl/engine/api/controller/HealthController.java
  yawl-engine/src/main/java/org/yawlfoundation/yawl/engine/api/controller/WorkItemController.java
  yawl-engine/src/main/java/org/yawlfoundation/yawl/engine/api/dto/AgentDTO.java
  yawl-engine/src/main/java/org/yawlfoundation/yawl/engine/api/dto/HealthDTO.java
  yawl-engine/src/main/java/org/yawlfoundation/yawl/engine/api/dto/MetricsDTO.java
  yawl-engine/src/main/java/org/yawlfoundation/yawl/engine/api/dto/WorkItemCreateDTO.java
  yawl-engine/src/main/java/org/yawlfoundation/yawl/engine/api/dto/WorkItemDTO.java
  yawl-engine/src/main/java/org/yawlfoundation/yawl/engine/api/dto/WorkflowDefDTO.java
  yawl-engine/src/test/java/org/yawlfoundation/yawl/engine/agent/AgentStateTest.java
  yawl-engine/src/test/java/org/yawlfoundation/yawl/engine/agent/PlaceTest.java
  yawl-engine/src/test/java/org/yawlfoundation/yawl/engine/agent/TransitionTest.java
  yawl-engine/src/test/java/org/yawlfoundation/yawl/engine/agent/VirtualThreadExecutorTest.java
  yawl-engine/src/test/java/org/yawlfoundation/yawl/engine/agent/WorkItemTest.java
  yawl-engine/src/test/java/org/yawlfoundation/yawl/engine/agent/WorkflowDefTest.java
Due: YAWL Engine

feat: Pure Java 25 agent engine - complete implementation (5 agents, Phase 2)
  yawl-engine/src/main/java/org/yawlfoundation/yawl/engine/agent/AgentRegistry.java
  yawl-engine/src/main/java/org/yawlfoundation/yawl/engine/agent/HeartbeatManager.java
  yawl-engine/src/main/java/org/yawlfoundation/yawl/engine/agent/WorkDiscoveryService.java
  yawl-engine/src/main/java/org/yawlfoundation/yawl/engine/agent/WorkItemPartitioner.java
  yawl-engine/src/main/java/org/yawlfoundation/yawl/engine/agent/WorkItemQueue.java
  yawl-engine/src/main/java/org/yawlfoundation/yawl/engine/api/controller/package-info.java
  yawl-engine/src/main/java/org/yawlfoundation/yawl/engine/api/dto/package-info.java
  yawl-engine/src/main/resources/application.properties
  yawl-engine/src/test/java/org/yawlfoundation/yawl/engine/api/AgentControllerTest.java
  yawl-engine/src/test/java/org/yawlfoundation/yawl/engine/api/HealthControllerTest.java
  yawl-engine/src/test/java/org/yawlfoundation/yawl/engine/api/WorkItemControllerTest.java
Due: YAWL Engine

Implement SAFe AI-Native agent simulation with YAWL v6
  src/org/yawlfoundation/yawl/integration/safe/agent/AgentCapability.java
  src/org/yawlfoundation/yawl/integration/safe/agent/SAFeAgentRole.java
  src/org/yawlfoundation/yawl/integration/safe/registry/SAFeAgentRegistry.java
  src/org/yawlfoundation/yawl/safe/agents/AgentDecision.java
  src/org/yawlfoundation/yawl/safe/agents/ProductOwnerAgent.java
  src/org/yawlfoundation/yawl/safe/agents/SAFeSprint.java
  src/org/yawlfoundation/yawl/safe/agents/UserStory.java
  src/org/yawlfoundation/yawl/safe/agents/package-info.java
  src/test/java/org/yawlfoundation/yawl/safe/agents/SAFeAgentSimulationTest.java
Due: unittests, integrationtests

Add ScrumMasterAgent implementation for SAFe ceremony facilitation
  src/org/yawlfoundation/yawl/safe/agents/ScrumMasterAgent.java
Due: unittests, integrationtests

Add SAFeCeremonyData test fixtures for SAFe agent simulation
  src/test/java/org/yawlfoundation/yawl/safe/agents/SAFeCeremonyData.java
Due: unittests, integrationtests

Add DeveloperAgent implementation for SAFe team execution
  src/org/yawlfoundation/yawl/safe/agents/DeveloperAgent.java
Due: unittests, integrationtests

docs: Agent 5 implementation documentation
  yawl-engine/AGENT5_FILES.txt
  yawl-engine/DEPLOYMENT_CHECKLIST.md
  yawl-engine/IMPLEMENTATION_SUMMARY.md
  yawl-engine/REST_API.md
Due: YAWL Engine

Add SAFeAgentCard for agent capability declaration and registration
  src/org/yawlfoundation/yawl/integration/safe/agent/SAFeAgentCard.java
Due: unittests, integrationtests

Add SAFeCeremonyExecutor for ceremony orchestration testing
  src/test/java/org/yawlfoundation/yawl/safe/agents/SAFeCeremonyExecutor.java
Due: unittests, integrationtests

Add SystemArchitectAgent and SAFeCeremonyOrchestrator for architecture management
  src/org/yawlfoundation/yawl/integration/safe/orchestration/SAFeCeremonyOrchestrator.java
  src/org/yawlfoundation/yawl/safe/agents/SystemArchitectAgent.java
  src/test/java/org/yawlfoundation/yawl/safe/agents/SAFeCeremonyExecutor.java
Due: unittests, integrationtests

Add ReleaseTrainEngineerAgent and SAFe message types for PI orchestration
  src/org/yawlfoundation/yawl/integration/safe/messages/CeremonyMessage.java
  src/org/yawlfoundation/yawl/integration/safe/messages/StoryCeremonyMessage.java
  src/org/yawlfoundation/yawl/safe/agents/ReleaseTrainEngineerAgent.java
Due: unittests, integrationtests

Add DependencyNotification message for cross-feature coordination
  src/org/yawlfoundation/yawl/integration/safe/messages/DependencyNotification.java
Due: unittests, integrationtests

Add BlockerNotification, SAFeAgentBootstrap, and SAFeAgentRegistry
  src/org/yawlfoundation/yawl/integration/safe/messages/BlockerNotification.java
  src/org/yawlfoundation/yawl/safe/agents/SAFeAgentBootstrap.java
  src/org/yawlfoundation/yawl/safe/agents/SAFeAgentRegistry.java
Due: unittests, integrationtests

Add AcceptanceDecision message for story completion workflows
  src/org/yawlfoundation/yawl/integration/safe/messages/AcceptanceDecision.java
Due: unittests, integrationtests

Begin H-Guards Phase Implementation — Core Components
  yawl-ggen/src/main/java/org/yawlfoundation/yawl/ggen/validation/GuardChecker.java
  yawl-ggen/src/main/java/org/yawlfoundation/yawl/ggen/validation/JavaAstToRdfConverter.java
  yawl-ggen/src/main/java/org/yawlfoundation/yawl/ggen/validation/RegexGuardChecker.java
  yawl-ggen/src/main/java/org/yawlfoundation/yawl/ggen/validation/SparqlGuardChecker.java
  yawl-ggen/src/main/java/org/yawlfoundation/yawl/ggen/validation/model/GuardReceipt.java
  yawl-ggen/src/main/java/org/yawlfoundation/yawl/ggen/validation/model/GuardSummary.java
  yawl-ggen/src/main/java/org/yawlfoundation/yawl/ggen/validation/model/GuardViolation.java
Due: none

Add PiPlanningEvent and finalize SAFe ceremony test suite
  src/org/yawlfoundation/yawl/integration/safe/messages/PiPlanningEvent.java
  src/org/yawlfoundation/yawl/integration/safe/orchestration/CeremonyEventListener.java
  src/test/java/org/yawlfoundation/yawl/safe/agents/SAFeAgentSimulationTest.java
Due: unittests, integrationtests

Final: Add architecture documentation and agent packages
  .claude/architecture/SAFE-AI-NATIVE-SIMULATION.md
  src/org/yawlfoundation/yawl/integration/safe/agent/package-info.java
  src/org/yawlfoundation/yawl/integration/safe/registry/package-info.java
  src/org/yawlfoundation/yawl/safe/agents/SAFE_AGENTS_README.md
  src/test/java/org/yawlfoundation/yawl/safe/agents/SAFeAgentSimulationTest.java
Due: unittests, integrationtests

Add package documentation for SAFe ceremony messages
  src/org/yawlfoundation/yawl/integration/safe/messages/package-info.java
Due: none

Add SAFeAgent base class and ceremony orchestration documentation
  src/org/yawlfoundation/yawl/integration/safe/agent/SAFeAgent.java
  src/org/yawlfoundation/yawl/integration/safe/orchestration/package-info.java
  src/test/java/org/yawlfoundation/yawl/safe/agents/SAFeAgentSimulationTest.java
Due: unittests, integrationtests

Add SAFe message schema and agent lifecycle management
  .claude/agents/safe-roles/product-owner.toml
  SAFE_AGENTS_IMPLEMENTATION_GUIDE.md
  schema/safe-messages.xsd
  src/org/yawlfoundation/yawl/integration/safe/agent/SAFeAgentLifecycle.java
Due: unittests, integrationtests

Add Scrum Master agent configuration card
  .claude/agents/safe-roles/scrum-master.toml
Due: none

Add Release Train Engineer card, event infrastructure, and edge case tests
  .claude/agents/safe-roles/architect.toml
  .claude/agents/safe-roles/release-train-engineer.toml
  src/org/yawlfoundation/yawl/integration/safe/event/SAFeEventBus.java
  src/org/yawlfoundation/yawl/integration/safe/event/SAFeEventListener.java
  src/test/java/org/yawlfoundation/yawl/safe/agents/SAFeEdgeCasesTest.java
Due: unittests, integrationtests

Implement H-Guards phase orchestrator for YAWL v6 ggen validation pipeline
  yawl-ggen/src/main/java/org/yawlfoundation/yawl/ggen/validation/HyperStandardsValidator.java
  yawl-ggen/src/main/resources/sparql/guards-h-empty.sparql
  yawl-ggen/src/main/resources/sparql/guards-h-fallback.sparql
  yawl-ggen/src/main/resources/sparql/guards-h-lie.sparql
  yawl-ggen/src/main/resources/sparql/guards-h-stub.sparql
  yawl-ggen/src/test/java/org/yawlfoundation/yawl/ggen/validation/HyperStandardsValidatorTest.java
Due: none

feat(wcp-18): Complete Track Case Milestone implementation - 5-agent team completion
  schema/YAWL_Schema4.0.xsd
  src/org/yawlfoundation/yawl/elements/patterns/MilestoneGuardOperator.java
  src/org/yawlfoundation/yawl/elements/patterns/YMilestoneCondition.java
  src/org/yawlfoundation/yawl/elements/patterns/YMilestoneGuardedTask.java
  src/org/yawlfoundation/yawl/elements/patterns/package-info.java
  src/org/yawlfoundation/yawl/integration/mcp/event/McpWorkflowEventPublisher.java
  test/org/yawlfoundation/yawl/integration/a2a/milestone/AIMQMilestoneAdapterTest.java
  test/org/yawlfoundation/yawl/integration/a2a/milestone/MilestoneStateMessageTest.java
  test/org/yawlfoundation/yawl/integration/mcp/timeline/CaseTimelineIntegrationTest.java
  test/org/yawlfoundation/yawl/schema/MilestoneSchemaValidationTest.java
  test/org/yawlfoundation/yawl/schema/milestones/invalid-milestone-operator.xml
  test/org/yawlfoundation/yawl/schema/milestones/valid-milestone-condition.xml
  test/org/yawlfoundation/yawl/schema/milestones/valid-milestone-or-guard.xml
  test/org/yawlfoundation/yawl/schema/milestones/valid-milestone-xor-guard.xml
Due: unittests, integrationtests

Add H-Guards Phase Architecture & Design Documentation
  .claude/plans/H-GUARDS-ARCHITECTURE.md
  .claude/plans/H-GUARDS-CONTRACT-REFERENCE.md
  .claude/plans/H-GUARDS-IMPLEMENTATION-SUMMARY.md
  .claude/plans/H-GUARDS-QUICK-START.md
  .claude/plans/README.md
Due: none

Add H-Guards Implementation Report
  IMPLEMENTATION_REPORT_H_GUARDS.md
Due: none

Fix blocking issues from code quality review (BLOCK-1 through BLOCK-7, SEC-2)
  .claude/architecture/INDEX-SAFE.md
  .claude/architecture/README-SAFE-ARCHITECTURE.md
  .claude/architecture/SAFE-IMPLEMENTATION-GUIDE.md
  SAFE_INTEGRATION_SUMMARY.md
  src/org/yawlfoundation/yawl/integration/autonomous/AgentConfiguration.java
  src/org/yawlfoundation/yawl/integration/autonomous/GenericPartyAgent.java
  src/org/yawlfoundation/yawl/integration/safe/README.md
  src/org/yawlfoundation/yawl/safe/agents/AgentDecision.java
  src/org/yawlfoundation/yawl/safe/agents/DeveloperAgent.java
  src/org/yawlfoundation/yawl/safe/agents/INDEX.md
  src/org/yawlfoundation/yawl/safe/agents/ProductOwnerAgent.java
  src/org/yawlfoundation/yawl/safe/agents/QUICK_START.md
  src/test/java/org/yawlfoundation/yawl/safe/agents/README.md
  src/test/java/org/yawlfoundation/yawl/safe/agents/SAFeAgentCapabilityTest.java
  src/test/java/org/yawlfoundation/yawl/safe/agents/TESTING-PATTERNS.md
Due: unittests, integrationtests

fix(wcp-18): Core engine violations - H_STUB, H_FALLBACK, Q invariant enforcement
  exampleSpecs/MILESTONE_PATTERN_GUIDE.md
  schema/MILESTONE_XSD_CHANGES.md
  src/org/yawlfoundation/yawl/elements/patterns/MilestoneGuardOperator.java
  src/org/yawlfoundation/yawl/elements/patterns/YMilestoneCondition.java
  src/org/yawlfoundation/yawl/elements/patterns/YMilestoneGuardedTask.java
  src/org/yawlfoundation/yawl/integration/a2a/milestone/AIMQMilestoneAdapter.java
  src/org/yawlfoundation/yawl/integration/a2a/milestone/MilestoneStateMessage.java
  src/org/yawlfoundation/yawl/integration/a2a/milestone/package-info.java
Due: unittests, integrationtests

feat(wcp-18): Complete MCP/A2A integration - milestone event publishing & timeline visualization
  .claude/WCP-18-COMPLETION-REPORT.md
  src/test/java/org/yawlfoundation/yawl/elements/patterns/MilestoneGuardOperatorTest.java
  src/test/java/org/yawlfoundation/yawl/elements/patterns/YMilestoneConditionTest.java
  src/test/java/org/yawlfoundation/yawl/elements/patterns/YMilestoneGuardedTaskTest.java
  src/test/java/org/yawlfoundation/yawl/engine/patterns/WcpBusinessPatterns10to18Test.java
Due: none

docs: add final diataxis files from remaining agents (C & D)
  docs/diataxis/INDEX.md
  docs/explanation/integration-architecture.md
  docs/explanation/yawl-elements-domain-model.md
  docs/explanation/yawl-worklet-architecture.md
Due: none
