Repository seanchatmangpt/yawl: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integrationtests, YAWL Elements, YAWL Engine, YAWL Stateless, YAWL Integration, YAWL Utilities, YAWL Resourcing, YAWL Worklet, YAWL Scheduling, YAWL Monitoring, YAWL Control Panel

Phase 4: Additional infrastructure and test fixes - agent improvements
  .mvn/extensions.xml
  .mvn/maven.config
  src/org/yawlfoundation/yawl/elements/YCondition.java
  src/org/yawlfoundation/yawl/elements/YFlow.java
  src/org/yawlfoundation/yawl/elements/YMultiInstanceAttributes.java
  src/org/yawlfoundation/yawl/elements/YSpecVersion.java
  src/org/yawlfoundation/yawl/elements/YTask.java
  src/org/yawlfoundation/yawl/elements/YTimerParameters.java
  src/org/yawlfoundation/yawl/elements/data/YParameter.java
  src/org/yawlfoundation/yawl/elements/data/YVariable.java
  src/org/yawlfoundation/yawl/engine/interfce/Interface_Client.java
  src/org/yawlfoundation/yawl/unmarshal/YMetaData.java
  src/org/yawlfoundation/yawl/util/JDOMUtil.java
  test/org/yawlfoundation/yawl/elements/TestYFlowsInto.java
  test/org/yawlfoundation/yawl/elements/TestYSpecification.java
  test/org/yawlfoundation/yawl/elements/TestYTimerParametersParsing.java
  test/org/yawlfoundation/yawl/engine/EngineIntegrationTest.java
  test/org/yawlfoundation/yawl/engine/NetRunnerBehavioralTest.java
  test/org/yawlfoundation/yawl/engine/TestCaseCancellation.java
  test/org/yawlfoundation/yawl/engine/TestEngineSystem1.java
  test/org/yawlfoundation/yawl/engine/TestEngineSystem2.java
  test/org/yawlfoundation/yawl/engine/TestImproperCompletion.java
  test/org/yawlfoundation/yawl/engine/TestOrJoin.java
  test/org/yawlfoundation/yawl/engine/TestYNetRunner.java
  test/org/yawlfoundation/yawl/engine/TestYWorkItem.java
  test/org/yawlfoundation/yawl/engine/VirtualThreadPinningTest.java
  test/org/yawlfoundation/yawl/engine/interfce/Interface_ClientVirtualThreadsTest.java
  test/org/yawlfoundation/yawl/exceptions/TestYConnectivityException.java
  test/org/yawlfoundation/yawl/schema/TestSchemaHandlerValidation.java
  test/org/yawlfoundation/yawl/stateless/StatelessEngineCaseMonitorTest.java
  test/org/yawlfoundation/yawl/unmarshal/TestMetaDataMarshal.java
  test/org/yawlfoundation/yawl/unmarshal/TestYMarshal.java
  yawl-elements/pom.xml
  yawl-engine/pom.xml
  yawl-integration/pom.xml
  yawl-stateless/pom.xml
  yawl-utilities/pom.xml
Due: unittests, integrationtests

Add target/ directories to .gitignore
  .gitignore
Due: none

Improve stop hook feedback message clarity
  .claude/hooks/stop-hook-git-check.sh
Due: none

Code cleanup: Fix formatting and pattern matching in YNet classes
  src/org/yawlfoundation/yawl/elements/YNet.java
  src/org/yawlfoundation/yawl/stateless/elements/YNet.java
Due: unittests, integrationtests

Update stop hook untracked files feedback message
  .claude/hooks/stop-hook-git-check.sh
Due: none

Add comprehensive Java 25 best practices and build optimization documentation
  .claude/ADVANCED_ANALYSIS_CONFIG_2026.md
  .claude/ARCHITECTURE-PATTERNS-JAVA25.md
  .claude/BEST-PRACTICES-2026.md
  .claude/BUILD-PERFORMANCE.md
  .claude/BUILD_TESTING_INDEX.md
  .claude/BUILD_TESTING_QUICK_GUIDE.md
  .claude/BUILD_TESTING_RESEARCH_2025-2026.md
  .claude/JAVA-25-FEATURES.md
  .claude/MAVEN_PLUGINS_CONFIG_2026.xml
  .claude/README-BUILD-TESTING-2026.md
  .claude/RESEARCH_DELIVERY_SUMMARY.txt
  .claude/SECURITY-CHECKLIST-JAVA25.md
  CLAUDE.md
Due: none

Update .claude documentation with comprehensive cross-references and navigation
  .claude/ARCHITECTURE-PATTERNS-JAVA25.md
  .claude/BUILD-PERFORMANCE.md
  .claude/INDEX.md
  .claude/JAVA-25-FEATURES.md
  .claude/SECURITY-CHECKLIST-JAVA25.md
Due: none

Update agents and skills with Java 25 integration
  .claude/agents/AGENTS_REFERENCE.md
  .claude/skills/manifest.json
  .claude/skills/yawl-java25/SKILL.md
  .claude/skills/yawl-security/SKILL.md
Due: none

Launch SOC2 compliance automation with 5 specialized agents
  COMPLIANCE_AUDIT_PACKAGE.md
  COMPLIANCE_VALIDATION_SUMMARY.md
  README_COMPLIANCE_AUDIT.txt
  SOC2_VALIDATION_CHECKLIST.txt
  YAWL_SOC2_COMPLIANCE_REPORT.txt
  test/org/yawlfoundation/yawl/soc2/ApiKeyAuthenticationProviderTest.java
  test/org/yawlfoundation/yawl/soc2/AuditEventTest.java
  test/org/yawlfoundation/yawl/soc2/AuthenticatedPrincipalTest.java
  test/org/yawlfoundation/yawl/soc2/CompositeAuthenticationProviderTest.java
  test/org/yawlfoundation/yawl/soc2/CredentialManagerFactoryTest.java
  test/org/yawlfoundation/yawl/soc2/CsrfTokenManagerTest.java
  test/org/yawlfoundation/yawl/soc2/JwtAuthenticationProviderTest.java
  test/org/yawlfoundation/yawl/soc2/Soc2ComplianceTestSuite.java
  test/org/yawlfoundation/yawl/soc2/TestHttpExchange.java
Due: none

Add Java ecosystem improvements: 80/20 DX/UX/QOL non-code infrastructure
  .editorconfig
  .github/workflows/quality-gates.yml
  .gitignore
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/inspectionProfiles/Project_Default.xml
  .mvn/extensions.xml
  .mvn/versions-rules.xml
  .mvn/wrapper/maven-wrapper.properties
  DEPENDENCIES.md
  DEVELOPMENT.md
  QUALITY.md
  build.sh
  checkstyle-suppressions.xml
  checkstyle.xml
  docs/BUILD.md
  docs/CONFIGURATION_VERIFICATION.md
  docs/CONTRIBUTING.md
  docs/DEVELOPER_DOCUMENTATION_SUMMARY.md
  docs/QUICK-START.md
  docs/README.md
  docs/TESTING.md
  docs/TROUBLESHOOTING.md
  install-hooks.sh
  pmd-exclusions.properties
  pmd-ruleset.xml
  pom-module-template.xml
  pom.xml
  scripts/install-hooks.sh
  scripts/pre-commit-hook.sh
  setup-dev.sh
  test.sh
  yawl-security/pom.xml
Due: none

chore: Remove tracked build artifacts from target/ directories
  yawl-authentication/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
  yawl-elements/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
  yawl-elements/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
Due: YAWL Elements

Fix all 5 CRITICAL and 6 HIGH SOC2 audit security findings
  build/engine/web.xml
  build/properties/hibernate.properties
  src/org/yawlfoundation/yawl/authentication/CsrfTokenManager.java
  src/org/yawlfoundation/yawl/authentication/RateLimitFilter.java
  src/org/yawlfoundation/yawl/authentication/SecurityAuditLogger.java
  src/org/yawlfoundation/yawl/authentication/YSessionCache.java
  src/org/yawlfoundation/yawl/elements/data/external/SimpleExternalDataGatewayImpl.java
  src/org/yawlfoundation/yawl/engine/interfce/interfaceB/InterfaceB_EnvironmentBasedServer.java
  src/org/yawlfoundation/yawl/engine/interfce/rest/CorsFilter.java
  src/org/yawlfoundation/yawl/engine/interfce/rest/SecurityHeadersFilter.java
  src/org/yawlfoundation/yawl/integration/a2a/YawlA2AClient.java
  src/org/yawlfoundation/yawl/integration/a2a/YawlA2AServer.java
  src/org/yawlfoundation/yawl/integration/a2a/YawlEngineAdapter.java
  src/org/yawlfoundation/yawl/mailSender/MailSender.java
  src/org/yawlfoundation/yawl/mailSender/Send.jsp
  src/org/yawlfoundation/yawl/util/DOMUtil.java
  test/org/yawlfoundation/yawl/authentication/TestSecurityFixes.java
  test/org/yawlfoundation/yawl/engine/interfce/rest/TestCorsFilterSecurity.java
  test/org/yawlfoundation/yawl/util/TestDOMUtilXxeProtection.java
Due: unittests, integrationtests

Complete SOC2 compliance remediation: 8 critical violations fixed
  .mvn/extensions.xml
  DEPLOYMENT.md
  build/procletService/editor.properties
  build/schedulingService/properties/yawl.properties
  build/twitterService/twitter4j.properties
  pom.xml
  scripts/start-engine-java25-tuned.sh
  src/jdbc.properties
  src/org/yawlfoundation/yawl/engine/YDefClientsLoader.java
  src/org/yawlfoundation/yawl/engine/YNetRunner.java
  src/org/yawlfoundation/yawl/engine/YNetRunnerLockMetrics.java
  src/org/yawlfoundation/yawl/engine/YWorkItemRepository.java
  src/org/yawlfoundation/yawl/engine/YWorkItemStatusIndex.java
  src/org/yawlfoundation/yawl/engine/interfce/HttpConnectionPoolMetrics.java
  src/org/yawlfoundation/yawl/engine/interfce/Interface_Client.java
  src/org/yawlfoundation/yawl/engine/interfce/YHttpServlet.java
  src/org/yawlfoundation/yawl/engine/interfce/rest/CorsFilter.java
  src/org/yawlfoundation/yawl/integration/VaultCredentialCache.java
  src/org/yawlfoundation/yawl/mailSender/WebMail.jsp
  src/org/yawlfoundation/yawl/security/EnvironmentCredentialManager.java
  src/org/yawlfoundation/yawl/security/HibernatePropertiesOverrider.java
  src/org/yawlfoundation/yawl/util/DOMUtil.java
  test/org/yawlfoundation/yawl/engine/interfce/rest/TestCorsFilterValidation.java
  test/org/yawlfoundation/yawl/mailSender/TestWebMailErrorHandling.java
  test/org/yawlfoundation/yawl/performance/Soc2PerformanceOptimizationTest.java
  test/org/yawlfoundation/yawl/soc2/CsrfProtectionFilterTest.java
  test/org/yawlfoundation/yawl/soc2/DocumentSignerTest.java
  test/org/yawlfoundation/yawl/soc2/Soc2ComplianceTestSuite.java
  test/org/yawlfoundation/yawl/soc2/Soc2RemediationTest.java
  test/org/yawlfoundation/yawl/soc2/SpiffeAuthenticationProviderTest.java
  test/org/yawlfoundation/yawl/soc2/TestHttpsExchange.java
  test/org/yawlfoundation/yawl/util/TestDOMUtilXxeProtection.java
  yawl-security/pom.xml
Due: unittests, integrationtests

Add diagram generation script and v6 architecture diagrams
  docs/v6/diagrams/INDEX.md
  docs/v6/diagrams/build-lifecycle.mmd
  docs/v6/diagrams/ci-gates.mmd
  docs/v6/diagrams/facts/ci-jobs.txt
  docs/v6/diagrams/facts/modules.txt
  docs/v6/diagrams/facts/schema-version.txt
  docs/v6/diagrams/module-dependencies.mmd
  docs/v6/diagrams/reactor-map.mmd
  docs/v6/diagrams/test-topology.mmd
  docs/v6/diagrams/yawl/build-and-test.yawl.xml
  tools/gen_v6_diagrams.sh
Due: none

Resolve merge conflicts: preserve SOC2 security fixes while integrating with master
  src/org/yawlfoundation/yawl/elements/predicate/PredicateEvaluatorCache.java
  src/org/yawlfoundation/yawl/integration/mcp/sdk/McpServer.java
  src/org/yawlfoundation/yawl/integration/mcp/sdk/McpServerFeatures.java
  src/org/yawlfoundation/yawl/integration/mcp/sdk/McpSyncServer.java
  src/org/yawlfoundation/yawl/stateless/elements/predicate/PredicateEvaluatorCache.java
  src/org/yawlfoundation/yawl/util/MailSettings.java
  yawl-security/pom.xml
Due: unittests, integrationtests

Add V6 Code Analysis Observatory with Makefile control plane
  Makefile
  docs/v6/latest/INDEX.md
  docs/v6/latest/diagrams/10-maven-reactor.mmd
  docs/v6/latest/diagrams/15-shared-src-map.mmd
  docs/v6/latest/diagrams/16-dual-family-map.mmd
  docs/v6/latest/diagrams/17-deps-conflicts.mmd
  docs/v6/latest/diagrams/30-test-topology.mmd
  docs/v6/latest/diagrams/40-ci-gates.mmd
  docs/v6/latest/diagrams/50-risk-surfaces.mmd
  docs/v6/latest/diagrams/yawl/build-and-test.yawl.xml
  docs/v6/latest/facts/deps-conflicts.json
  docs/v6/latest/facts/dual-family.json
  docs/v6/latest/facts/duplicates.json
  docs/v6/latest/facts/gates.json
  docs/v6/latest/facts/maven-hazards.json
  docs/v6/latest/facts/modules.json
  docs/v6/latest/facts/reactor.json
  docs/v6/latest/facts/shared-src.json
  docs/v6/latest/facts/tests.json
  docs/v6/latest/receipts/observatory.json
  scripts/diagnostics/analyze-dependency-conflicts.sh
  scripts/observatory/lib/emit-diagrams.sh
  scripts/observatory/lib/emit-facts.sh
  scripts/observatory/lib/emit-receipt.sh
  scripts/observatory/lib/emit-yawl-xml.sh
  scripts/observatory/lib/util.sh
  scripts/observatory/observatory.sh
Due: none

Add verify receipt and update observatory outputs from validation run
  docs/v6/latest/INDEX.md
  docs/v6/latest/diagrams/yawl/build-and-test.yawl.xml
  docs/v6/latest/receipts/observatory.json
  docs/v6/latest/receipts/verify.json
Due: none

Fix 5 FMEA-identified defects in observatory fact generators
  docs/v6/latest/INDEX.md
  docs/v6/latest/diagrams/yawl/build-and-test.yawl.xml
  docs/v6/latest/facts/gates.json
  docs/v6/latest/facts/shared-src.json
  docs/v6/latest/facts/tests.json
  docs/v6/latest/receipts/observatory.json
  scripts/observatory/lib/emit-facts.sh
  scripts/observatory/lib/emit-receipt.sh
Due: none

Add Ψ (Observatory) instrument protocol to CLAUDE.md and .claude/
  .claude/OBSERVATORY.md
  CLAUDE.md
Due: none

Quicksave.
  .github/workflows/diagrams.yml
  Makefile
  docs/v6/THESIS-YAWL-V6-ARCHITECTURE-ANALYSIS.md
  docs/v6/THESIS-YAWL-V6-COMPETITIVE-ADVANTAGE-2026.md
  docs/v6/latest/diagrams/yawl/build-and-test-VALIDATION_REPORT.md
  reports/conflicts-2026-02-17.csv
  reports/dependency-conflicts-2026-02-17.json
  reports/dependency-conflicts-2026-02-17.md
  reports/dependency-conflicts-summary.txt
  reports/raw-dependency-tree-2026-02-17.txt
  scripts/observatory/lib/emit-integration-diagrams.sh
  scripts/observatory/lib/emit-receipts.sh
Due: none

Quicksave.
  docs/v6/latest/diagrams/10-maven-reactor.mmd
  docs/v6/latest/facts/reactor.json
  pom.xml
  src/org/yawlfoundation/yawl/controlpanel/YControlPanel.java
  src/org/yawlfoundation/yawl/controlpanel/package-info.java
  yawl-authentication/pom.xml
  yawl-control-panel/pom.xml
  yawl-elements/pom.xml
  yawl-engine/pom.xml
  yawl-integration/pom.xml
  yawl-monitoring/pom.xml
  yawl-resourcing/pom.xml
  yawl-scheduling/pom.xml
  yawl-security/pom.xml
  yawl-stateless/pom.xml
  yawl-utilities/pom.xml
  yawl-webapps/pom.xml
  yawl-webapps/yawl-engine-webapp/pom.xml
  yawl-worklet/pom.xml
Due: unittests, integrationtests

fix: Replace grep -P with POSIX-compatible alternatives for macOS/BSD
  docs/v6/latest/INDEX.md
  docs/v6/latest/diagrams/10-maven-reactor.mmd
  docs/v6/latest/diagrams/yawl/build-and-test.yawl.xml
  docs/v6/latest/facts/integration-facts.json
  docs/v6/latest/facts/modules.json
  docs/v6/latest/facts/reactor.json
  docs/v6/latest/facts/static-analysis.json
  docs/v6/latest/performance/performance-report.json
  docs/v6/latest/performance/summary.json
  docs/v6/latest/receipts/observatory.json
  docs/v6/performance-history/performance-history.jsonl
  docs/v6/static-analysis-history/history.jsonl
  scripts/observatory/lib/emit-integration-diagrams.sh
  scripts/observatory/lib/emit-metrics.sh
  scripts/observatory/lib/emit-yawl-xml.sh
  scripts/observatory/lib/util.sh
  scripts/observatory/tests/observatory_test.sh
Due: none

Fix POM/test/file inclusion issues - Observatory-guided
  docs/v6/latest/facts/maven-hazards.json
  docs/v6/latest/facts/modules.json
  docs/v6/latest/facts/shared-src.json
  docs/v6/latest/facts/tests.json
  yawl-control-panel/pom.xml
  yawl-elements/pom.xml
  yawl-integration/pom.xml
  yawl-monitoring/pom.xml
  yawl-resourcing/pom.xml
  yawl-scheduling/pom.xml
  yawl-security/pom.xml
  yawl-worklet/pom.xml
Due: none

DX: Add JaCoCo enforcement + Javadoc + Spotless to build
  .mvn/maven.config
  pom.xml
Due: none

DX: Add git hooks installer for pre-commit/pre-push enforcement
  scripts/install-git-hooks.sh
Due: none

DX: Add coverage dashboard instrument to Observatory
  docs/v6/latest/facts/coverage.json
  scripts/observatory/lib/emit-coverage.sh
  scripts/observatory/lib/emit-facts.sh
  scripts/observatory/observatory.sh
Due: none

DX: Add build profiler and coverage ASCII dashboard scripts
  scripts/build-profiler.sh
  scripts/coverage-report.sh
Due: none

DX: Add Developer Quickstart and Contributing guide
  .claude/DEVELOPER-QUICKSTART.md
  docs/CONTRIBUTING.md
  docs/v6/latest/INDEX.md
Due: none

DX: Enhance Maven enforcer rules and add dependency health check
  docs/v6/latest/INDEX.md
  docs/v6/latest/facts/coverage.json
  docs/v6/latest/facts/gates.json
  pom.xml
  scripts/check-deps.sh
Due: none

DX: Add failsafe integration tests (*IT.java) for yawl-integration
  test/org/yawlfoundation/yawl/integration/YMcpServerAvailabilityIT.java
  test/org/yawlfoundation/yawl/integration/YSpecificationLoadingIT.java
  test/org/yawlfoundation/yawl/integration/YStatelessEngineApiIT.java
  yawl-integration/pom.xml
Due: none

docs(tutorials): Add Diataxis tutorials — build from source and module navigation
  docs/tutorials/01-build-yawl.md
  docs/tutorials/02-understand-the-build.md
Due: none

docs(explanation): Add Diataxis explanations — shared-src strategy and dual-engine architecture
  docs/explanation/dual-engine-architecture.md
  docs/explanation/shared-src-build-strategy.md
Due: none

docs: Apply Diataxis framework — master index and structure
  docs/diataxis/INDEX.md
  docs/diataxis/README.md
  docs/tutorials/.gitkeep
Due: none

docs(reference): Add Diataxis Observatory fact file schema reference
  docs/reference/observatory-facts.md
Due: none

Add ROADMAP.md with 5-phase 24-month development plan
  ROADMAP.md
Due: none

Path conditions:
  unittests: any of: src/, but not: test/**/*, **/*Test.java, **/*TestCase.java, **/*TestSuite.java, **/package-info.java, build/**/*, target/**/*, **/*.xml, **/*.xsd
  integrationtests: any of: src/, but not: test/**/*, **/*Test.java, **/*TestCase.java, **/*TestSuite.java, **/package-info.java, build/**/*, target/**/*, **/*.xml, **/*.xsd
  YAWL Elements: any of: yawl-elements/**, but not: test/**/*, **/*Test.java, **/*TestCase.java, **/*TestSuite.java, **/package-info.java, build/**/*, target/**/*, **/*.xml, **/*.xsd
  YAWL Engine: any of: yawl-engine/**, but not: test/**/*, **/*Test.java, **/*TestCase.java, **/*TestSuite.java, **/package-info.java, build/**/*, target/**/*, **/*.xml, **/*.xsd
  YAWL Stateless: any of: yawl-stateless/**, but not: test/**/*, **/*Test.java, **/*TestCase.java, **/*TestSuite.java, **/package-info.java, build/**/*, target/**/*, **/*.xml, **/*.xsd
  YAWL Integration: any of: yawl-integration/**, but not: test/**/*, **/*Test.java, **/*TestCase.java, **/*TestSuite.java, **/package-info.java, build/**/*, target/**/*, **/*.xml, **/*.xsd
  YAWL Utilities: any of: yawl-utilities/**, but not: test/**/*, **/*Test.java, **/*TestCase.java, **/*TestSuite.java, **/package-info.java, build/**/*, target/**/*, **/*.xml, **/*.xsd
  YAWL Resourcing: any of: yawl-resourcing/**, but not: test/**/*, **/*Test.java, **/*TestCase.java, **/*TestSuite.java, **/package-info.java, build/**/*, target/**/*, **/*.xml, **/*.xsd
  YAWL Worklet: any of: yawl-worklet/**, but not: test/**/*, **/*Test.java, **/*TestCase.java, **/*TestSuite.java, **/package-info.java, build/**/*, target/**/*, **/*.xml, **/*.xsd
  YAWL Scheduling: any of: yawl-scheduling/**, but not: test/**/*, **/*Test.java, **/*TestCase.java, **/*TestSuite.java, **/package-info.java, build/**/*, target/**/*, **/*.xml, **/*.xsd
  YAWL Monitoring: any of: yawl-monitoring/**, but not: test/**/*, **/*Test.java, **/*TestCase.java, **/*TestSuite.java, **/package-info.java, build/**/*, target/**/*, **/*.xml, **/*.xsd
  YAWL Control Panel: any of: yawl-control-panel/**, but not: test/**/*, **/*Test.java, **/*TestCase.java, **/*TestSuite.java, **/package-info.java, build/**/*, target/**/*, **/*.xml, **/*.xsd
